<!-- views/partials/nav.ejs -->
  <h1 style="text-align: center; font-size: 48px; font-weight: bold; font-family: serif;">Sheet Music International Archives</h1>
    <p style="font-family: times; font-weight: bold; font-size: 24px; text-align: center;"> Free downloadable public domain sheet music.  </p>
<table width="72%" style="margin-left: 14%"><tr>
  <td style=" background-color: #C0C0C0; border:3px solid black; height: 104px; width: 90%" class="form-inline">
  <div >
  <form action="/search" method="POST" >
  <input type="text" name="file">
  <input type="submit" value="Search">
</form>             </div>
    <span style="width: 75%">          
      <b> <font size="4" face="Blackadder ITC"> 
            <a href="/">Home</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face="Blackadder ITC"> 
            <a href="index.html">Major Composere</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face="Blackadder ITC"> 
            <a href="index.html">  Repertoire </span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face="Blackadder ITC"> 
            <a href="index.html">School Music</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face="Blackadder ITC"> 
            <a href="/faq">FAQ</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face="Blackadder ITC"> 
            <a href="index.html">Log In</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face="Blackadder ITC"> 
            <a href="index.html">Upload Music</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face="Blackadder ITC"> 
            <a href="index.html">Donate</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
    </span>
    </span>
    <div align="left"><b><font size="4"
                            face="Blackadder ITC">Other Composers
                            Director &nbsp;&nbsp; <a href="/ab">A-B</a>,&nbsp;
                            <a href="/ce">C-E</a>,&nbsp;
                            <a href="/fh">F-H</a>,&nbsp;
                            <a href="/in">I-N</a>,&nbsp;
                            <a href="/or">O-R</a>,&nbsp;
                            <a href="/sz">S-Z</a>&nbsp;&nbsp;&nbsp;</font></b><b><font
                            size="4" face="Blackadder ITC"></font></b></div>    
                            
</td>
</tr>
</table>