<!-- views/partials/nav.ejs -->

<table width="100%" class="navbar-fixed-top navbar-default "><tr>
  <td>
  <div class="pull-right">
  <form action="/search" method="POST" >
  <select name="ipTypeList">
        <option value="public">Public Music</option>
        <option value="all">All Music</option>
        </select>
  <input type="text" name="file">
  <input type="submit" value="Search">
</form>     
</div>     
    <div style="width: 75%">          
      <b> <font size="4" face=" ITC"> 
            <a href="/">Home</span></a>
            <span style="text-transform: capitalize"> &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">Major Composer</span></a>
            <span style="text-transform: capitalize"> &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="/repertoire-instrumental">  Repertoire </span></a>
            <span style="text-transform: capitalize">  &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">School Music</span></a>
            <span style="text-transform: capitalize">  &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="/faq">FAQ</span></a>
            <span style="text-transform: capitalize">  &nbsp; </span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a  href="#" onclick="lock.show();">Login</span></a>
            <span style="text-transform: capitalize">  &nbsp; </span>
          </font>
      </b>
      <!-- https://javs.auth0.com/v2/logout?returnTo=http%3A%2F%2Fwww.example.com -->
      <b> <font size="4" face=" ITC"> 
            <a  href="https://javs.auth0.com/v2/logout" >Logout</span></a>
            <span style="text-transform: capitalize">  &nbsp; </span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">Upload Music</span></a>
            <span style="text-transform: capitalize">  &nbsp; </span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="/donate">Donate</span></a>
            <span style="text-transform: capitalize">  &nbsp; </span>
          </font>
      </b>
    </span>
    </div>
    <div align="left"><b><font size="4"
                            face=" ITC">Other Composers
                            Directories &nbsp;&nbsp; <a href="/ab">A-B</a>,&nbsp;
                            <a href="/ce">C-E</a>,&nbsp;
                            <a href="/fh">F-H</a>,&nbsp;
                            <a href="/in">I-N</a>,&nbsp;
                            <a href="/or">O-R</a>,&nbsp;
                            <a href="/sz">S-Z</a>&nbsp;&nbsp;&nbsp;</font></b><b><font
                            size="4" face=" ITC"></font></b></div>    
                            
</td>
</tr>
</table>
<div class="jumbotron jumbo-custom">
<h1 style="text-align: center; font-size: 48px; font-weight: bold; font-family: serif;">Sheet Music International Archives</h1>
    <p style="font-family: times; font-weight: bold; font-size: 24px; text-align: center;"> Free downloadable public domain sheet music.  </p>
</div>
<!-- 
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Z4228V58QA94Q">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
-->