<!--Begin right-side bar-->
        <div align="center">
          <font  face="Times New Roman" style="font-size: 25px;"><b> Site Map</b></font><br /></div>
          <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Music Archives:</b></font>        
          <br />        
          <div style="text-align: left; margin-left: 15px">
          <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Home</a></font><br />
          <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Major Composers</a></font><br />
          <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Other Composers </a></font><br />
          <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Repertoire</a></font><br />
          <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">School Music </a></font><br />
          <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">FAQ</a></font><br />
          <font style="font-size: 18px; font-family: courier">&#9675; <a href="/donate" style="font-size: 19px; font-family: times">Donate</a></font><br />
        </div>
    </div>
    <!--end first row-->
    <br />
    <!--Begin second right-side bar-->
    <div>
      <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Member Services: </b></font>    
      <br />        
        <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Log In</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Create Account </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Edit Account info</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Create Add</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Upload Music(Public)</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Report violation CR</a></font><br />
         <form action="/" method="POST" enctype="multipart/form-data">
          <input type="file" name="avatar">
          <input type="submit" value="submit">
        </form>
      </div>  
      <br />
    </div>
    <!--end second row-->
    <!--Begin third right-side bar-->
      <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Personal Library: </b></font>    
      <br />        
      <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Upload Music (private)</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Download music  </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Download Library</a></font><br />
      </div>
    <!--End third row-->

    <!--Begin fourth right-side bar-->
    <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Music for Sale or Rent: </b></font>    
      <br />        
      <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Upload Music (for sale)</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Replace or edit a work   </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Set purchase parameters  </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Payment  details  </a></font><br />
      </div>
    <!--End fourth row-->