.jumbotron {
    margin-bottom: 0px;
    background-image: url('todo/images/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

#category1{
    background-image: url('todo/images/category.png');
}
#category2{
      background-image: url('todo/images/category.png');
}
#category3{
      background-image: url('todo/images/category.png');
}
#category4{
      background-image: url('todo/images/category.png');
}
#category5{
      background-image: url('todo/images/category.png');
}
#category6{
      background-image: url('todo/images/category.png');
}

.category{
  width: 300px;
  height:200px;
  border: 1px solid;
  background-size:contain;
}