<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <% include ../views/partials/nav %>



  <div>
  <div class="col-md-10 col-md-offset-1">

    <table class="table table-striped">
      <thead>  
            <tr>  
                <th>Filename</th>  
                <th>Size (bytes)</th>  
            </tr>  
        </thead> 
        <tbody>
           <% files.forEach((file) => {%>
        <% if(file.filename.charAt(0).toLowerCase() == 's' || file.filename.charAt(0).toLowerCase() == 't' ||
        file.filename.charAt(0).toLowerCase() == 'u' || file.filename.charAt(0).toLowerCase() == 'v' || file.filename.charAt(0).toLowerCase() == 'w' || file.filename.charAt(0).toLowerCase() == 'x' || file.filename.charAt(0).toLowerCase() == 'y' || file.filename.charAt(0).toLowerCase() == 'z') { console.log(file.filename) %>
        <tr>
          <td>
            <a href="/file/<%= file._id %>" >
              <%= file.filename.replace(/\.[^/.]+$/, "") %>
           </a>
          </td>
          <td>
            <h4 ><%= file.length %></h4>
          </td>
        </tr>
          <p class="list-group-item-text"><%= file.id %></p>

        <% } %>
   <%  }) %>
        </tbody>
    </table>


   
 
                  











    
    </div>



  </div>
  <div class="col-md-12">
  <footer>
          <div align="center">
          Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
          </div>
         
  </footer>
  </div>
</body>
</html>
