<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
  body {
      background: transparent url(http://www.mutopiaproject.org/images/bg-darker.jpg) repeat scroll 30% -15%;
  background-repeat: repeat;
}
  </style>
</head>
<body>
      <% include ../views/partials/nav %>



  <div>
  <div>
    <% files.forEach((file) => {%>
        <% if(file.filename.charAt(0).toLowerCase() == 's' || file.filename.charAt(0).toLowerCase() == 't' ||
        file.filename.charAt(0).toLowerCase() == 'u' || file.filename.charAt(0).toLowerCase() == 'v' || file.filename.charAt(0).toLowerCase() == 'w' || file.filename.charAt(0).toLowerCase() == 'x' || file.filename.charAt(0).toLowerCase() == 'y' || file.filename.charAt(0).toLowerCase() == 'z') { console.log(file.filename) %>
 <a href="/file/<%= file._id %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= file.filename.replace(/\.[^/.]+$/, "") %></h4>
      <p class="list-group-item-text"><%= file.id %></p>
        <% } %>
   <%  }) %>
   </a>
    </div>
  </div>
  <footer>
          <div align="center">
          Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
          </div>
         
  </footer>
  
</body>
</html>
