<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sheet Music International</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body id="page-top">

<!--Well-->
<% include ../views/partials/nav %>

  <br />
<table style="margin-left: 5px">
  <tr>
    <td width="15%" style="margin-left: 15px; padding-top: 12px" valign="top">
      <div >
        <br />
        <!--Begin right-side bar-->
        <div align="center">
        <font  face="Times New Roman" style="font-size: 25px;"><b> Site Map</b></font><br /></div>
        <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Music Archives:</b></font>        
        <br />        
        <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Home</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Major Composers</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Other Composers </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Repertoire</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">School Music </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">FAQ</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Donate</a></font><br />
      </div>
    </div>
    <!--end first row-->
    <br />
    <!--Begin second right-side bar-->
    <div>
      <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Member Services: </b></font>    
      <br />        
        <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Log In</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Create Account </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Edit Account info</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Create Add</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Upload Music(Public)</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Report violation CR</a></font><br />
         <form action="/" method="POST" enctype="multipart/form-data">
          <input type="file" name="avatar">
          <input type="submit" value="submit">
        </form>
      </div>  
      <br />
    </div>
    <!--end second row-->
    <!--Begin third right-side bar-->
      <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Personal Library: </b></font>    
      <br />        
      <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Upload Music (private)</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Download music  </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Download Library</a></font><br />
      </div>
    <!--End third row-->

    <!--Begin fourth right-side bar-->
    <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Music for Sale or Rent: </b></font>    
      <br />        
      <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Upload Music (for sale)</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Replace or edit a work   </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Set purchase parameters  </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Payment  details  </a></font><br />
      </div>
    <!--End fourth row-->
    
    </td>

    <td width="80%" valign="top">
        <font size="+2" style="text-align: center;"><b>Frequently Asked Questions</b></font><br />
        <br />
        <br />
        <p style="font: bold;"><b>What music is free to download?</b></p>
        <p>All music that is in the public domain and music under copyright made available to the public by the copyright owner.</p>
        <p style="font: bold;"><b>Why should I register for an account?</b></p>
          <p>Having your own account allows you to store your personal music online for quick reference. You can also download your library onto a new music reader or computer, provides you the ability to purchase music for sale/rent, collect royalties-fees, or advertise business services.   If you are using an electronic music reader it may also allow you to store markings such as fingerings too. 
          Registered users may contribute to the online library by uploading music. (Please be generous. If you have something we are missing, please upload and share it. 
          Without registering individuals are limited to downloading PD music only.</p>
        <p style="font: bold;"><b>Do you share our e-mail or other information with associates?</b></p>
        <p>No.  Your information is used internally only.   We do not share with associates or distribute personal information.
</p>
        <p style="font: bold;"><b>What is Major Composers verses Other Composers?</b></p>
        <p>These are directories of main stream composers.  Major Composers, is a directory of composers that are most popular downloads.  The Other Composers is a directory of other main stream composers.</p>
        <p style="font: bold;"><b>What is the School Music Directory?</b></p>
        <p>Music designed for classroom use.  Includes simplified arrangements, works written for level 1,2,3, and 4 band/strings/orchestra, methods and teaching materials including scales and etudes. Includes PD (free) music.</p>

        <p style="font: bold;"><b>I lost my Password.  How do I obtain access?</b></p>
        <p>Don't lose it!!   Choose something you can remember.  We can send out a password reset to the e-mail you have on file, but if you have changed your e-mail and did not update your account with us, we wouldn't have any way to send you a temporary password.</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<!--Carl seal start-->
<div align="center"> <br>
  <img alt="" src="http://sheetmusicinternational.com/images/Carl-Seal-Low-Res.jpg" height="205" width="200">
</div>
    </td>
    <!--Advertise here section (right hand side bar)-->
    <td>
      <table height="214" width="237" style="margin-right: 15px">
              <tbody>
                <tr>
                  <td valign="top" width="100%" style="text-align: center;"> <br />
                    Advertise here<br>
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top" style="border:1px solid black; "><br>
                            <br>
                            <br>
                            Full size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <table height="187" width="228" cellpadding="2"
                      cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            Half size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    .<br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
    </td>
  </tr>
<!--end body-->
<!--begin footer-->
  <tr>
    <td>&nbsp;</td>
    <td valign="top" align="center">
      Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
    </td>
  </tr>
  <!--end footer-->
  </table>   
<br />
<br />
<br />
    <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<style type="text/css">
  body {
      background: transparent url(http://sheetmusicinternational.com/images/background%20music%20sheets.jpg) ;

  background-repeat: repeat;
}
  </style>
</body>
</html>
