<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta name="generator" content="Microsoft FrontPage 5.0">
    <meta http-equiv="Content-Type" content="text/html;
      charset=windows-1252">
    <meta name="keywords" content="Free Sheet Music, IMSLP, Sheet Music,
      international sheet music, Sheet Music Plus, string quartet music,
      orchestra music, band music, music school, trios, duets, quartets,
      solos, keyboard, sheet music violin, sheet music viola, sheet
      music cello, American String Teachers Association, sheet music
      bass, sheet music flute, sheet music clarinet, sheet music, oboe,
      sheet music english horn, sheet music bassoon, sheet music
      trumpet, ASTA, NEMC, sheet music trombone, sheet music tuba, sheet
      music brass, sheet music quintet, quintet, piano music, piano
      sheet music, piano quartets, piano trios, sheet music piano trio,
      sheet music piano quartet, piano accompaniments, sheet music piano
      accompaniments,">
    <title>Sheet Music International</title>
    <meta name="Description" content="Free Downloadable Sheet Music, or
      upload and sell your own music">
    <meta name="robots" content="INDEX, FOLLOW">
    <style type="text/css">
  body {
      background: transparent url(http://www.mutopiaproject.org/images/bg-darker.jpg) repeat scroll 30% -15%;

  background-repeat: repeat;
}
  </style>
  </head>
  <body style="text-align: center;">
    <table width="100%" cellpadding="2" cellspacing="2">
      <tbody>
        <tr>
          <td colspan="3" rowspan="1" valign="top">
            <p align="center"><b><font size="7" face="Amaze">Sheet Music
                  International Archives</font><font size="+2"><br>
                  Free downloadable public domain sheet music.&nbsp; </font></b><b><font
                  size="+2"><br>
                </font></b></p>
            <center>
              <table id="AutoNumber18" style="border-collapse:
                collapse;" bordercolorlight="#C0C0C0"
                bordercolordark="#C0C0C0" height="104" width="1200"
                cellpadding="0" cellspacing="0" border="3"
                bordercolor="#111111">
                <tbody>
                  <tr>
                    <td bordercolordark="#FFFFFF"
                      bordercolorlight="#FFFFFF" bordercolor="#C0C0C0"
                      width="90%" align="center" bgcolor="#C0C0C0">

              <form action="/search" method="POST" >
        <select name="ipTypeList">
        <option value="public">Public Music</option>
        <option value="all">All Music</option>
        </select>
			    <input type="text" name="file">
			    <input type="submit" value="submit">
			  </form>

                      <b> <font size="4" face="Blackadder ITC"> <a
                            href="index.html">h<span
                              style="text-transform: capitalize">ome</span></a><span
                            style="text-transform: capitalize"> &nbsp;
                            &nbsp; &nbsp;</span></font></b><b><font
                          size="4" face="Blackadder ITC"><a
                            href="Sheet-Music/master-composers/">Major
                            Composere</a></font></b><font size="4"
                        face="Blackadder ITC"> &nbsp; &nbsp;&nbsp; <b><a
                            href="repertoire-instrumental.html">Repertoire</a>
                          &nbsp; &nbsp;&nbsp; <a
                            href="School-Music.html">School Music</a></b>
                        &nbsp; &nbsp;&nbsp; </font><b><font size="4"
                          face="Blackadder ITC"><a href="FAQ.html.html">FAQ</a>
                          &nbsp; &nbsp;&nbsp; <a
                            href="Log-In.html.html">Log in</a> &nbsp;
                          &nbsp;&nbsp; <a
                            href="Upload-Music-to-Public-Library.html.html">Upload

                            Music</a> &nbsp; &nbsp; &nbsp;<a
                            href="donate.html">Donate</a></font></b><br>
                      <div align="left"><b><font size="4"
                            face="Blackadder ITC">Other Composers
                            Director &nbsp;&nbsp; <a
                              href="alphabetical/ab">A-B</a>,&nbsp;
                            <a href="alphabetical/ce">C-E</a>,&nbsp;
                            <a href="alphabetical/fh">F-H</a>,&nbsp;
                            <a href="alphabetical/in">I-N</a>,&nbsp;
                            <a href="alphabetical/or">O-R</a>,&nbsp;
                            <a href="alphabetical/sz">S-Z</a>&nbsp;&nbsp;&nbsp;</font></b><b><font
                            size="4" face="Blackadder ITC"></font></b></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
            &nbsp;&nbsp;&nbsp;&nbsp; <br>
          </td>
        </tr>
        <tr>
          <td valign="top" width="10">
            <div align="left"><font size="2"><span style="font-size:
                  11pt; font-family:Courier New"></span></font>
              <table width="100%" cellpadding="2" cellspacing="2"
                border="0">
                <tbody>
                  <tr>
                    <td valign="top"><font size="2"><font face="Times
                          New Roman"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                          </b></font></font><br>
                    </td>
                  </tr>
                </tbody>
              </table>
              <form action="/" method="POST" enctype="multipart/form-data">
			    <input type="file" name="avatar">
			    <input type="submit" value="submit">
			  </form>
        </br>

          <form action="/pop" method="POST" >
			    <input type="submit" value="populate!">
			  </form>

              <div align="center"><font size="2"><span style="font-size:
                    11pt; font-family:Courier New"><big><b><font
                          face="Times New Roman"><big><big>Site Map</big></big></font></b></big></span></font><br>
                <font size="2"><span style="font-size: 11pt;
                    font-family:Courier New"></span></font></div>
              <font size="2"><span style="font-size: 11pt;
                  font-family:Courier New"><big><b><font face="Times New
                        Roman"><big><br>
                          Music Archives:</big></font></b></big><br>
                </span><span style="font-size: 11pt; font-family:Courier
                  New"><span style="font-size: 11pt; font-family:Courier
                    New">&nbsp;</span>o</span>&nbsp;<a href="/">
                  <big><big>Home&nbsp; </big></big></a></font><br>
              <font size="2"><span style="font-size: 11pt;
                  font-family:Courier New"><span style="font-size: 11pt;
                    font-family:Courier New">&nbsp;</span>o</span>&nbsp;
                <big><big><a href="Sheet-Music/master-composers/">Major
                      Composers</a><br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big><a href="Sheet-Music/composers/">Other
                      Composers</a>&nbsp; <br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big><a href="repertoire-instrumental.html">Repertoire</a><br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big><a href="/schoolMusic">School
                      Music</a>&nbsp; <br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big><a href="FAQ.html.html">FAQ</a>&nbsp; <br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big><a href="donate.html">Donate</a><br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big><br>
                    <br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><big><b><font
                        face="Times New Roman"><big>Member Services:</big></font></b></big></span></font><font
                size="2"><span style="font-size: 11pt;
                  font-family:Courier New"><span style="font-size: 11pt;
                    font-family:Courier New"> </span></span><big><big><br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big>Log In&nbsp; <br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big>Create Account&nbsp; <br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big>Edit Account info&nbsp; <br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big>Create Add&nbsp; <br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;&nbsp;</font><font
                size="2"><big><big>Upload Music</big></big></font><font
                size="2"><big><big>&nbsp; (Public)</big></big></font><br>
              <font size="2"><big><big><font size="2"><span
                        style="font-size: 11pt; font-family:Courier New"><span
                          style="font-size: 11pt; font-family:Courier
                          New">&nbsp;</span>o</span>&nbsp; <big><big>Report

                          violation CR <br>
                          <br>
                        </big></big></font></big></big></font><font
                size="2"><span style="font-size: 11pt;
                  font-family:Courier New"><big><b><font face="Times New
                        Roman"><big>Personal Library:&nbsp;</big></font></b></big></span></font><font
                size="2"><big><big><a
href="file:///C:/Users/Carl/Documents/web%20sites/Scotts-Philh.net-member-site/password/Handbook.doc">
                    </a></big></big></font><br>
              <font size="2"><span style="font-size: 11pt;
                  font-family:Courier New"><span style="font-size: 11pt;
                    font-family:Courier New">&nbsp;</span>o</span>&nbsp;
              </font><font size="2"><span style="font-size: 11pt;
                  font-family:Courier New"><span style="font-size: 11pt;
                    font-family:Courier New"></span></span><big><big>Upload

                    Music</big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New"></span></span>&nbsp;

                (private)</font><font size="2"><big><big><a
href="file:///C:/Users/Carl/Documents/web%20sites/Scotts-Philh.net-member-site/password/Handbook.doc"></a><br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

                <big><big>Download music&nbsp; <br>
                  </big></big></font><font size="2"><span
                  style="font-size: 11pt; font-family:Courier New"><span
                    style="font-size: 11pt; font-family:Courier New">&nbsp;</span>o</span>&nbsp;

              </font><font size="2"><big><big>Download Library</big></big></font><font
                size="2"></font><font size="2"><span style="font-size:
                  11pt; font-family:Courier New"><span style="font-size:
                    11pt; font-family:Courier New"></span></span></font><font
                size="2"><br>
                <br>
                <br>
              </font></div>
            <br>
          </td>
          <td valign="top" width="100%">
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="center"><b><font size="+2">Public

                  Domain and Copyrighted music</font></b><b><br>
              </b><b><font size="+2"> Upload and sell your Arrangements,
                  and receive 100% of sale price.</font></b></p>
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="left"><br>
              <br>
            </p>
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="left"><big><big>Site
                  administrators believe music on this website is in
                  public domain or has been uploaded by owner of
                  copyright for distribution.&nbsp; <br>
                </big></big></p>
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="left"><big><big><br>
                  This site is monitored and music found to infringe
                  copyright will be removed.&nbsp; Sheet music
                  International is a public repository that serves as a
                  collection agency only.&nbsp; <font color="#cc0000"><br>
                  </font></big></big></p>
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="left"><big><big><font
                    color="#cc0000"><br>
                    We assume no liability or responsibility for
                    downloading or uploading files not in public domain
                    in your country.&nbsp; Please respect copyright laws
                    in your country.</font>&nbsp; </big></big><big><big>Individuals

                  may be held liable for copyright infringements by
                  copyright owners. <br>
                </big></big></p>
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="left"><big><br>
              </big></p>
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="left"><big><b>General
                  Copyright Guidlines:</b>&nbsp; </big></p>
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="left"><big> USA.&nbsp;
                Works published before 1923 are public domain.&nbsp;
                Copyright lasts for life of composer +&nbsp; 70 years</big></p>
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="left"><big>Canada, Japan,
                China:&nbsp; Copyright lasts for life of composer + 50
                years.</big><br>
            </p>
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="left"><br>
            </p>
            <p class="DefaultText" style="margin-left:0.1in;
              margin-right:0.1in; margin-top:0in;
              margin-bottom:0.0001pt" align="left"><big><big>&nbsp;&nbsp;

                </big></big></p>
            <div align="center"> <br>
              <img alt="" src="http://sheetmusicinternational.com/images/Carl-Seal-Low-Res.jpg"
                height="205" width="200"></div>
          </td>
          <td valign="top" width="100">
            <table height="214" width="237">
              <tbody>
                <tr>
                  <td valign="top" width="100%"><br>
                    Advertise here<br>
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2"
                      border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            <br>
                            Full size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <table height="187" width="228" cellpadding="2"
                      cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            Half size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    .<br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top"><br>
          </td>
          <td valign="top">Sheet Music International<br>
            Copyright 2016 all rights reserved<br>
            Website Managed by Carl Reiter<br>
          </td>
          <td valign="top"><br>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  </body>
</html>


<!--
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>upload</title>
</head>
<body>
  <form action="/" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar">
    <input type="submit" value="submit">
  </form>
</body>
</html>
-->