<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sheet Music International</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<<<<<<< HEAD

</head>
<body id="page-top">

<!--Well-->
<% include ../views/partials/nav %>
=======
</head>
<body id="page-top">
<!--Header(title of the webpage)-->
  <h1 style="text-align: center; font-size: 48px; font-weight: bold; font-family: serif;">Sheet Music International Archives</h1>
    <p style="font-family: times; font-weight: bold; font-size: 24px; text-align: center;"> Free downloadable public domain sheet music.  </p>
<!--End Header(title of the webpage)-->
<!--Well-->
<table width="72%" style="margin-left: 14%"><tr>
  <td style=" background-color: #C0C0C0; border:3px solid black; height: 104px; width: 90%" class="form-inline">
    <span style="width: 75%">
        <form action="/search" method="POST" >
        <select name="ipTypeList">
        <option value="public">Public Music</option>
        <option value="all">All Music</option>
        </select>
			    <input type="text" name="file">
			    <input type="submit" value="submit">
			  </form>          
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">Home</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">Major Composere</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">  Repertoire </span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">School Music</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">FAQ</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">Log In</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">Upload Music</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">Donate</span></a>
            <span style="text-transform: capitalize"> &nbsp; &nbsp; &nbsp;</span>
          </font>
      </b>
    </span>
    </span>
    <div class="col-md-12"><b><font size="4" face=" ITC">Other Composers Director &nbsp;&nbsp; 
      <a href="A-B/">A-B</a>,&nbsp;
      <a href="C-E/">C-E</a>,&nbsp;
      <a href="F-H/">F-H</a>,&nbsp;
      <a href="I-N/">I-N</a>,&nbsp;
      <a href="O-R/">O-R</a>,&nbsp;
      <a href="S-Z/">S-Z</a>&nbsp;&nbsp;&nbsp;</font></b><b><font
      size="4" face=" ITC"></font></b>
    </div>                        
</td></tr></table>
<!--End Well-->
>>>>>>> master
  <br />
<table style="margin-left: 5px">
  <tr>
    <td width="15%" style="margin-left: 15px; padding-top: 12px" valign="top">
      <div >
        <br />
        <!--Begin right-side bar-->
        <div align="center">
        <font  face="Times New Roman" style="font-size: 25px;"><b> Site Map</b></font><br /></div>
        <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Music Archives:</b></font>        
        <br />        
        <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Home</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Major Composers</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Other Composers </a></font><br />
<<<<<<< HEAD
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="/repertoire-instrumental" style="font-size: 19px; font-family: times">Repertoire</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">School Music </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="/faq" style="font-size: 19px; font-family: times">FAQ</a></font><br />
=======
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Repertoire</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">School Music </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">FAQ</a></font><br />
>>>>>>> master
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Donate</a></font><br />
      </div>
    </div>
    <!--end first row-->
    <br />
    <!--Begin second right-side bar-->
    <div>
      <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Member Services: </b></font>    
      <br />        
        <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Log In</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Create Account </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Edit Account info</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Create Add</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Upload Music(Public)</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Report violation CR</a></font><br />
<<<<<<< HEAD
         <form action="/" method="POST" enctype="multipart/form-data">
=======
        <form action="/" method="POST" enctype="multipart/form-data">
>>>>>>> master
          <input type="file" name="avatar">
          <input type="submit" value="submit">
        </form>
      </div>  
      <br />
    </div>
    <!--end second row-->
    <!--Begin third right-side bar-->
      <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Personal Library: </b></font>    
      <br />        
      <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Upload Music (private)</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Download music  </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Download Library</a></font><br />
      </div>
    <!--End third row-->
<<<<<<< HEAD

=======
>>>>>>> master
    <!--Begin fourth right-side bar-->
    <font face="Times New Roman" style=" font-size: 21px; padding-left: 5px"><b> Music for Sale or Rent: </b></font>    
      <br />        
      <div style="text-align: left; margin-left: 15px">
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Upload Music (for sale)</a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Replace or edit a work   </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Set purchase parameters  </a></font><br />
        <font style="font-size: 18px; font-family: courier">&#9675; <a href="#" style="font-size: 19px; font-family: times">Payment  details  </a></font><br />
      </div>
    <!--End fourth row-->
    
    </td>
    <td width="80%" style="text-align: center;" valign="top">
        <font size="+2" style="font-family: times"><b>Public Domain and Copyrighted music</b></font><br />
        <font size="+2" style="font-family: times"><b> Upload and sell your Arrangements, and receive 100% of sale price.</b></font>
        <br />
        <br />
<p class="DefaultText" style="margin-left:0.1in; margin-right:0.1in; margin-top:0in; font-size: 16px; font-family: times"  align="left">
  <big>
    <big>Site administrators believe music on this website is in public domain or has been uploaded by owner of copyright for distribution.&nbsp;
    </big>
  </big>
</p>
<p class="DefaultText" style="margin-left:0.1in; font-size: 16px; font-family: times; margin-right:0.1in; margin-bottom:0.0001pt" align="left">
  <big>
    <big> This site is monitored and music found to infringe copyright will be removed.&nbsp; Sheet music
      International is a public repository that serves as a collection agency only.&nbsp; 
      <font color="#cc0000"><br></font>
    </big>
  </big>
</p>

<p class="DefaultText" style="margin-left:0.1in; margin-right:0.1in; margin-top:0in; margin-bottom:0.0001pt; font-family: times; font-size: 16px" align="left">
  <big>
    <big><font color="#cc0000">  We assume no liability or responsibility for downloading or uploading files not in public domain
      in your country.&nbsp; Please respect copyright laws in your country.</font>&nbsp; 
    </big>
  </big>
  <big>
    <big >
    <span style="font-size: 23px; font-family: times">
      Individuals may be held liable for copyright infringements by copyright owners. <br></span>
    </big>
  </big>
</p>
<p class="DefaultText" style="margin-left:0.1in; margin-right:0.1in; margin-top:0in; margin-bottom:0.0001pt" align="left"><big><br>
  </big>
</p>
<p class="DefaultText" style="margin-left:0.1in; margin-right:0.1in; margin-top:0in; margin-bottom:0.0001pt; font-size: 16px; font-family: times" align="left" ><big><b>General Copyright Guidlines:</b>&nbsp; </big></p>
<p class="DefaultText" style="margin-left:0.1in; margin-right:0.1in; margin-top:0in; margin-bottom:0.0001pt;  font-size: 16px; font-family: times" align="left"><big> USA.&nbsp;
    Works published before 1923 are public domain.&nbsp; Copyright lasts for life of composer +&nbsp; 70 years</big></p>
<p class="DefaultText" style="margin-left:0.1in; margin-right:0.1in; margin-top:0in; margin-bottom:0.0001pt" align="left"><big>Canada, Japan,
    China:&nbsp; Copyright lasts for life of composer + 50 years.</big><br>
</p>
<!--Carl seal start-->
<div align="center"> <br>
<<<<<<< HEAD
  <!-- <img alt="" src="http://sheetmusicinternational.com/images/Carl-Seal-Low-Res.jpg" height="205" width="200">-->
  <img alt="" src="/images/Carl-Seal-Low-Res.jpg" height="205" width="200">

=======
  <img alt="" src="http://sheetmusicinternational.com/images/Carl-Seal-Low-Res.jpg" height="205" width="200">
>>>>>>> master
</div>
    </td>
    <!--Advertise here section (right hand side bar)-->
    <td>
      <table height="214" width="237" style="margin-right: 15px">
              <tbody>
                <tr>
                  <td valign="top" width="100%" style="text-align: center;"> <br />
                    Advertise here<br>
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top" style="border:1px solid black; "><br>
                            <br>
                            <br>
                            Full size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <table height="187" width="228" cellpadding="2"
                      cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            Half size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    .<br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
    </td>
  </tr>
<!--end body-->
<!--begin footer-->
  <tr>
    <td>&nbsp;</td>
    <td valign="top" align="center">
      Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
    </td>
  </tr>
  <!--end footer-->
  </table>   
<br />
<br />
<br />
    <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<style type="text/css">
  body {
<<<<<<< HEAD
      background: transparent url(/images/background_music_sheets.jpg) ;
=======
      background: transparent url(http://sheetmusicinternational.com/images/background%20music%20sheets.jpg) ;
>>>>>>> master

  background-repeat: repeat;
}
  </style>
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> master
