<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script type="text/javascipt">
function store(){
localStorage.setItem('user', JSON.stringify({{user}}));
}
window.onload = store;
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<!-- views/partials/nav.ejs -->
  <h1 style="text-align: center; font-size: 48px; font-weight: bold; font-family: serif;">Sheet Music International Archives</h1>
    <p style="font-family: times; font-weight: bold; font-size: 24px; text-align: center;"> Free downloadable public domain sheet music.  </p>
<table width="72%" style="margin-left: 14%"><tr>
  <td style=" background-color: #C0C0C0; border:3px solid black; height: 104px; width: 90%" class="form-inline">
  <div>
  <form action="/search" method="POST" >
  <select name="ipTypeList">
        <option value="all">All Music</option>
        <option value="public">Public Music</option>
        </select>
  <input type="text" name="file">
  <input type="submit" value="Search">
</form>     
</div>     
    <span style="width: 75%">          
      <b> <font size="4" face=" ITC"> 
            <a href="/user">Home</span></a>
            <span style="text-transform: capitalize"> &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">Major Composer</span></a>
            <span style="text-transform: capitalize"> &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="/repertoire-instrumental">  Repertoire </span></a>
            <span style="text-transform: capitalize">  &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">School Music</span></a>
            <span style="text-transform: capitalize">  &nbsp;</span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="/faq">FAQ</span></a>
            <span style="text-transform: capitalize">  &nbsp; </span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a  href="#" onclick="lock.show();">Login</span></a>
            <span style="text-transform: capitalize">  &nbsp; </span>
          </font>
      </b>
      <!-- https://javs.auth0.com/v2/logout?returnTo=http%3A%2F%2Fwww.example.com -->
      <b> <font size="4" face=" ITC"> 
            <a  href="https://javs.auth0.com/v2/logout" >Logout</span></a>
            <span style="text-transform: capitalize">  &nbsp; </span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="index.html">Upload Music</span></a>
            <span style="text-transform: capitalize">  &nbsp; </span>
          </font>
      </b>
      <b> <font size="4" face=" ITC"> 
            <a href="/donate">Donate</span></a>
            <span style="text-transform: capitalize">  &nbsp; </span>
          </font>
      </b>
    </span>
    </span>
    <div align="left"><b><font size="4"
                            face=" ITC">Other Composers
                            Director &nbsp;&nbsp; <a href="/ab">A-B</a>,&nbsp;
                            <a href="/ce">C-E</a>,&nbsp;
                            <a href="/fh">F-H</a>,&nbsp;
                            <a href="/in">I-N</a>,&nbsp;
                            <a href="/or">O-R</a>,&nbsp;
                            <a href="/sz">S-Z</a>&nbsp;&nbsp;&nbsp;</font></b><b><font
                            size="4" face=" ITC"></font></b></div>    
                            
</td>
</tr>
</table>

<!-- 
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Z4228V58QA94Q">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
-->

<h3 class="text-center">Hello {{user.firstname}} you are now signed in.</h3>
<center>
<div>
<h4>Profile Information</h4>
<p>Name: {{user.fullname}}</p>
<p>Email: {{user.email}}</p>
</div>
</center>
<center>
 <div>
 <h4>Personal Library</h4>
 {% if user.musicCollection.length() > 0 || user.musicCollection != undefined %}
 {% for i in user.musicCollection %}
            <a  href="/file/{{i._id.valueOf()}}" >{{i.metadata.composerName}} - {{i.metadata.compositionTitle}} - {{i.metadata.compositionType}}-{{i.filename}}</a>
 {% endfor %}
{%else%}
<p>Nothing here yet.</p>
 {% endif %}
 </div>
 </center>
  <style type="text/css">
  body {
      background: transparent url(public/images/background_music_sheets.jpg);

  background-repeat: repeat;
}
  </style>
</body>
