<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sheet Music International</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body id="page-top">

<!--Well-->
<% include ../partials/nav %>

  <br />
<table style="margin-left: 5px">
  <tr>
    <td width="15%" style="margin-left: 15px; padding-top: 12px" valign="top">

      <div >
        <br />
        <!--right side bar-->
        <% include ../partials/SideBar %>
        <!-- end right side bar-->
    </td>
    <td width="80%" valign="top">



    <!--body begin here-->
   <div align="center">
        <font size="+2" style="text-align: center;"><b>Repertoire Lists for Bassoon</b></font><br />
            
      <div class="col-md-8 col-md-offset-2">

        <table class="table table-striped">
          <tr>
            <td style="padding-right: 5px; padding-left: 5px">
              <a href="#">Bassoon Solo</a> 
            </td>
          </tr>
          <tr>
            <td style="padding-right: 5px; padding-left: 5px">
              <a href="#">Bassoon Orchestra or Piano</a> 
            </td>
          </tr>
            <tr>
            <td style="padding-right: 5px; padding-left: 5px">
              <a href="#">Chamber Music</a> 
            </td>
          </tr>
          <tr>
            <td style="padding-right: 5px; padding-left: 5px">
              <a href="#">Quartets</a> 
            </td>
          </tr>
          <tr>
            <td style="padding-right: 5px; padding-left: 5px">
              <a href="#">Woodwind Quintets</a> 
            </td>
          </tr>
          <tr>
            <td style="padding-right: 5px; padding-left: 5px">
              <a href="#">Sextet</a> 
            </td>
          </tr>
          <tr>
            <td style="padding-right: 5px; padding-left: 5px">
              <a href="#">Septet</a> 
            </td>
          </tr>
          <tr>
            <td style="padding-right: 5px; padding-left: 5px">
              <a href="#">Octet</a> 
            </td>
          </tr>
        </table>
        <br />
        <br />
        <font size="+2" style="text-align: center;"><b>Bassoon Solo</b></font><br />
      <br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Various
              </td>
              <td>
                <a href = "#"> Apollo's Cabinet, or the Muse's Delight </a> 
              </td>
            </tr>
            <tr>
              <td>
                Various
              </td>
              <td>
                <a href = "#"> Complete Tutor </a>
              </td>
            </tr>
            <tr>
              <td>
                Bedoya,Harold
              </td>
              <td>
                <a href = "#"> 3 Impresiones </a>
              </td>
            </tr>
            <tr>
              <td>
                Fahrbach Josef
              </td>
              <td>
                <a href = "#"> Neueste Wiener Fagottschule, Op.17  </a>
              </td>
            </tr>
            <tr>
              <td>
                Ferrari Carlotta
              </td>
              <td>
                <a href = "#"> Preludio, berceuse e fuga per fagotto </a>
              </td>
            </tr>
            <tr>
              <td>
                Holyoke Samuel
              </td>
              <td>
                <a href = "#"> The Instrumental Assistant </a>
              </td>
            </tr>
            <tr>
              <td>
                Jacobi Karl
              </td>
              <td>
                <a href = "#"> 6 Caprices. Op.15 </a>
              </td>
            </tr>
            <tr>
              <td>
                Jacobowitz B M
              </td>
              <td>
                <a href = "#"> Barricades </a>
              </td>
            </tr>
            <tr>
              <td>
                Jancourt Eugene
              </td>
              <td>
                <a href = "#"> Etude du basson perfectionné, Op.58 </a>
              </td>
            </tr>
            <tr>
              <td>
                Jancourt Eugene
              </td>
              <td>
                <a href = "#"> Méthode théorique et pratique pour le basson, Op.15 (Jancourt, Eugene) </a>
              </td>
            </tr>
            <tr>
              <td>
                Kondo Hohei
              </td>
              <td>
                <a href = "#"> Prayer on the Seashore, Op.121 </a>
              </td>
            </tr>
            <tr>
              <td>
                Milde Ludwig
              </td>
              <td>
                <a href = "#"> 50 Concert Studies, Op.26 </a>
              </td>
            </tr>
            <tr>
              <td>
                Merenzeine Vazel
              </td>
              <td>
                <a href = "#"> Bassoon Sonatina. PVM 32 </a>
              </td>
            </tr>
            <tr>
              <td>
                Nascimben Jurii
              </td>
              <td>
                <a href = "#"> Metonimie </a>
              </td>
            </tr>
            <tr>
              <td>
                Plante Cyril
              </td>
              <td>
                <a href = "#"> 10 Etudes for Bassoon solo. Opp.141. 170 </a>
              </td>
            </tr>
            <tr>
              <td>
                Ramirez Santillan
              </td>
              <td>
                <a href = "#"> La otra ciudad </a>
              </td>
            </tr>
            <tr>
              <td>
                Ronnes Robert
              </td>
              <td>
                <a href = "#"> 4 Movements for Bassoon Solo </a>
              </td>
            </tr>
            <tr>
              <td>
                Ronnes Robert
              </td>
              <td>
                <a href = "#"> 16 Studies for Bassoon </a>
              </td>
            </tr>
            <tr>
              <td>
                Susato Tielman
              </td>
              <td>
                <a href = "#"> Susato Suite </a>
              </td>
            </tr>
            <tr>
              <td>
                Yokoyama Shin Itchireo
              </td>
              <td>
                <a href = "#"> Divertimento for bassoon solo </a>
              </td>
            </tr>
            <tr>
              <td>
                Torre Salvador
              </td>
              <td>
                <a href = "#"> Processional </a>
              </td>
            </tr>
            <tr>
              <td>
                Weissenborn Julius
              </td>
              <td>
                <a href = "#"> Bassoon Studies, Op.8 </a>
              </td>
            </tr>
            <tr>
              <td>
                Walker Christopher Andres
              </td>
              <td>
                <a href = "#"> Étude No.1 for Bassoon </a>
              </td>
            </tr>
            <tr>
              <td>
                Petering Mark
              </td>
              <td>
                <a href = "#"> Solos and Duos Volume 1 </a>
              </td>
            </tr>
            <tr>
              <td>
                Boismortier Joseph
              </td>
              <td>
                <a href = "#"> 6 Sonates suivies d'un nombre de pièces, Op.40 </a>
              </td>
            </tr>
            <tr>
              <td>
                Milde Ludwig
              </td>
              <td>
                <a href = "#"> Studien über Tonleiter- und Akkordzerlegungen für Fagott, Op.24 </a>
              </td>
            </tr>
            <tr>
              <td>
                Almenrader Carl
              </td>
              <td>
                <a href = "#"> Traité sur le perfectionnement du basson avec deux tableaux  </a>
              </td>
            </tr>
            <tr>
              <td>
                Langey Otto
              </td>
              <td>
                <a href = "#"> Tutor for the Bassoon </a>
              </td>
            </tr>
            <tr>
              <td>
                Strutt Clive
              </td>
              <td>
                <a href = "#"> Variations on a Bosnian Folk Song </a>
              </td>
            </tr>

          </table>

        <br />
        <br />
        <font size="+2" style="text-align: center;"><b>Bassoon and Orchestra or Piano</b></font><br />
        <br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Hallman, Joseph
              </td>
              <td>
                <a href = "#"> Fabulitas </a> 
              </td>
            </tr>

            <tr>
              <td>
                Paul Hindimith
              </td>
              <td>
                <a href = "#"> Bassoon-Sonata </a> 
              </td>
            </tr>

            <tr>
              <td>
                Paul Hindimith
              </td>
              <td>
                <a href = "#"> Concerto for Trumpet, Bassoon and Strings </a> 
              </td>
            </tr>

            <tr>
              <td>
                Paul Hindimith
              </td>
              <td>
                <a href = "#"> Concerto for Woodwinds, Harp and Orchestra  (flute, oboe, clarinet, bassoon, harp) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Kowalewski, Jakub
              </td>
              <td>
                <a href = "#"> Sonata (modo antico) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Mozart, Wolfgang Amadeus
              </td>
              <td>
                <a href = "#"> Bassoon Concerto, K.191 bassoon- piano or orchestra </a> 
              </td>
            </tr>


            <tr>
              <td>
                Saint-Saëns, Camille
              </td>
              <td>
                <a href = "#"> Bassoon Sonata, Op.168 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 466 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 467 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 468 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 469 </a> 
              </td>
            </tr>     

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 470 </a> 
              </td>
            </tr>   

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 471 score and parts</a> 
              </td>
            </tr>

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 472 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 473 </a> 
              </td>
            </tr>    

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 474 </a> 
              </td>
            </tr>   

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 475 </a> 
              </td>
            </tr> 


            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 476 </a> 
              </td>
            </tr> 


            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 477 score and parts</a> 
              </td>
            </tr>   

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 478</a> 
              </td>
            </tr>   

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 479</a> 
              </td>
            </tr>   

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in C major, RV 480</a> 
              </td>
            </tr>   

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in D major, RV 481 score and parts</a> 
              </td>
            </tr> 

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in E-flat major, RV 483</a> 
              </td>
            </tr>     

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in E minor, RV 484</a> 
              </td>
            </tr>   

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in F major, RV 485</a> 
              </td>
            </tr>  

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in F major, RV 486</a> 
              </td>
            </tr>    

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in F major, RV 487 score and parts</a> 
              </td>
            </tr> 

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in F major, RV 488</a> 
              </td>
            </tr> 

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in F major, RV 489</a> 
              </td>
            </tr>  

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in F major, RV 490</a> 
              </td>
            </tr> 

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in F major, RV 491</a> 
              </td>
            </tr> 


            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in G major, RV 492</a> 
              </td>
            </tr> 

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in G major, RV 493</a> 
              </td>
            </tr> 


            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in G major, RV 494</a> 
              </td>
            </tr> 


            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in G minor, RV 495</a> 
              </td>
            </tr>  

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in G minor, RV 496</a> 
              </td>
            </tr>  

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in G minor, RV 496</a> 
              </td>
            </tr>   

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in A minor, RV 497</a> 
              </td>
            </tr> 

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in A minor, RV 498</a> 
              </td>
            </tr>    

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in A minor, RV 499</a> 
              </td>
            </tr>

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in A minor, RV 500</a> 
              </td>
            </tr>  


            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in B-flat major, RV 501 'La Notte'</a> 
              </td>
            </tr>  

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in B-flat major, RV 502</a> 
              </td>
            </tr>    

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in B-flat major, RV 503</a> 
              </td>
            </tr> 

            <tr>
              <td>
                Vivaldi, Antonio
              </td>
              <td>
                <a href = "#"> Bassoon Concerto in B-flat major, RV 504</a> 
              </td>
            </tr>                                                     
         </table>

        <br />
        <br />
        <font size="+2" style="text-align: center;"><b>Chamber Music (some with piano)</b></font><br />
        <br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Allier, Gabriel
              </td>
              <td>
                <a href = "#"> Scène Champêtre (flute/oboe, clarinet, horn/bassoon) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Becker, Dietrich
              </td>
              <td>
                <a href = "#"> Musicalische Frühlings-Früchte (transcription for 2 oboes, bassoon) </a> 
              </td>
            </tr>  

            <tr>
              <td>
                Beethoven, Ludwig van
              </td>
              <td>
                <a href = "#"> Trio, WoO 37 (flute, bassoon, piano) </a> 
              </td>
            </tr>       

            <tr>
              <td>
                Beethoven, Ludwig van
              </td>
              <td>
                <a href = "#"> Piano Quintet, Op.16 (oboe, clarinet, horn, bassoon, piano) </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Beethoven, Ludwig van
              </td>
              <td>
                <a href = "#"> March for Wind Sextet in B-flat major, WoO 29 (2 clarinets, 2 horns, 2 bassoons) </a> 
              </td>
            </tr>    

            <tr>
              <td>
                Beethoven, Ludwig van
              </td>
              <td>
                <a href = "#"> Sextet for Winds, Op.71 (2 clarinets, 2 horns, 2 bassoons) </a> 
              </td>
            </tr>                 
            <tr>
              <td>
                Beethoven, Ludwig van
              </td>
              <td>
                <a href = "#"> Wind quintet in E flat major, Hess 19 (oboe, 3 horns, bassoon) </a> 
              </td>
            </tr>   

            <tr>
              <td>
                Boismortier, Joseph Bodin de
              </td>
              <td>
                <a href = "#"> Sonata Sonatas-2-4-5(2 bassoons) </a> 
              </td>
            </tr>  


            <tr>
              <td>
                Boisdeffre, Renè de 
              </td>
              <td>
                <a href = "#"> Septet, Op.49 (flute, oboe, clarinet, bassoon horn, double bass ad.lib., piano) </a> 
              </td>
            </tr> 


            <tr>
              <td>
                Bononcini, Giovanni Maria
              </td>
              <td>
                <a href = "#"> Triosonate Op.6, No.9 (transcription for 2 oboes, bassoon) </a> 
              </td>
            </tr> 


            <tr>
              <td>
                Brauer, Max
              </td>
              <td>
                <a href = "#"> Sextett (flute, oboe, clarinet, horn, bassoon, piano) </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Brod, Henri
              </td>
              <td>
                <a href = "#"> Trio No.1 for Piano, Oboe and Bassoon, Op.5 (oboe, bassoon, piano) </a> 
              </td>
            </tr>  

            <tr>
              <td>
                Canteloube, Joseph
              </td>
              <td>
                <a href = "#"> Rustiques (oboe, clarinet, bassoon) </a> 
              </td>
            </tr>   

            <tr>
              <td>
                Cellitti, Venanzio
              </td>
              <td>
                <a href = "#"> Sigla No.1 (oboe, bass clarinet, bassoon) </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Dost, Rudolf
              </td>
              <td>
                <a href = "#"> Septet, Op.55 (flute, oboe, clarinet, bassoon, horn, percussion, piano) </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Gieseking, Walter
              </td>
              <td>
                <a href = "#"> Piano Quintet (oboe, clarinet, horn, bassoon, piano) </a> 
              </td>
            </tr>  
            <tr>
              <td>
                Grayson, Martin
              </td>
              <td>
                <a href = "#"> Trio (flute,oboe,bassoon) </a> 
              </td>
            </tr>  

            <tr>
              <td>
                Grund, Friedrich Wilhelm
              </td>
              <td>
                <a href = "#"> Piano Quintet, Op.8 (oboe,clarinet,horn,bassoon,piano) </a> 
              </td>
            </tr>  
            <tr>
              <td>
                Hallman, Joseph
              </td>
              <td>
                <a href = "#"> Duet for Bassoon and Trumpet </a> 
              </td>
            </tr> 
            <tr>
              <td>
                Hallman, Joseph
              </td>
              <td>
                <a href = "#"> Duet for Clarinet and Bassoon </a> 
              </td>
            </tr>  
            <tr>
              <td>
                Hallman, Joseph
              </td>
              <td>
                <a href = "#"> Trio (bassoon,harp,percussion) </a> 
              </td>
            </tr>  
            <tr>
              <td>
                Hamm, Johann Valentin
              </td>
              <td>
                <a href = "#"> Viergespräch (flute, oboe, clarinet, horn, piano) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Hammerschmidt, Andreas
              </td>
              <td>
                <a href = "#"> Erster Fleiß (transcription for 2 oboes, 2 English horns, bassoon) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Hadyn, Joseph
              </td>
              <td>
                <a href = "#"> Baryton Trio No.1 (transcription for oboe, English horn, bassoon)</a> 
              </td>
            </tr>
            <tr>
              <td>
                Hadyn, Joseph
              </td>
              <td>
                <a href = "#"> Baryton Trio No.2 (transcription for oboe, English horn, bassoon)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Hadyn, Joseph
              </td>
              <td>
                <a href = "#"> Baryton Trio No.3 (transcription for oboe, English horn, bassoon)</a> 
              </td>
            </tr>
            <tr>
              <td>
                Hadyn, Joseph
              </td>
              <td>
                <a href = "#"> Baryton Trio No.4 (transcription for oboe, English horn, bassoon)</a> 
              </td>
            </tr>
            <tr>
              <td>
                Hadyn, Joseph
              </td>
              <td>
                <a href = "#"> Baryton Trio No.5 (transcription for oboe, English horn, bassoon)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Hadyn, Joseph
              </td>
              <td>
                <a href = "#"> Baryton Trio No.6 (transcription for oboe, English horn, bassoon)</a> 
              </td>
            </tr>            
            <tr>
              <td>
                Hedien, Mark
              </td>
              <td>
                <a href = "#"> Woodwind Trio (flute,oboe,bassoon)</a> 
              </td>
            </tr>            
            <tr>
              <td>
                Hook, James
              </td>
              <td>
                <a href = "#"> Trio, Op.83 No.1 (transcription for 3 bassoons)</a> 
              </td>
            </tr>  

            <tr>
              <td>
                Huber, Hans
              </td>
              <td>
                <a href = "#"> Quintett, Op.136 (flute,clarinet,horn,bassoon,piano)</a> 
              </td>
            </tr>                      
            <tr>
              <td>
                Huber, Hans
              </td>
              <td>
                <a href = "#"> Sextett (flute,oboe,clarinet,horn,bassoon,piano)</a> 
              </td>
            </tr>  

            <tr>
              <td>
                Hummel, Johann Nepomuk
              </td>
              <td>
                <a href = "#"> Serenade No.2, Op.66 (clarinet (or flute), bassoon (or cello), guitar, violin, viola, piano</a> 
              </td>
            </tr> 

            <tr>
              <td>
                Hummel, Johann Nepomuk
              </td>
              <td>
                <a href = "#"> Serenade No.1, Op.63 (flute/violin, clarinet, bassoon/cello)</a> 
              </td>
            </tr>


            <tr>
              <td>
                Indy, Vincent d'
              </td>
              <td>
                <a href = "#"> Sarabande et menuet, Op. 72 (flute, oboe, clarinet, horn, bassoon, piano)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Juon, Paul
              </td>
              <td>
                <a href = "#"> Divertimento, Op.51 (flute, oboe, clarinet, horn, bassoon, piano)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Juon, Paul
              </td>
              <td>
                <a href = "#"> Octet, Op.27 (oboe, clarinet, bassoon, horn, violin, viola, cello, piano)</a> 
              </td>
            </tr>


            <tr>
              <td>
                Kalkbrenner, Friedrich Wilhelm
              </td>
              <td>
                <a href = "#">Septet, Op.132 (oboe, clarinet, bassoon, horn, cello, double bass, piano)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Karg-Elert, Sigfrid
              </td>
              <td>
                <a href = "#">Quintett, Op.30 (oboe, 2 clarinets, horn, bassoon)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Lalliet, Theodore
              </td>
              <td>
                <a href = "#">Terzetto, Op.22 (oboe, bassoon, piano)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Leduc, Alphonse
              </td>
              <td>
                <a href = "#">Trio Concertant No.2, Op.76 (flute, bassoon, piano)</a> 
              </td>
            </tr>


            <tr>
              <td>
                Magnard, Albéric
              </td>
              <td>
                <a href = "#">Piano Quintet, Op.8 (flute, oboe, clarinet, bassoon, piano)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Methfessel, Ernst
              </td>
              <td>
                <a href = "#">Concertino, Op.40 (oboe, bassoon, piano)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Molbe, Heinrich
              </td>
              <td>
                <a href = "#">Fête des dryades, Op.68 (horn, bassoon, piano)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Mozart, Wolfgang Amadeus
              </td>
              <td>
                <a href = "#">Divertimento No1-5  (transcription for 2 oboes, bassoon) </a> 
              </td>
            </tr>


            <tr>
              <td>
                Onslow, Georges
              </td>
              <td>
                <a href = "#">Sextet, Op.30 (flute, clarinet, horn, bassoon, double bass, piano) </a> 
              </td>
            </tr>


            <tr>
              <td>
                Onslow, Georges
              </td>
              <td>
                <a href = "#">Septet, Op.79a (flute, oboe, clarinet, bassoon, horn, double bass, piano) </a> 
              </td>
            </tr>


            <tr>
              <td>
                Paulinyi, Zoltan
              </td>
              <td>
                <a href = "#">Biduo d'Ouro (bassoon, any instrument) </a> 
              </td>
            </tr>


            <tr>
              <td>
                Paulinyi, Zoltan
              </td>
              <td>
                <a href = "#">Ofertório (bassoon, viola)  </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Pierné, Paul
              </td>
              <td>
                <a href = "#">Bucolique Variée (oboe, clarinet, bassoon)  </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Pfeiffer, Georges Jean
              </td>
              <td>
                <a href = "#">Musette, Op.47 (oboe, clarinet, bassoon)  </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Rasetti, Amade
              </td>
              <td>
                <a href = "#">Trio, Op.13 No.2 (flute or violin, and bassoon or cello, piano)  </a> 
              </td>
            </tr>

            <tr>
              <td>
                Rasetti, Amade
              </td>
              <td>
                <a href = "#">Trio, Op.13 No.3 (flute or violin, and bassoon or cello, piano)  </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reuschel,Amédée
              </td>
              <td>
                <a href = "#">Piano Sextet (flute, oboe, clarinet, horn, bassoon, piano) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Rietz, Julius
              </td>
              <td>
                <a href = "#">Concertstück, Op.41 (flute, oboe, clarinet, horn, bassoon, piano) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Rimsky-Korsakov, Nikolay
              </td>
              <td>
                <a href = "#">Quintet in B-flat major (flute, clarinet, horn, bassoon, piano) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Roussel, Albert
              </td>
              <td>
                <a href = "#">Divertissement, Op.6 (flute, oboe, clarinet, horn, bassoon, piano)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Roussel, Albert
              </td>
              <td>
                <a href = "#">Duo for Bassoon and Double Bass (bassoon, double bass)</a> 
              </td>
            </tr> 

            <tr>
              <td>
                Spindler, Fritz
              </td>
              <td>
                <a href = "#">Piano Quintet, Op.360 (oboe, clarinet, horn, bassoon, piano)</a> 
              </td>
            </tr>


            <tr>
              <td>
                Vanhal, Johann Baptist
              </td>
              <td>
                <a href = "#">Divertimento (transcription for 2 oboes, 2 English horns, bassoon)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Vanhal, Johann Baptist
              </td>
              <td>
                <a href = "#">Divertimento (transcription for double reed quintet) </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Yokoyama, Shin-Itchiro
              </td>
              <td>
                <a href = "#">Divertimento for bassoon solo </a> 
              </td>
            </tr>

            <tr>
              <td>
                Yokoyama, Shin-Itchiro
              </td>
              <td>
                <a href = "#">L'Epice d'Asie (flute, bassoon, cello)  </a> 
              </td>
            </tr>  

            <tr>
              <td>
                Yokoyama, Shin-Itchiro
              </td>
              <td>
                <a href = "#">Marriage Waltz (oboe, clarinet, bassoon)</a> 
              </td>
            </tr>


            <tr>
              <td>
                Zoeller, Carli
              </td>
              <td>
                <a href = "#">Three virtuosos (flute, clarinet, bassoon)</a> 
              </td>
            </tr>
         </table>

        <br />
        <br />
        <font size="+2" style="text-align: center;"><b>Quartets</b></font><br />
        <br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Arne, Thomas Augustine
              </td>
              <td>
                <a href = "#"> Hymn of Eve (Uxbridge) (transcription for double reed quartet) </a> 
              </td>
            </tr>
           
            <tr>
              <td>
                Bach, Johann Sebastian
              </td>
              <td>
                <a href = "#"> Art of the Fugue, BWV 1080 (transcription for double reed quartet) </a> 
              </td>
            </tr>
           
            <tr>
              <td>
                Bach, Johann Sebastian
              </td>
              <td>
                <a href = "#"> Chorale Harmonisations, BWV 250-438 (transcription for double reed quartet </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Bach, Johann Sebastian
              </td>
              <td>
                <a href = "#"> Christmas Oratorio, BWV 248 (transcription for double reed quartet, 8 chorals) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Banchieri, Adriano
              </td>
              <td>
                <a href = "#"> Fantasia prima (transcription for double reed quartet) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Banchieri, Adriano
              </td>
              <td>
                <a href = "#"> Fantasia secunda (transcription for double reed quartet) </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Banchieri, Adriano
              </td>
              <td>
                <a href = "#"> L'Organo Suonarino (transcription for double reed quartet) </a> 
              </td>
            </tr>    

            <tr>
              <td>
                Bortniansky, Dmytro
              </td>
              <td>
                <a href = "#"> Ich bete an die Macht der Liebe (transcription for double reed quartet) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Brant, Per
              </td>
              <td>
                <a href = "#"> Sinfonia in D in 4 Voices (transcription for 2 oboes, English horn, bassoon) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Charpentier, Marc-Antoine
              </td>
              <td>
                <a href = "#"> Concert pour quatre parties de violes (transcription for double reed quartet) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Eccard, Johannes
              </td>
              <td>
                <a href = "#"> Mein Schönste Zier (transcription for double reed quartet) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Handel, George Frideric
              </td>
              <td>
                <a href = "#"> Messiah, HWV 56 (transcription of the recitative 1.2 "Comfort ye" for double reed quartet) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Gambaro, Vincenzo 
              </td>
              <td>
                <a href = "#"> 3 Wind Quartets, Op.4 (flute, clarinet, horn, bassoon) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Gambaro, Vincenzo 
              </td>
              <td>
                <a href = "#"> 3 Wind Quartets, Op.4 (flute, clarinet, horn, bassoon) </a> 
              </td>
            </tr>


            <tr>
              <td>
                Lange, Gustav 
              </td>
              <td>
                <a href = "#"> Pastoralquartett (2 oboes, English horn, bassoon) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Mendelssohn, Felix
              </td>
              <td>
                <a href = "#"> 6 Lieder im Freien zu singen, Op.59 (transcription for double reed quartet) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Mozart, Wolfgang Amadeus
              </td>
              <td>
                <a href = "#"> Die Zauberflöte, K.620 (transcription for double reed quartet) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Vanhal, Johann Baptist
              </td>
              <td>
                <a href = "#"> Quartett (transcription for double reed quartet) </a> 
              </td>

            <tr>
              <td>
                Witt, Christian Friedrich
              </td>
              <td>
                <a href = "#"> Suite in C-Dur (transcription for double reed quartet) </a> 
              </td>
            </tr>


         </table>

         <br />
        <br />
        <font size="+2" style="text-align: center;"><b>Woodwind Quintet (flute, oboe, clarinet, bassoon, horn)</b></font><br />
        <br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Barthe, Adrien
              </td>
              <td>
                <a href = "#"> Aubade </a> 
              </td>
            </tr>
           
            <tr>
              <td>
                Beach, Amy Marcy
              </td>
              <td>
                <a href = "#"> Pastorale for Woodwind Quintet </a> 
              </td>
            </tr>
           
            <tr>
              <td>
                Beischer-Matyó, Tamás
              </td>
              <td>
                <a href = "#"> Wind Quintet </a> 
              </td>
            </tr>

            <tr>
              <td>
                Briccialdi, Giulio
              </td>
              <td>
                <a href = "#"> Wind Quintet No.1. Op.124 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Cambini, Giuseppe Maria
              </td>
              <td>
                <a href = "#"> Wind Quintet No.1 in B-flat major </a> 
              </td>
            </tr>

            <tr>
              <td>
                Cambini, Giuseppe Maria
              </td>
              <td>
                <a href = "#"> Wind Quintet No.2 in D minor </a> 
              </td>
            </tr>   

            <tr>
              <td>
                Cambini, Giuseppe Maria
              </td>
              <td>
                <a href = "#"> Wind Quintet No.3 in F major </a> 
              </td>
            </tr>  

            <tr>
              <td>
                Colomer, Blas Maria de
              </td>
              <td>
                <a href = "#"> Menuet for Wind Quintet </a> 
              </td>
            </tr>


            <tr>
              <td>
                Danzi, Franz
              </td>
              <td>
                <a href = "#"> Wind Quintet, No 1Op.56/3 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Danzi, Franz
              </td>
              <td>
                <a href = "#"> Wind Quintet No 2 op56 g minor </a> 
              </td>
            </tr>

            <tr>
              <td>
                Danzi, Franz
              </td>
              <td>
                <a href = "#"> Wind Quintet No 3 op56 F Major </a> 
              </td>
            </tr>


            <tr>
              <td>
                Davidson, Robert
              </td>
              <td>
                <a href = "#"> Passages </a> 
              </td>
            </tr>

            <tr>
              <td>
                Foerster, Josef Bohuslav
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.95 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Fuchs-Schönbach, Ernst
              </td>
              <td>
                <a href = "#"> Wind Quintet in B-flat Major, Op.61 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Hindemith, Paul
              </td>
              <td>
                <a href = "#"> Kleine Kammermusik, Op.24 No.2 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Karg-Elert, Sigfrid
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.30 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Kauffmann, Fritz
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.40 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Klughardt, August
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.79 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Laurischkus, Max
              </td>
              <td>
                <a href = "#"> Aus Litauen, Op.23 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Müller, Peter
              </td>
              <td>
                <a href = "#"> Wind Quintet No.1 No.2 and No.3 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Nielsen, Carl
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.43 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Onslow, Georges
              </td>
              <td>
                <a href = "#"> Wind Quintet Op.81 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Pfeiffer, Georges Jean
              </td>
              <td>
                <a href = "#"> Pastorale, Op.71 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.88/1 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.88/3 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.88/6 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.91/1 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.91/2 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.91/2 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.91/3 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.91/4 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.91/5 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.91/6 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.99/1 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.99/2 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.99/3 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.99/4 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.99/5 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.99/6 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.100/1 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.100/2 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.100/3 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.100/4 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.100/5 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Reicha, Anton
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.100/6 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Ropartz, Guy
              </td>
              <td>
                <a href = "#"> 2 Pièces for Wind Quintet </a> 
              </td>
            </tr>

            <tr>
              <td>
                Rorich, Karl
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.58 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Schmid, Heinrich Kaspar
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.28 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Schmitt, Florent
              </td>
              <td>
                <a href = "#"> Chants Alizés, Op.125 </a> 
              </td>
            </tr>


            <tr>
              <td>
                Schoenberg, Arnold
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.26 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Sobeck, Johann
              </td>
              <td>
                <a href = "#"> Wind Quintet No.1. Op.9 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Sobeck, Johann
              </td>
              <td>
                <a href = "#"> Wind Quintet No.2. Op.11 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Sobeck, Johann
              </td>
              <td>
                <a href = "#"> Wind Quintet No.3. Op.14 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Sobeck, Johann
              </td>
              <td>
                <a href = "#"> Wind Quintet No.4. Op.23 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Stark, Robert
              </td>
              <td>
                <a href = "#"> Wind Quintet, Op.44 </a> 
              </td>
            </tr>

            <tr>
              <td>
                Taffanel, Paul
              </td>
              <td>
                <a href = "#"> Wind Quintet </a> 
              </td>
            </tr>

            <tr>
              <td>
                Fauré, Gabriel
              </td>
              <td>
                <a href = "#"> 8 Pièces brèves, Op.84 (Wind Quintet Version) - Arrangement by Pierre Gouin </a> 
              </td>
            </tr>

            <tr>
              <td>
                Ravel, Maurice
              </td>
              <td>
                <a href = "#"> Vocalise-étude en forme de Habanera (Wind Quintet Version) - Arrangement by Clarke S. Kessler </a> 
              </td>
            </tr>
         </table>

        <br />
        <br />
        <font size="+2" style="text-align: center;"><b>Sextets</b></font><br />
        <br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Hadyn, Joseph
              </td>
              <td>
                <a href = "#"> Divertimento in C major, Hob.II:7 (transcription for double reed sextet) </a> 
              </td>
            </tr>
           
            <tr>
              <td>
                Krommer, Franz Vincenz
              </td>
              <td>
                <a href = "#"> Partita in C minor, P IV:14 (trnascription for 2 clarinets, 2 horns, 2 bassoons) </a> 
              </td>
            </tr>
           
            <tr>
              <td>
                Scherrer, Heinrich
              </td>
              <td>
                <a href = "#"> Altfranzösische Tänze (flute, oboe, 2 clarinets, horn, bassoon) </a> 
              </td>
            </tr>
         </table>

        <br />
        <br />
        <font size="+2" style="text-align: center;"><b>Septets</b></font><br />
        <br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Beethoven, Ludwig van
              </td>
              <td>
                <a href = "#"> Septet, Op.20 (clarinet, horn, bassoon, violin, viola, cello, double bass) </a> 
              </td>
            </tr>
           
           
            <tr>
              <td>
                Berwald, Franz
              </td>
              <td>
                <a href = "#"> Grand Septet in B-flat major (clarinet, horn, bassoon, violin, viola, cello, double bass) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Gabrieli, Andrea
              </td>
              <td>
                <a href = "#"> Sonno Diletto et Caro (transcription for 2 oboes, 3 English horns, 2 bassoons </a> 
              </td>
            </tr>

            <tr>
              <td>
                Hindemith, Paul
              </td>
              <td>
                <a href = "#"> Septet (flute, oboe, clarinet, bass clarinet, bassoon, trumpet, horn) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Indy, Vincent d'
              </td>
              <td>
                <a href = "#"> Chansons et danses, Op. 50 (flute, oboe, 2 clarinets, horn, 2 bassoons) </a> 
              </td>
            </tr>
         </table>

        <br />
        <br />
        <font size="+2" style="text-align: center;"><b>Octets</b></font><br />
        <br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Beethoven, Ludwig van
              </td>
              <td>
                <a href = "#"> Rondino in E-flat major, WoO 25 (2 oboes, 2 clarinets, 2 horns, 2 bassoons) </a> 
              </td>
            </tr>
                      
            <tr>
              <td>
                Beethoven, Ludwig van
              </td>
              <td>
                <a href = "#"> Wind Octet in E-flat major, Op.103 (2 oboes, 2 clarinets, 2 horns, 2 bassoons) </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Brahms, Johannes
              </td>
              <td>
                <a href = "#"> Fest- und Gedenksprüche, Op.109 (transcription for 2 oboes, 4 English horns, 2 bassoons) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Hindemith, Paul
              </td>
              <td>
                <a href = "#"> Octet (clarinet, bassoon, horn, violin, 2 violas, cello, double bass) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Juon, Paul
              </td>
              <td>
                <a href = "#"> Octet, Op.27 (oboe, clarinet, bassoon, horn, violin, viola, cello, piano) </a> 
              </td>
            </tr>


            <tr>
              <td>
                Mendelssohn, Felix
              </td>
              <td>
                <a href = "#"> Elijah, Op.70 (For He Shall Give His Angels) for 2 oboes, oboe d'amore, 2 English horn, baritone oboe (or 3rd English horn), 2 bassoons) </a> 
              </td>
            </tr>


            <tr>
              <td>
                Reinecke, Carl
              </td>
              <td>
                <a href = "#"> Octet, Op.216 (flute, oboe, 2 clarinets, 2 horns, 2 bassoons) </a> 
              </td>
            </tr>


            <tr>
              <td>
                Schubert, Franz
              </td>
              <td>
                <a href = "#"> Octet, D.803 (2 violins, viola, cello, double bass, clarinet, horn, and bassoon) </a> 
              </td>
            </tr>


            <tr>
              <td>
                Schubert, Franz
              </td>
              <td>
                <a href = "#"> Octet, D.72 (2 oboes, 2 clarinets, 2 horns, 2 bassoons) </a> 
              </td>
            </tr>
         </table>

          <br />
        <br />
        <font size="+2" style="text-align: center;"><b>Nonets + larger</b></font><br />
        <br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Krommer, Franz
              </td>
              <td>
                <a href = "#"> Harmonie, Op.57 (2 oboes, 2 clarinets, 2 horns, 2 bassoons, contrabassoon) </a> 
              </td>
            </tr>
                      
            <tr>
              <td>
                Krommer, Franz
              </td>
              <td>
                <a href = "#"> Harmonie, Op.67 (2 oboes, 2 clarinets, 2 horns, 2 bassoons, contrabassoon) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Krommer, Franz
              </td>
              <td>
                <a href = "#"> Harmonie, Op.71 (2 oboes, 2 clarinets, 2 horns, 2 bassoons, contrabassoon) </a> 
              </td>
            </tr> 

            <tr>
              <td>
                Krommer, Franz
              </td>
              <td>
                <a href = "#"> Harmonie, Op.77 (2 oboes, 2 clarinets, 2 horns, 2 bassoons, contrabassoon) </a> 
              </td>
            </tr>  

            <tr>
              <td>
                Krommer, Franz
              </td>
              <td>
                <a href = "#"> Harmonie, Op.78 (2 oboes, 2 clarinets, 2 horns, 2 bassoons, contrabassoon) </a> 
              </td>
            </tr>

            <tr>
              <td>
                Onslow, Georges
              </td>
              <td>
                <a href = "#"> Nonet, Op.77a (flute, oboe, clarinet, bassoon, horn, violin, viola, cello, bass) </a>
              </td>
            </tr>

            <tr>
              <td>
                Weber, Carl Maria von
              </td>
              <td>
                <a href = "#"> Der Freischütz, Op.77 (transcription by Karl Flachs for flute, 2 oboes, 2 clarinets, 2 bassoons and 2 horns) </a>
              </td>
            </tr>

            <tr>
              <td>
                Dvořák, Antonín Leopold
              </td>
              <td>
                <a href = "#"> Serenade for Winds, Op.44 (2 oboes, 2 clarinets, 2 bassoons, contrabassoon, 3 horns, cello, double bass) </a>
              </td>
            </tr>


            <tr>
              <td>
                Strauss, Richard
              </td>
              <td>
                <a href = "#"> Serenade for Winds, Op.7 (2 flutes, 2 oboes, 2 clarinets, 2 bassoons, contrabassoon (or tuba), 4 horns) </a>
              </td>
            </tr>


            <tr>
              <td>
                Strauss, Richard
              </td>
              <td>
                <a href = "#"> Suite for Winds, Op.4 (2 flutes, 2 oboes, 2 clarinets, 2 bassoons, contrabassoon (or tuba), 4 horns) </a>
              </td>
            </tr>

            <tr>
              <td>
                Strauss, Richard
              </td>
              <td>
                <a href = "#"> Sonatine No.1, TrV 288 (2 flutes, 2 oboes, 3 clarinets, basset horn, bass clarinet, 2 bassoons, contrabassoon, 4 horns) </a>
              </td>
            </tr>

            <tr>
              <td>
                Strauss, Richard
              </td>
              <td>
                <a href = "#"> Sonatine No.2, TrV 291 (2 flutes, 2 oboes, 3 clarinets, basset horn, bass clarinet, 2 bassoons, contrabassoon, 4 horns) </a>
              </td>
            </tr>
                                    
            <tr>
              <td>
                Schoenberg, Arnold
              </td>
              <td>
                <a href = "#"> Kammersymphonie, Op.9 (flute (also piccolo), oboe, English horn, 3 clarinets, bass clarinet, bassoon, contrabassoon, 2 horns, 2 violins, viola, cello, bass) </a>
              </td>
            </tr>
         </table>
      </div>
   </div>
    <!--end body here-->

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<!--Carl seal start-->
<div align="center"> <br>
  <img alt="" src="http://sheetmusicinternational.com/images/Carl-Seal-Low-Res.jpg" height="205" width="200">
</div>
    </td>
    <!--Advertise here section (right hand side bar)-->
    <td>
      <table height="214" width="237" style="margin-right: 15px">
              <tbody>
                <tr>
                  <td valign="top" width="100%" style="text-align: center;"> <br />
                    Advertise here<br>
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top" style="border:1px solid black; "><br>
                            <br>
                            <br>
                            Full size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <table height="187" width="228" cellpadding="2"
                      cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            Half size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    .<br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
    </td>
  </tr>
<!--end body-->
<!--begin footer-->
  <tr>
    <td>&nbsp;</td>
    <td valign="top" align="center">
      Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
    </td>
  </tr>
  <!--end footer-->
  </table>   
<br />
<br />
<br />
    <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>
</html>
