<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sheet Music International</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body id="page-top">

<!--Well-->
<% include ../partials/nav %>

  <br />
<table style="margin-left: 5px">
  <tr>
    <td width="15%" style="margin-left: 15px; padding-top: 12px" valign="top">
      <div >
        <br />
        <!--right side bar-->
        <% include ../partials/SideBar %>
        <!-- end right side bar-->
    </td>
    <td width="80%" valign="top">



    <!--body begin here-->
   <div align="center">

        <font size="+2" style="text-align: center;"><b>Repertoire Lists for Cello</b></font><br />
        </br>

        <font size="+2" style="text-align: center;"><b>Cello solo acapella</b></font><br />
        </br>

        <table class="table table-striped" >

            <tr>
              <td>
                Albrecht, Ludwig:
              </td>
              <td>
                <a href="#">Cello Method</a>
              </td>
            </tr>

            <tr>
              <td>
                Alexanian, Diran (Book):
              </td>
              <td>
                <a href="#">Theoretical and practical treatise of the violoncello (book)</a>
              </td>
            </tr>

            <tr>
              <td>
                Aubert, Pierre François Olivier:
              </td>
              <td>
                <a href="#">Little Etudes Rondo (Grützmacher)</a>
              </td>
            </tr>

            <tr>
              <td>
                Bach, Johann Sebastian:
              </td>
              <td>
                <a href="#">Cello Suite No.1 in G major, BWV 1007</a></br>
                <a href="#">Cello Suite No.2 in D minor, BWV 1008</a></br>
                <a href="#">Cello Suite No.3 in C major, BWV 1009</a></br>
                <a href="#">Cello Suite No.4 in E-flat major, BWV 1010</a></br>
                <a href="#">Cello Suite No.5 in C minor, BWV 1011</a></br>
                <a href="#">Complete collections 6 Suites</a></br>
                <a href="#">Chaconne from Partita No.2 in</a></br>
                <a href="#">Partitas and Sonatas</a>
              </td>
            </tr>

            <tr>
              <td>
                Baudiot, Charles Nicolas:
              </td>
              <td>
                <a href="#">Little-Etudes Lento (Grützmacher)</a>
              </td>
            </tr>

            <tr>
              <td>
                Baumgärtner, Johann Baptist:
              </td>
              <td>
                <a href="#">Fuga (Grützmacher)</a>
              </td>
            </tr>

            <tr>
              <td>
                Barbier, Jean:
              </td>
              <td>
                <a href="#">Technique Rationnelle du Violoncelle (Scales and Arpeggios)</a>
              </td>
            </tr>

            <tr>
              <td>
                Beischer-Matyó, Tamás:
              </td>
              <td>
                <a href="#">Quasi stellar for cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Benito, Cosme José de:
              </td>
              <td>
                <a href="#">Elementary Method for Cello, Op.133</a>
              </td>
            </tr>

            <tr>
              <td>
                Berteau, Martin:
              </td>
              <td>
                <a href="#">Vivace (Grützmacher)</a>
              </td>
            </tr>

            <tr>
              <td>
                Bouma, Hugo:
              </td>
              <td>
                <a href="#">50 bars for cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Bréval, Jean-Baptiste:
              </td>
              <td>
                <a href="#">Traité du violoncelle</a>
              </td>
            </tr>

            <tr>
              <td>
                Brückner, Oscar:
              </td>
              <td>
                <a href="#">Short Studies for Violoncello (For the Elementary stage.)</a>
              </td>
            </tr>

            <tr>
              <td>
                Bukinik, Mikhail:
              </td>
              <td>
                <a href="#">New Shifting Studies, Op.13</a></br>
                <a href="#">Virtuoso Arpeggio Studies</a>
              </td>
            </tr>

            <tr>
              <td>
                Burke, James C.
              </td>
              <td>
                <a href="#">Etude for Solo Cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Cossmann, Bernhard:
              </td>
              <td>
                <a href="#">5 Concert Etudes for Cello, Op.10</a></br>
                <a href="#">Studies for Developing Agility for Cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Cuccoli, Arturo:
              </td>
              <td>
                <a href="#">Metodo Elementare per Violoncello</a>
              </td>
            </tr>

            <tr>
              <td>
                Davydov, Karl:
              </td>
              <td>
                <a href="#">School of Violoncello Playing</a>
              </td>
            </tr>

            <tr>
              <td>
                Dall'Abaco, Joseph:
              </td>
              <td>
                <a href="#">11 Capricci for Cello solo</a>
              </td>
            </tr>

            <tr>
              <td>
                Dotzauer, Justus Friedrich:
              </td>
              <td>
                <a href="#">24 Exercises for Cello solo, Op.35</a></br>
                <a href="#">12 Exercises for Cello, Op.47</a></br>
                <a href="#">12 Exercises for Cello, Op.54</a></br>
                <a href="#">113 Etudes for Violoncello Books 1 - 4</a></br>
                <a href="#">Cello Method-Cello-School</a></br>
                <a href="#">18 Excercices for Cello, Op.120</a></br>
                <a href="#">100 Etudes, Op.123</a></br>
                <a href="#">24 Études journalières, Op.155</a></br>
                <a href="#">12 Exercises for Cello, Op.158</a></br>
                <a href="#">7 Cello Etudes, Op.175</a></br>
                <a href="#">Etudes for Cello (from Op.47, 54, 70 120, 158, 160 by Schroeder)</a>
              </td>
            </tr>

            <tr>
              <td>
                Duport, Jean-Louis:
              </td>
              <td>
                <a href="#">Allegro for solo cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Feuillard, Louis:
              </td>
              <td>
                <a href="#">Daily Exercises for Violoncello</a>
              </td>
            </tr>

            <tr>
              <td>
                Fischer, Carl August:
              </td>
              <td>
                <a href="#">Method for the Violoncello</a>
              </td>
            </tr>

            <tr>
              <td>
                Fitzenhagen, Wilhelm:
              </td>
              <td>
                <a href="#">Technical Studies for the Cello Op.28</a>
              </td>
            </tr>

            <tr>
              <td>
                Flüeler, Joachim Karl Melchior:
              </td>
              <td>
                <a href="#">Suite No.1 for Solo Cello, Op.4</a>
              </td>
            </tr>

            <tr>
              <td>
                Forino, Luigi:
              </td>
              <td>
                <a href="#">20 Studii (for cello)</a>
              </td>
            </tr>

            <tr>
              <td>
                Franchomme, Auguste:
              </td>
              <td>
                <a href="#">12 Caprices for Cello, Op.7</a></br>
                <a href="#">12 Etudes for Violoncello, Op.35</a>
              </td>
            </tr>

            <tr>
              <td>
                Fuchs-Schönbach, Ernst:
              </td>
              <td>
                <a href="#">Suite in D minor, Op.4/1</a></br>
                <a href="#">Sonata in E minor, Op.4/2</a>
              </td>
            </tr>

            <tr>
              <td>
                Gabrielli, Domenico:
              </td>
              <td>
                <a href="#">Ricercari, canone e sonate per violoncello</a>
              </td>
            </tr>

            <tr>
              <td>
                Girtain IV, Edgar:
              </td>
              <td>
                <a href="#">Northface, Op.6 for Cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Grayson, Martin:
              </td>
              <td>
                <a href="#">Two Pieces for Solo 'Cello</a></br>
                <a href="#">Sonata Cello solo op8</a>
              </td>
            </tr>

            <tr>
              <td>
                Grützmacher, Friedrich:
              </td>
              <td>
                <a href="#">24 Etudes, Op.38 for Cello</a></br>
                <a href="#">Daily Exercises, Op.67 for the Cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Gunn, John:
              </td>
              <td>
                <a href="#">The Theory and Practice of Fingering the Violoncello</a>
              </td>
            </tr>

            <tr>
              <td>
                Hallman, Joseph:
              </td>
              <td>
                <a href="#">Solo Sonata 2007</a></br>
                <a href="#">6 Short Solo pieces for Solo Cello 2001</a>
              </td>
            </tr>

            <tr>
              <td>
                Hammer, Xaver:
              </td>
              <td>
                <a href="#">2 Caprices and 5 Variations for Cello Solo</a>
              </td>
            </tr>

            <tr>
              <td>
                Harrington, Jeffrey Michael:
              </td>
              <td>
                <a href="#">The Empty Fist for Solo Cello</a></br>
                <a href="#">Scherzo for Solo Cello</a></br>
                <a href="#">Quarter Dollar Tones for Solo Cello</a></br>
                <a href="#">Tango del Aquelarre for Solo Cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Heberlein, Hermann:
              </td>
              <td>
                <a href="#">Self-Instructor for Violoncello, Op.7</a>
              </td>
            </tr>

            <tr>
              <td>
                Hegner, Anton:
              </td>
              <td>
                <a href="#">Fantasie for Solo Cello, Op.14</a>
              </td>
            </tr>

            <tr>
              <td>
                Hindemith, Paul:
              </td>
              <td>
                <a href="#">Sonata for Violoncello Solo, Op.25 No.3</a>
              </td>
            </tr>

            <tr>
              <td>
                Karjinsky, Nicholas:
              </td>
              <td>
                <a href="#">Toccata (1920) for solo cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Klengel, Julius:
              </td>
              <td>
                <a href="#">Cello Studies Vol 1</a></br>
                <a href="#">Cello Studies Vol 2</a></br>
                <a href="#">Caprice in the Form of a Chaconne after a Theme by Schumann, Op.43</a></br>
                <a href="#">Daily Studies for Cello Vol.1,2,3</a>
              </td>
            </tr>

            <tr>
              <td>
                Kodály, Zoltán:
              </td>
              <td>
                <a href="#">Sonata for Solo Cello, Op.8</a>
              </td>
            </tr>

            <tr>
              <td>
                Kotynia, Szymon:
              </td>
              <td>
                <a href="#">Capriccio in Baroque Style</a>
              </td>
            </tr>

            <tr>
              <td>
                Kummer, Friedrich August:
              </td>
              <td>
                <a href="#">10 Melodic Etudes, Op.57 for Cello</a></br>
                <a href="#">Violoncell-Schule für den ersten Unterricht, Op.60</a>
              </td>
            </tr>

            <tr>
              <td>
                Lee, Sebastian:
              </td>
              <td>
                <a href="#">40 Melodic Progressive Exercises for Cello Op.31 Book 1</a></br>
                <a href="#">40 Melodic Progressive Exercises for Cello op31 Book 2</a></br>
                <a href="#">12 Studies for Perfection of Technique, Op.57</a></br>
                <a href="#">40 Easy Etudes for Cello, Op.70</a></br>
                <a href="#">12 etudes-caprices caracteristiques, Op.100</a></br>
                <a href="#">50 Etüden für den Anfang, Op.101 (First Steps in Cello Playing)</a></br>
                <a href="#">8 Etudes-Caprices for Cello, Op.105</a></br>
                <a href="#">Violoncello School</a></br>
                <a href="#">12 Melodic Studies, Op.113</a>
              </td>
            </tr>

            <tr>
              <td>
                Leonovich, Yuriy:
              </td>
              <td>
                <a href="#">Improvisation</a>
              </td>
            </tr>

            <tr>
              <td>
                Lindley, Robert:
              </td>
              <td>
                <a href="#">12 Capriccios and Exercises, Op.15</a>
              </td>
            </tr>

            <tr>
              <td>
                Mandozzi, Orfeo:
              </td>
              <td>
                <a href="#">Chaccona-Notturno for Solo Cello, Op.3</a>
              </td>
            </tr>

            <tr>
              <td>
                Merk, Joseph:
              </td>
              <td>
                <a href="#">20 Exercises for Cello, Op.11</a></br>
                <a href="#">6 Etudes for Cello, Op.20</a>
              </td>
            </tr>

            <tr>
              <td>
                Minyar-Beloruchev, Konstantin:
              </td>
              <td>
                <a href="#">2 Pieces for Cello Solo</a>
              </td>
            </tr>

            <tr>
              <td>
                Mojica, Natanael:
              </td>
              <td>
                <a href="#">3 Lamentos, Op.12</a>
              </td>
            </tr>

            <tr>
              <td>
                Mollenhauer, Eduard:
              </td>
              <td>
                <a href="#">Imperial Method for the Cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Munck, Ernest de:
              </td>
              <td>
                <a href="#">6 Etudes for Cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Muntz-Berger, Joseph:
              </td>
              <td>
                <a href="#">Nouvelle méthode pour le violoncelle, Op.30 (dans la quelle toutes les difficultés sont gradués (1820)</a>
              </td>
            </tr>

            <tr>
              <td>
                Paganini, Niccolò:
              </td>
              <td>
                <a href="#">24 Caprices for Solo Cello, Op.1 (Silva)</a>
              </td>
            </tr>

            <tr>
              <td>
                Piatti, Carlo Alfredo:
              </td>
              <td>
                <a href="#">12 Caprices for Solo Cello, Op.25</a></br>
                <a href="#">Capriccio sopra un tema della 'Niobe', Op.22</a></br>
                <a href="#">Violoncello Schule (Cello Method)</a>
              </td>
            </tr>

            <tr>
              <td>
                Popper, David:
              </td>
              <td>
                <a href="#">High School of Cello Playing, Op.73</a></br>
                <a href="#">15 Cello Etudes, Op.76a</a>
              </td>
            </tr>

            <tr>
              <td>
                Raoul, Jean Marie:
              </td>
              <td>
                <a href="#">Méthode de violoncelle</a>
              </td>
            </tr>

            <tr>
              <td>
                Reger, Max:
              </td>
              <td>
                <a href="#">3 Suites for Solo Cello, Op.131c</a>
              </td>
            </tr>

            <tr>
              <td>
                Reinagle, Joseph:
              </td>
              <td>
                <a href="#">Introcduction to the art of Cello Playing</a>
              </td>
            </tr>

            <tr>
              <td>
                Romberg, Bernhard:
              </td>
              <td>
                <a href="#">A Complete Theoretical and Practical School for the Violoncello</a></br>
                <a href="#">Allegretto, quasi Andante</a>
              </td>
            </tr>

            <tr>
              <td>
                Rosenthal, Yakov:
              </td>
              <td>
                <a href="#">Cello School</a>
              </td>
            </tr>

            <tr>
              <td>
                Rüdinger, Fritz Albert Christian:
              </td>
              <td>
                <a href="#">Technical Studies for Cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Sánchez, José Luis:
              </td>
              <td>
                <a href="#">Preludio y Cueca para Cello en Do Mayor</a>
              </td>
            </tr>

            <tr>
              <td>
                Schröder, Carl:
              </td>
              <td>
                <a href="#">Schroder Carl Cello Method</a></br>
                <a href="#">Die ersten Violoncello-Übungen, Op.31</a></br>
                <a href="#">School of Trills and Staccatos for Cello, Op.39</a></br>
                <a href="#">Führer durch den Violoncell Unterricht (in German)</a>
              </td>
            </tr>

            <tr>
              <td>
                Schuster, Vincenz:
              </td>
              <td>
                <a href="#">Anleitung zur Erlernung des von Hrn. Georg Staufer Arpeggio-Method</a>
              </td>
            </tr>

            <tr>
              <td>
                Ševcík, Otakar (Sevcik):
              </td>
              <td>
                <a href="#">School of Bowing Technique Op.2 for Cello</a></br>
                <a href="#">Changes of Position and Preparatory Scale Studies, Op.8 Cello</a></br>
                <a href="#">40 Variations, Op.3</a>
              </td>
            </tr>

            <tr>
              <td>
                Stiastny, Jan:
              </td>
              <td>
                <a href="#">Allegro for Cello (Grützmacher)</a>
              </td>
            </tr>

            <tr>
              <td>
                Straeten, Edmund S J van der:
              </td>
              <td>
                <a href="#">The Technics of Violoncello Playing (text)</a>
              </td>
            </tr>

            <tr>
              <td>
                Szuk, Leopold:
              </td>
              <td>
                <a href="#">6 Caprices for Cello Solo, Op.8</a>
              </td>
            </tr>

            <tr>
              <td>
                Tartini, Giuseppe:
              </td>
              <td>
                <a href="#">The Art of Bowing</a>
              </td>
            </tr>

            <tr>
              <td>
                Telemann, Georg Philipp:
              </td>
              <td>
                <a href="#">Suite in D Major for Cello Solo</a>
              </td>
            </tr>

            <tr>
              <td>
                Tillière, Joseph Bonaventure:
              </td>
              <td>
                <a href="#">Méthode de violoncelle</a>
              </td>
            </tr>

            <tr>
              <td>
                Uber, Alexander:
              </td>
              <td>
                <a href="#">Quasi Fantaisia for Cello</a>
              </td>
            </tr>

            <tr>
              <td>
                Werner, Josef:
              </td>
              <td>
                <a href="#">Practical Method for Violoncello, Op.12</a>
              </td>
            </tr>

            <tr>
              <td>
                Ysaÿe, Eugène:
              </td>
              <td>
                <a href="#">Sonate pour Violoncelle seul</a>
              </td>
            </tr>

            <tr>
              <td>
                Zwaag, Wim:
              </td>
              <td>
                <a href="#">Sonata for cello solo (2005)</a>
              </td>
            </tr>

        </table>

        <font size="+2" style="text-align: center;"><b>Cello and piano (or accompanied)</b></font><br />
        </br>

        <table class="table table-striped" >

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            valign
            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

            <tr>
              <td>
                
              </td>
              <td>
                <a href="#"></a>
              </td>
            </tr>

        </table>

        <table class="table table-striped" >

          <tr>
              <td><font size="+1"><b>Cello Duets</font></td>
            </tr>

            <tr> 
              <td>Aubert, Pierre François Olivier</td>
                <td>
                  3 Duos, Op.6 (for 2 Violins or 2 Cellos or Violin and Cello)
                </td>
            </tr>

            <tr> 
              <td>Bach, Johann Sebastian</td>
                <td>
                  Invention No.13 in A minor for 2 Cellos BWV 784
                </td>
            </tr>

            <tr> 
              <td>Barrière, Jean-Baptiste</td>
                <td>
                  6 Sonatas for Violoncello and BC (Basso Continuo)
                </td>
            </tr>

            <tr> 
              <td>Battanchon, Félix</td>
                <td>
                  3 Duos for 2 Cellos, Op.31
                </td>
            </tr>

            <tr> 
              <td>Bazilevsky, Georgy</td>
                <td>
                  3 Pieces (Ballade) for 2 Cellos and piano </br>
                  2 Pieces (Melodie for 2 Cellos and Piano </br>
                  Romance 2 cellos piano  </br>
                  Berceuse, Op.43 for 2 Cellos and Piano
                </td>
            </tr>

            <tr> 
              <td>Breuer, Bernhard</td>
                <td>
                  3 Cello Duets, Op.2
                </td>
            </tr>

            <tr> 
              <td>Breval, Jean-Baptiste</td>
                <td>
                  6 Duos for 2 Cellos, Op.2e </br>
                  6 Sonatas for Cello, Op.12
                </td>
            </tr>

            <tr> 
              <td>Büchler, Ferdinand</td>
                <td>
                  6 Studies for 2 Cellos, Op.22
                </td>
            </tr>

            <tr> 
              <td>Burgmüller, Friedrich</td>
                <td>
                  Arabesque for 2 Cellos Op.100 
                </td>
            </tr>

            <tr> 
              <td>Donizetti, Gaetano</td>
                <td>
                  Duetto nella Lucia from Lucia di Lammermoor 
                </td>
            </tr>

            <tr> 
              <td>Dotzauer, Friedrich</td>
                <td>
                  Collection of Favorite Opera motifs for 2 Cellos </br>
                  3 Easy Duos for 2 Cellos, Op.114 </br>
                  3 Sonatas for 2 Cellos, Op.103
                </td>
            </tr>

            <tr> 
              <td>Duport, Jean-Pierre</td>
                <td>
                  6 Sonatas for Cello
                </td>
            </tr>

            <tr> 
              <td>Giordani, Tommaso</td>
                <td>
                  6 Duos for 2 Cellos, Op.18
                </td>
            </tr>

            <tr> 
              <td>Grayson, Martin</td>
                <td>
                  The Cuckoo, Variations on a Folk Song, 2 Cellos Version
                </td>
            </tr>

            <tr> 
              <td>Gross, Johann Benjamin</td>
                <td>
                  24 Small Easy Cello Duos, Op.42
                </td>
            </tr>

            <tr> 
              <td>Grützmacher, Friedrich</td>
                <td>
                  3 Duos for 2 Cellos, Op.22
                </td>
            </tr>

            <tr> 
              <td>Handel, George Frideric</td>
                <td>
                  Sarabande from Suite in D minor, HWV 437 For 2 Cellos (Ohashi)
                </td>
            </tr>

            <tr> 
              <td>Horton, J. R.</td>
                <td>
                  Suite for 2 Cellos
                </td>
            </tr>

            <tr> 
              <td>Hus-Desforges, Pierre Louis</td>
                <td>
                  3 Sonatines Brillantes et Faciles pour Violoncello, Op.49
                </td>
            </tr>

            <tr> 
              <td>Klengel, Julius</td>
                <td>
                  Suite in D Minor for 2 Cellos, Op.22
                </td>
            </tr>

            <tr> 
              <td>Kummer, Friedrich August</td>
                <td>
                  3 Cello Duets, Op.22 </br>
                  6 Duos and a Capriccio, Op.33 for 2 Cellos </br>
                  6 Duos for 2 Cellos, Op.156
                </td>
            </tr>

            <tr> 
              <td>Lee, Sebastian</td>
                <td>
                  3 Duets for 2 Cellos, Op.36 </br>
                  3 Duets for 2 Cellos, Op.37 </br>
                  3 Duos for 2 Cellos, Op.38 </br>
                  3 Duets for 2 Cellos, Op.39 </br>
                  6 Caprices, Op.109
                </td>
            </tr>

            <tr> 
              <td>Lindley, Robert</td>
                <td>
                  3 Duets for 2 cellos
                </td>
            </tr>

            <tr> 
              <td>Marcello, Benedetto</td>
                <td>
                  6 Sonatas for 2 Cellos, Op.2 for 2 Cellos and BC
                </td>
            </tr>

            <tr> 
              <td>Matys, Karl</td>
                <td>
                  Duos for 2 Violoncellos, Op.52 </br>
                  Duos for 2 Cellos, Op.53
                </td>
            </tr>

            <tr> 
              <td>Mercadante, Saverio</td>
                <td>
                  Aria Nel Giuramento for 2 Cellos
                </td>
            </tr>

            <tr> 
              <td>Moja, Leonardo</td>
                <td>
                  Lezioni Dilettevoli Sopra Melodie Moderne Apllaudite
                </td>
            </tr>

            <tr> 
              <td>Muntz-Berger, Joseph</td>
                <td>
                  3 Nocturnes Dialogués, Op.10e for 2 Cellos
                </td>
            </tr>

            <tr> 
              <td>Moór, Emanuel</td>
                <td>
                  Suite for 2 Cellos, Op.110
                </td>
            </tr>

            <tr> 
              <td>Mozart, Wolfgang Amadeus</td>
                <td>
                  Sonata for Bassoon and Cello in B-flat major, K.292/196c (arr. Mandozzi)
                </td>
            </tr>

            <tr> 
              <td>Neubauer, Franz Christoph</td>
                <td>
                  3 Duets for 2 Cellos, Op.10
                </td>
            </tr>

            <tr> 
              <td>Offenbach, Jacques</td>
                <td>
                  Cello Duos, Op.49 </br>
                  Cello 6 Duos, Op.50 </br>
                  Cello Duos, Op.51 </br>
                  Cello Duos, Op.52 </br>
                  Cello Duos, Op.53 </br>
                  Cello Duos, Op.54
                </td>
            </tr>

            <tr> 
              <td>Platti, Giovanni Benedetto</td>
                <td>
                  12 Sonatas for Cello and Continuo
                </td>
            </tr>

            <tr> 
              <td>Pleyel, Ignaz</td>
                <td>
                  6 Cello Sonatas (for Cello and BC) </br>
                  Cello-Duets Various instruments
                </td>
            </tr>

            <tr> 
              <td>Quarenghi, Guglielmo</td>
                <td>
                  5 Cello Duets 
                </td>
            </tr>

            <tr> 
              <td>Renat, H.</td>
                <td>
                  3 Trio Concertan for 2 Cellos, Op.10
                </td>
            </tr>

            <tr> 
              <td>Rey, Jean-Baptiste</td>
                <td>
                  6 Cello Sonatas, Op.1 (for Cello and BC)
                </td>
            </tr>

            <tr> 
              <td>Romberg, Bernhard</td>
                <td>
                  3 Duos for 2 Cellos, Op.9 </br>
                  3 Grand Duo for 2 Cellos, Op.33 </br>
                  3 Sonatas for 2 Cellos, Op.43
                </td>
            </tr>

            <tr> 
              <td>Salivas, Pietro</td>
                <td>
                  6 Duos for 2 Cellos, Op.2
                </td>
            </tr>

            <tr> 
              <td>Schuberth, Carl</td>
                <td>
                  Grand Nocturne élégiaque, Op.6 for 2 Cellos and Piano
                </td>
            </tr>

            <tr> 
              <td>Servais, Adrien-François</td>
                <td>
                  6 Caprices for Cello, Op.11
                </td>
            </tr>

            <tr> 
              <td>Stiastny, Jan</td>
                <td>
                  3 Duos Concertans, Op.6 for 2 cellos </br>
                  6 Cello Duos
                </td>
            </tr>

            <tr> 
              <td>Tillière, Joseph Bonaventure</td>
                <td>
                  Recueil d'ariettes, menuets for 2 Cellos
                </td>
            </tr>

            <tr> 
              <td>Viotti, Giovanni Battista</td>
                <td>
                  3 Concertant Duos, Op.29 </br>
                  Duets 
                </td>
            </tr>

            <tr> 
              <td>Wenzel, Hermann</td>
                <td>
                  4 Duets for 2 Cellos and Piano
                </td>
            </tr>

            <tr> 
              <td>Werner, Josef</td>
                <td>
                  Duo Concertante, Op.56 for 2 Cellos (or Violin and Cello) and Piano (or Quintet)
                </td>
            </tr>

            <tr> 
              <td>Battanchon, Félix</td>
                <td>
                  Trio No.2 for 3 Cellos, Op.40
                </td>
            </tr>

            <tr> 
              <td>Beethoven, Ludwig van</td>
                <td>
                  Trio in C Major Op.87 for 3 Cellos (Prell)
                </td>
            </tr>

            <tr> 
              <td>Dotzauer, Friedrich</td>
                <td>
                  6 Pieces for 3 Cellos, Op.104
                </td>
            </tr>

            <tr> 
              <td>Limmer, Franz</td>
                <td>
                  Trio pour 3 Violoncelles, Op.12
                </td>
            </tr>

            <tr> 
              <td>Mandozzi, Orfeo</td>
                <td>
                  Trio for 3 Cellos
                </td>
            </tr>

            <tr> 
              <td>Popper, David</td>
                <td>
                  Requiem, Op.66 for 3 Cellos and Piano (Orch.)
                </td>
            </tr>

            <tr> 
              <td>Bukinik, Mikhail</td>
                <td>
                  Fantaisie for Cello and Bass, Op.11
                </td>
            </tr>

            <tr> 
              <td>Rossini, Gioacchino</td>
                <td>
                  Duet in D for Cello and Bass
                </td>
            </tr>

          </table>
       
   </div>
    <!--end body here-->

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<!--Carl seal start-->
<div align="center"> <br>
  <img alt="" src="http://sheetmusicinternational.com/images/Carl-Seal-Low-Res.jpg" height="205" width="200">
</div>
    </td>
    <!--Advertise here section (right hand side bar)-->
    <td>
      <table height="214" width="237" style="margin-right: 15px">
              <tbody>
                <tr>
                  <td valign="top" width="100%" style="text-align: center;"> <br />
                    Advertise here<br>
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top" style="border:1px solid black; "><br>
                            <br>
                            <br>
                            Full size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <table height="187" width="228" cellpadding="2"
                      cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            Half size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    .<br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
    </td>
  </tr>
<!--end body-->
<!--begin footer-->
  <tr>
    <td>&nbsp;</td>
    <td valign="top" align="center">
      Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
    </td>
  </tr>
  <!--end footer-->
  </table>   
<br />
<br />
<br />
    <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>
</html>
