<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sheet Music International</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body id="page-top">

<!--Well-->
<% include ../partials/nav %>

  <br />
<table style="margin-left: 5px">
  <tr>
    <td width="15%" style="margin-left: 15px; padding-top: 12px" valign="top">
      <div >
        <br />
        <!--right side bar-->
        <% include ../partials/SideBar %>
        <!-- end right side bar-->
    </td>
    <td width="80%" valign="top">



    <!--body begin here-->
   <div align="center">

      <div class="col-md-8 col-md-offset-2">
                <font size="+2" style="text-align: center;"><b>Repertoire Lists for Clarinet</b></font><br />
<br />

          <font size="+2" style="text-align: left;"><b>Clarinet and Piano</b></font><br />
          <br />

          <table class="table table-striped" >

          <tr>
              <td><font size="+1"><b>Sonatas</font></td>
            </tr>
           
          <tr> 
            <td>Brahms J:</td>
              <td>
                2 Clarinet (or Viola) Sonatas, Op.120 
              </td>
          </tr>

          <tr> 
              <td>Hindimith-Paul:</td>
                <td>
                  Clarinet Sonata 
                </td>
            </tr>

            <tr> 
              <td>Kiely Yagan:</td>
                <td>
                  Sonata for Piano and Bb Clarinet in C 
                </td>
            </tr>

            <tr> 
              <td>Mason-Daniel:</td>
                <td>
                  Sonata for Clarinet and Piano, Op.17 
                </td>
            </tr>

            <tr> 
              <td>Reger Max:</td>
                <td>
                  Clarinet Sonata 1, Op.49 </br>
                  Clarinet Sonata 2 
                </td>
            </tr>

            <tr> 
              <td>Saint-Saens:</td>
                <td>
                  Sonata for Clarinet and Piano, Op.167 
                </td>
            </tr>

            <tr> 
              <td>Stanford Charles Villers:</td>
                <td>
                  Clarinet Sonata, Op.129 
                </td>
            </tr>

            <tr>
              <td><font size="+1"><b>Pieces</font></td>
            </tr>

            <tr> 
              <td>Akimenko Theodore:</td>
                <td>
                  Petite Ballade pour Clarinette, Op.19 clarinet-orchestra 
                </td>
            </tr>

            <tr> 
              <td>Anderson Wingar:</td>
                <td>
                  Concert Piece, Op.23 
                </td>
            </tr>

            <tr> 
              <td>Berg, Alban:</td>
                <td>
                  4 Stücke, Op.5 
                </td>
            </tr>

            <tr> 
              <td>Busoni Ferruccio:</td>
                <td>
                  Elegie for Clarinet and Piano, BV 286 
                </td>
            </tr>

            <tr> 
              <td>Debussy Claude:</td>
                <td>
                  Petite pièce </br>
                  Première Rapsodie 
                </td>
            </tr>

            <tr> 
              <td>Davis Ferdinand:</td>
                <td>
                  Introduction et Variations sur un Theme de Franz Schubert 
                </td>
            </tr>

            <tr> 
              <td>Fairchild, Blair:</td>
                <td>
                  3 Pieces for Clarinet and Piano, Op.12 
                </td>
            </tr>

            <tr> 
              <td>Gade, Niels:</td>
                <td>
                  4 Fantasiestücke for Clarinet (Violin) and Piano, Op.43 
                </td>
            </tr>

            <tr> 
              <td>Honegger Arthur:</td>
                <td>
                  Sonatine for Clarinet and Piano 
                </td>
            </tr>

            <tr> 
              <td>Klose Hyacinthe Eleonore:</td>
                <td>
                  Solo No.7 for Clarinet and Piano, Op.17 
                </td>
            </tr>

            <tr> 
              <td>Messager Andre:</td>
                <td>
                  Solo de Concours
                </td>
            </tr>

            <tr> 
              <td>Ornsein Leo:</td>
                <td>
                  Nocturne for Clarinet, S600 
                </td>
            </tr>

            <tr> 
              <td>Rabaud Henri:</td>
                <td>
                  Solo de Concours, Op.10 
                </td>
            </tr>

            <tr> 
              <td>Rimsky-Korsakov Nikolay</td>
                <td>
                  The Tale of Tsar Saltan (opera) </br>
                  Canzonnetta and Tarentslla clarinet acapella
                </td>
            </tr>

            <tr> 
              <td>Rossini Gioacchino:</td>
                <td>
                  Variations for Clarinet in Bb and Chamber orchestra
                </td>
            </tr>

            <tr> 
              <td>Stanford Charles Villers:</td>
                <td>
                  3 Intermezzi, Op.13
                </td>
            </tr>

            <tr> 
              <td>Schumann, Robert:</td>
                <td>
                  3 Romances, Op. 94 ()
                </td>
            </tr>

            <tr> 
              <td>Shen Yichuan:</td>
                <td>
                  Capriccio in C minor for Clarinet and Piano, Op.12 </br>
                  Capriccio in D minor for Clarinet and Piano, Op.13 
                </td>
            </tr>

            <tr> 
              <td>Weber Carl Maria:</td>
                <td>
                  Variations on a Theme from Silvana, Op.33 (Weber, Carl Maria von)
                </td>
            </tr>

          </table>

          <font size="+2" style="text-align: left;"><b>Clarinet Concertos</b></font><br />
          <br />

          <table class="table table-striped" >

            <tr> 
              <td>Barmann-Heinrich:</td>
                <td>
                  Adagio for Clarinet and Strings 
                </td>
            </tr>

            <tr> 
              <td>Bruch Max:</td>
                <td>
                  Double Concerto in E Minor, Op. 88  (Clarinet, Viola, and Piano)
                </td>
            </tr>

            <tr> 
              <td>Busoni Ferruccio:</td>
                <td>
                  Concertino for Clarinet and Small Orchestra, Op.48, BV 276 
                </td>
            </tr>

            <tr> 
              <td>Debussy Claude:</td>
                <td>
                  Première Rapsodie 
                </td>
            </tr>

            <tr> 
              <td>Glazunov Alexander:</td>
                <td>
                  Saxophone Concerto, Op.109  (arranged for clarinet and piano)- all parts
                </td>
            </tr>

            <tr> 
              <td>Hindimith Paul:</td>
                <td>
                  Clarinet Concerto  clarinet-piano </br>
                  Concerto for Woodwinds, Harp and Orchestra (score only: Flute, Oboe, Clarinet, Bassoon, Harp and Orchestra)
                </td>
            </tr>

            <tr> 
              <td>Krommer Franz:</td>
                <td>
                  Concerto for 2 Clarinets Op.35 (Krommer, Franz Vincenz) (Clarinet 1, 2 and Piano)
                </td>
            </tr>

            <tr> 
              <td>Mozart:</td>
                <td>
                  Clarinet Concerto, K.622 (Mozart, Wolfgang Amadeus)
                </td>
            </tr>

            <tr> 
              <td>Rimsty Korsakov:</td>
                <td>
                  Clarinet Concerto
                </td>
            </tr>

            <tr> 
              <td>Saint Saens:</td>
                <td>
                  Tarantelle, Op.6  (for Clarinet, Flute and Orchestra)
                </td>
            </tr>

            <tr> 
              <td>Sphor Louis:</td>
                <td>
                  Clarinet Concerto No.1, Op.26  </br>
                  Clarine Clarinet Concerto 2 op57 </br>
                  Clarinet Concerto 3 </br>
                  Fantasy and Variations, Op.81 
                </td>
            </tr>

            <tr> 
              <td>Weber:</td>
                <td>
                  Clarinet Concertino, Op.26 (Clarinet and Piano parts) </br>
                  Clarinet Concerto No.1, Op.73  </br>
                  Clarinet Concerto No.2, Op.74 (Clarinet and Piano)
                </td>
            </tr>

          </table>

          <font size="+2" style="text-align: left;"><b>Just Clarinet</b></font><br />
          <br />

          <table class="table table-striped" >

          <tr>
              <td><font size="+1"><b>Solo</font></td>
            </tr>

            <tr> 
              <td>Cellitti Venanzio:</td>
                <td>
                  Fugato per clarinetto solo 
                </td>
            </tr>

            <tr> 
              <td>Peters Rey:</td>
                <td>
                  Für Andres 
                </td>
            </tr>

            <tr> 
              <td>Rose Cyrille:</td>
                <td>
                  40 Studies for Clarinet Solo
                </td>
            </tr>

            <tr> 
              <td>Saboohi Ehsan:</td>
                <td>
                  Sonata for Solo Clarinet: Farewell 
                </td>
            </tr>

            <tr>
              <td><font size="+1"><b>Duets</font></td>
            </tr>

            <tr> 
              <td>Crusell Bernhard:</td>
                <td>
                  Clarinet Duo No. 2 </br>
                  Duo in D 2 clarinets
                </td>
            </tr>

            <tr> 
              <td>Paulinyi Zoltan:</td>
                <td>
                  Biduo d'ouro 
                </td>
            </tr>

            <tr>
              <td><font size="+1"><b>Quartets</font></td>
            </tr>

            <tr> 
              <td>Bizet George:</td>
                <td>
                  Carmen  (overture)
                </td>
            </tr>

            <tr> 
              <td>Debussy Claude:</td>
                <td>
                  Clair de Lune  (clarinet-quartet)
                </td>
            </tr>

            <tr> 
              <td>Joplin Scott:</td>
                <td>
                  Pleasant Moments ( (arr. Clarinet Quintet Full score - parts) </br>
                  The Strenuous Life  (arr. Clarinet Quintet Full score - parts)
                </td>
            </tr>

            <tr>
              <td><font size="+1"><b>Quintets</font></td>
            </tr>

            <tr> 
              <td>Joplin Scott:</td>
                <td>
                  Elite Syncopations  (arr. Clarinet Quintet - parts) </br>
                  Solace (arr. Clarinet Quintet Full score - parts) </br>
                  The Easy Winners  (arr. Clarinet Quintet - parts) </br>
                  The Entertainer  (arr. Clarinet Quintet - parts) </br>
                  The Favorite  (arr. Clarinet Quintet - parts) </br>
                  The Sycamore (arr. Clarinet Quintet Full score - parts) 
                </td>
            </tr>

          </table>

          <font size="+2" style="text-align: left;"><b>Chamber Music</b></font><br />
          <br />

          <table class="table table-striped" >

          <tr>
              <td><font size="+1"><b>Chamber Ensemble with Piano</font></td>
            </tr>

            <tr>
              <td><b>Piano + 2</font></td>
            </tr>

            <tr> 
              <td>Amberg Johan:</td>
                <td>
                  Trio for Clarinet (or Violin), Violoncello and Piano, Op.11 </br>
                  Fantasy Pieces, Op.12  (Clarinet, Viola, Piano)
                </td>
            </tr>

            <tr> 
              <td>Baermann Carl:</td>
                <td>
                  Duo Concertant, Op.33 (Piano, 2 Clarinets)
                </td>
            </tr>

            <tr> 
              <td>Bartok Bela:</td>
                <td>
                  Contrasts for Violin, Clarinet and Piano, Sz.111 
                </td>
            </tr>

            <tr> 
              <td>Beethoven Ludwig:</td>
                <td>
                  Piano Trio No.4, Op.11  "Gassenhauer Trio" (clarinet, cello, paino)
                </td>
            </tr>

            <tr> 
              <td>Berger Wilhelm:</td>
                <td>
                  Piano Trio, Op.94  (Clarinet, Cello, Piano)
                </td>
            </tr>

            <tr> 
              <td>Brahms:</td>
                <td>
                  Clarinet Trio, Op.114  (Clarinet, Violoncello, Piano)
                </td>
            </tr>

            <tr> 
              <td>Bruch Max:</td>
                <td>
                  8 Pieces for Clarinet, Viola and Piano, Op.83 
                </td>
            </tr>

            <tr> 
              <td>Cavallini Eugenio:</td>
                <td>
                  Rêverie Russe  (Flute, Clarinet, Piano)
                </td>
            </tr>

            <tr> 
              <td>Eberl Anton:</td>
                <td>
                  Grand Trio, Op.36  (Clarinet, Cello, Piano)
                </td>
            </tr>

            <tr> 
              <td>Glinka Mikhail:</td>
                <td>
                  Trio pathetique ((Clarinet, Bassoon, Piano) </br>
                  Märchenerzählungen, Op.132  (Clarinet, Viola, and Piano)
                </td>
            </tr>

            <tr> 
              <td>Gyrowetz Adalbert:</td>
                <td>
                  Grand Trio for Piano, Clarinet (or Violin) and Violoncello, Op.43 
                </td>
            </tr>

            <tr> 
              <td>Hollander Alexis:</td>
                <td>
                  6 Charakterstücke, Op.53  (Clarinet, Viola, Piano)
                </td>
            </tr>

            <tr> 
              <td>Indy Vincent:</td>
                <td>
                  Trio for Piano, Clarinet (or Violin) and Cello, Op.29 
                </td>
            </tr>

            <tr> 
              <td>Mendelssohn Felix:</td>
                <td>
                  Concert Piece No. 2 in D minor for Two Clarinet and Piano 
                </td>
            </tr>

            <tr> 
              <td>Mozart Wolfgang:</td>
                <td>
                  Clarinet Trio, K. 498  (Clarinet, Viola, Piano)
                </td>
            </tr>

            <tr> 
              <td>Molbe Heinrich:</td>
                <td>
                  Ronde de Printemps, Op.78 (Clarinet, Horn, Piano)
                </td>
            </tr>

            <tr> 
              <td>Oniold zMariano:</td>
                <td>
                  Divertimento for Flute, Clarinet and Piano 
                </td>
            </tr>

            <tr> 
              <td>Shen Yichuan:</td>
                <td>
                  Romance for Violin, Clarinet and Piano No.1, Op.14  (Violin, Clarinet, Piano)
                </td>
            </tr>

            <tr> 
              <td>Saint Saens:</td>
                <td>
                  Tarantelle, Op.6  (Clarinet, Flute, and Piano)
                </td>
            </tr>

            <tr> 
              <td>Salamon Sean:</td>
                <td>
                  Trio for Flute, Clarinet, and Piano, Op. 2 
                </td>
            </tr>

            <tr> 
              <td>Voigt Friedrich:</td>
                <td>
                  Nocturne for Clarinet, Horn, and Piano, Op.75 
                </td>
            </tr>

            <tr> 
              <td>Zemlinsky Alexander:</td>
                <td>
                  Clarinet Trio, Op.3  (Clarinet, Cello, Piano) 
                </td>
            </tr>

            <tr>
              <td><b>Piano + 3</font></td>
            </tr>

            <tr> 
              <td>Amberg Johan:</td>
                <td>
                  Suite for Flute, Oboe, Clarinet and Piano 
                </td>
            </tr>

            <tr> 
              <td>Hindimith Paul:</td>
                <td>
                  Clarinet Quartet  (Clarinet, Violin, Cello, Piano)
                </td>
            </tr>

            <tr> 
              <td>Saint Saens:</td>
                <td>
                  Caprice on Danish and Russian Airs, Op.79 (Flute, Oboe, Clarinet, Piano)
                </td>
            </tr>

            <tr> 
              <td>Mayeur Louis:</td>
                <td>
                  Quartet for Piano and Winds (Flute, Oboe, Clarinet, and Piano)
                </td>
            </tr>

            <tr>
              <td><b>Piano + 4</font></td>
            </tr>

            <tr> 
              <td>Beethoven Ludwig:</td>
                <td>
                  Quintet for Piano and Winds Op.16  (Oboe, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr> 
              <td>Fibich Zdnek:</td>
                <td>
                  Quintet, Op.42  (Violin, Cello, Clarinet, Horn, Piano)
                </td>
            </tr>

            <tr> 
              <td>Gieseking Walter:</td>
                <td>
                  Quintet for Piano, Oboe, Clarinet, Bassoon, and Horn  (Oboe, Clarinet, Horn, Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Himdemith Paul:</td>
                <td>
                  Clarinet Quintet, Op.30 (Clarinet, 2 Violins, Viola, Cello)
                </td>
            </tr>

            <tr> 
              <td>Huber Hans:</td>
                <td>
                  Quintett, Op.136  (Flute, Clarinet, Horn, Bassoon, Piano) </br>
                  Scherzo für Emma  (Flute, Clarinet, Violin, Cello, Piano) </br>
                  Viergespräch  (Flute, Oboe, Clarinet, Horn, Piano)
                </td>
            </tr>

            <tr> 
              <td>Rimsky Korsakov:</td>
                <td>
                  Quintet in B-flat major  (Flute, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr> 
              <td>Mozart Wolfgang:</td>
                <td>
                  Quintet for Piano and Winds, K.452 (Oboe, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr> 
              <td>Spindler Fritz:</td>
                <td>
                  Quintet for Piano and Winds, Op.360  (Oboe, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr>
              <td><b>Piano + 5</font></td>
            </tr>

            <tr> 
              <td>Brauer Max:</td>
                <td>
                  Sextett (Flute, Oboe, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr> 
              <td>Huber Hans:</td>
                <td>
                  Sextett  (Flute, Oboe, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr> 
              <td>Indy Vincent:</td>
                <td>
                  Sarabande et menuet, Op. 72  (Flute, Oboe, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr> 
              <td>Joun Paul:</td>
                <td>
                  Divertimento, Op.51  (Flute, Oboe, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr> 
              <td>Peters Rey:</td>
                <td>
                  Intermezzo  (2 Flutes, Clarinet, 2 Cellos, Piano)
                </td>
            </tr>

            <tr> 
              <td>Prokofiev Sergey:</td>
                <td>
                  Overture on Hebrew Themes, Op.34 (Clarinet, String Quartet, Piano)
                </td>
            </tr>

            <tr> 
              <td>Rietz Julius:</td>
                <td>
                  Concertstück, Op.41  (Flute, Oboe, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr> 
              <td>Reuchsel Amedee:</td>
                <td>
                  Sextet for Piano and Winds  (Flute, Oboe, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr> 
              <td>Roussel Albert:</td>
                <td>
                  Divertissement, Op.6  (Flute, Oboe, Clarinet, Horn, Bassoon, Piano)
                </td>
            </tr>

            <tr>
              <td><b>Piano + 6</font></td>
            </tr>

            <tr> 
              <td>Dost Rudolf:</td>
                <td>
                  Septet, Op.55  (Flute, Oboe, Clarinet, Horn, Bassoon, Percussion, Piano)
                </td>
            </tr>

            <tr> 
              <td>Hummel Johann:</td>
                <td>
                  Septet No.2 in C ('Military'), Op.114  ( Piano, Flute, Violin, Clarinet, Violoncello, Trumpet and Double Bass)
                </td>
            </tr>

            <tr> 
              <td>Kalkbrenner Friedrich:</td>
                <td>
                  Septet, Op.132 (Oboe, Clarinet, Bassoon, Horn, Cello, Bass, Piano)
                </td>
            </tr>

            <tr>
              <td><font size="+1"><b>Chamber Ensemble without Piano</font></td>
            </tr>

            <tr>
              <td><b>Duets</font></td>
            </tr>

            <tr> 
              <td>Beethoven Ludwig:</td>
                <td>
                  3 Duets for Clarinet and Bassoon, WoO 27 
                </td>
            </tr>

            <tr> 
              <td>Hallman Joseph:</td>
                <td>
                  Duet for Clarinet and Bassoon 
                </td>
            </tr>

            <tr> 
              <td>Ornstein Leo:</td>
                <td>
                  Prelude and Minuette in Antique Style, S602 (Flute, Clarinet)
                </td>
            </tr>

            <tr> 
              <td>Villa Lobos:</td>
                <td>
                  Chôros No.2, W197, 198  (Flute, Clarinet)
                </td>
            </tr>

            <tr>
              <td><b>Trios</font></td>
            </tr>

            <tr> 
              <td>Allier Gabriel:</td>
                <td>
                  Scène Champêtre  (Flute/Oboe and Clarinet and Horn/Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Canteloube Joseph:</td>
                <td>
                  Rustiques for Oboe, Clarinet and Bassoon 
                </td>
            </tr>

            <tr> 
              <td>Cellitti Vennzio:</td>
                <td>
                  Sigla No.1  (Oboe, Clarinet bass, Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Ferroud Pierre:</td>
                <td>
                  Trio for Oboe, Clarinet and Bassoon 
                </td>
            </tr>

            <tr> 
              <td>Herold Emil:</td>
                <td>
                  Serenade (Clarinet, Viola, Cello)
                </td>
            </tr>

            <tr> 
              <td>Hummel Johann:</td>
                <td>
                  Serenade No.1, Op.63 (Flute/Violin, Clarinet, Bassoon/Cello)
                </td>
            </tr>

            <tr> 
              <td>Lesnick Sammy:</td>
                <td>
                  Hommage to the Twentieth Century, Op.2 (Clarinet, Viola, Cello)
                </td>
            </tr>

            <tr> 
              <td>Pierne Paul:</td>
                <td>
                  Bucolique Variée (Oboe, Clarinet, Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Pfeiffer Georges:</td>
                <td>
                  Musette, Op.47 (Oboe, Clarinet, Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Yokoyama Shin-Itchiro:</td>
                <td>
                  Marriage Waltz for oboe, clarinet and bassoon 
                </td>
            </tr>

            <tr> 
              <td>Zoeller Carli:</td>
                <td>
                  Three virtuosos  (Flute, Clarinet, Bassoon)
                </td>
            </tr>

            <tr>
              <td><b>Quartets</font></td>
            </tr>

            <tr> 
              <td>Barmann Heinrich:</td>
                <td>
                  Quartet for Clarinet and Strings, Op.18  (Clarinet, Violin, Viola, Violoncello)
                </td>
            </tr>

            <tr> 
              <td>Muller Iwan:</td>
                <td>
                  Clarinet Quartet No.1 (Clarinet, Violin, Viola, Violoncello)
                </td>
            </tr>

            <tr> 
              <td>Naddei Sergio:</td>
                <td>
                  Varianti (Flute, Clarinet, Violin, Cello)
                </td>
            </tr>

            <tr>
              <td><b>Quintets</font></td>
            </tr>

            <tr> 
              <td>Brahms Johannes:</td>
                <td>
                  Clarinet Quintet, Op.115  (2 Violins, Viola, Violoncello, Clarinet)
                </td>
            </tr>
            
            <tr> 
              <td>Briccialdi Giulio:</td>
                <td>
                  Wind Quintet No.1, Op.124 (Flute, Oboe, Clarinet, Horn, Bassoon)
                </td>
            </tr>
            
            <tr> 
              <td>Cambini Giuseppe:</td>
                <td>
                  Woodwind Quintet 1 (Flute, Oboe, Clarinet, Horn, Bassoon) </br>
                  Woodwind Quintet 2 (Flute, Oboe, Clarinet, Horn, Bassoon) </br>
                  Woodwind Quintet 3  (Flute, Oboe, Clarinet, Horn, Bassoon)

                </td>
            </tr>

            <tr> 
              <td>Danzi Franz:</td>
                <td>
                  Woodwind Quintet 1 op56 B Major </br>
                  Woodwind Quintet 2 op56 g minor </br>
                  Woodwind Quintet, Op.56 No.3  (Flute, Oboe or Clarinet in C, Clarinet in Bb, Horn in F, Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Glazunov Alexander:</td>
                <td>
                  Oriental Reverie  (2 Violins, Viola, Violoncello, Clarinet)
                </td>
            </tr>

            <tr> 
              <td>Grego Alesandro:</td>
                <td>
                  Talassocrazia (Clarinet, String Quartet)
                </td>
            </tr>
            
            <tr> 
              <td>Hindemith Paul:</td>
                <td>
                  Kleine Kammermusik, Op.24 No.2  (Flute, Oboe, Clarinet, Horn, Bassoon)
                </td>
            </tr>
            
            <tr> 
              <td>Karg Elert:</td>
                <td>
                  Quintett, Op.30 (Oboe, 2 Clarinets, Horn, Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Kauffmann Fritz:</td>
                <td>
                  Quintet op.40 (Complete Score)
                </td>
            </tr>

            <tr> 
              <td>Krommer Franz:</td>
                <td>
                  Clarinet Quintet, Op.95   flute oboe clarinet horn bassoon
                </td>
            </tr>

            <tr> 
              <td>Muller Peter:</td>
                <td>
                  Woodwind quintet nº1 -3(Flute, Oboe, Clarinet in Bb, Horn in Eb, Bassoon)
                </td>
            </tr>
            
            <tr> 
              <td>Nielsen Carl:</td>
                <td>
                  Wind Quintet, Op.43  (Flute, Oboe, Clarinet, Horn, Bassoon)
                </td>
            </tr>
            
            <tr> 
              <td>Onaloq Georges:</td>
                <td>
                  Wind Quintet, Op.81 (Flute, Oboe, Clarinet, Horn, Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Ropartz Guy:</td>
                <td>
                  2 Pièces for Flute, Oboe, Clarinet, Bassoon and Horn (Parts and Score)
                </td>
            </tr>

            <tr> 
              <td>Mozart Wolfgang:</td>
                <td>
                  Clarinet Quintet, K.581 (Full score-parts) (2 Violins, Viola, Violoncello, Clarinet)
                </td>
            </tr>

            <tr> 
              <td>Peters Rey:</td>
                <td>
                  Ein Thema (Version II) (2 Flutes, Clarinet, Keybord, Double Bass)
                </td>
            </tr>
            
            <tr> 
              <td>Pfeiffer Georges:</td>
                <td>
                  Pastorale, op.71 (Flute, Oboe, Clarinet, Bassoon, Horn)
                </td>
            </tr>
            
            <tr> 
              <td>Ravel Maurice:</td>
                <td>
                  Vocalise-Etude en forme de Habanera (arr. Flute, Oboe, Clarinet, Horn in F, Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Reicha Anton:</td>
                <td>
                  Quintet, Op.88 No.1  (Flute, Oboe or Flute 2, Clarinet in C, Horn in E, Bassoon) </br>
                  Quintet, Op.88 No.6 (Flute, Oboe or Flute 2, Clarinet in C, Horn in F, Bassoon) </br>
                  Quintet, Op.91 No.2 (Flute, Oboe or Flute 2, Clarinet in C, Horn in D, Bassoon) </br>
                  Quintet, Op.91 No.4 (Flute, Oboe, Clarinet, Horn, Bassoon) </br>
                  Quintet, Op.91 No.5 (Flute, Oboe or Flute 2, Clarinet, Horn, Bassoon) </br>
                  Quintet, Op.91 No.6 (Flute, Oboe or Flute 2, Clarinet, Horn, Bassoon) </br>
                  Quintet, Op.99 No.1 (Flute, Oboe or Flute 2, Clarinet, Horn, Bassoon) </br>
                  Quintet, Op.99 No.3 (Flute, Oboe or Flute 2, Clarinet in C, Horn in E, Bassoon) </br>
                  Quintet, Op.99 No.6 (Flute, Oboe, Clarinet in C, Horn in G, Bassoon) </br>
                  Quintet, Op.100 No.2 (Flute, Oboe, Clarinet, Horn, Bassoon) </br>
                  Quintet, Op.100 No.5  (Flute, Oboe, Clarinet, Horn, Bassoon) </br>
                  Quintet, Op.107  (Clarinet, String Quartet)
                </td>
            </tr>

            <tr> 
              <td>Schoenberg Arnold:</td>
                <td>
                  Wind Quintet, Op. 26(Parts and Score)
                </td>
            </tr>

            <tr> 
              <td>Sobeck Johann:</td>
                <td>
                  Wind Quintet, Op.9 (Flute, Oboe, Clarinet, Horn, Bassoon) </br>
                  Wind Quintet, Op.11 (Flute, Oboe, Clarinet, Horn, Bassoon) </br>
                  Wind Quintet, Op.14 (Flute, Oboe, Clarinet, Horn, Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Taffanel Paul:</td>
                <td>
                  Wind Quintet (Flute, Oboe, Clarinet, Horn, Bassoon)
                </td>
            </tr>

            <tr>
              <td><b>Sextets</font></td>
            </tr>

            <tr> 
              <td>Beethover Ludwig:</td>
                <td>
                  March for Wind Sextet in B-flat Major, WoO 29  (2 clarinets, 2 horns, 2 bassoons)
                </td>
            </tr>

            <tr> 
              <td>Krommer Franz:</td>
                <td>
                  Partita in C minor, P IV:14 (2 Klarinetten, 2 Hörner, 2 Fagotte)
                </td>
            </tr>

            <tr> 
              <td>Lefebvre Charles:</td>
                <td>
                  Suite for Winds No.2, Op.122  (flute, oboe, 2 clarinets, bassoon, horn)
                </td>
            </tr>

            <tr> 
              <td>Scherrer Heinrich:</td>
                <td>
                  Altfranzösische Tänze (Flute, Oboe, 2 Clarinets, Horn, Bassoon)
                </td>
            </tr>

            <tr> 
              <td>Sphor Louis:</td>
                <td>
                  Fantasy and Variations, Op.81 (Clarinet, 2 Violins, Viola, Cello, Bass)
                </td>
            </tr>

            <tr>
              <td><b>Septets</font></td>
            </tr>

            <tr> 
              <td>Beethoven: Ludwig:</td>
                <td>
                  Septet, Op.20  (Clarinet, Horn, Bassoon, Violin, Viola, Cello, Bass)
                </td>
            </tr>

            <tr> 
              <td>Indy Vincent:</td>
                <td>
                  Chansons et danses, Op. 50 (Flute, Oboe, 2 Clarinets, Horn, 2 Bassoons)
                </td>
            </tr>

            <tr> 
              <td>Ravel Maurice:</td>
                <td>
                  Introduction et Allegro  (Flute, Clarinet, String Quartet, Harp)
                </td>
            </tr>

            <tr>
              <td><b>Octets</font></td>
            </tr>

            <tr> 
              <td>Beethoven Ludwig:</td>
                <td>
                  Rondino in E-flat major, WoO 25 (2 oboes, 2 clarinets, 2 horns, 2 bassoons) </br>
                  Wind Octet in E-flat major, Op.103  (2 Oboes, 2 Clarinets, 2 Horns, 2 Bassoons)
                </td>
            </tr>

            <tr> 
              <td>Juon Paul:</td>
                <td>
                  Octet, Op.27 (Oboe, Clarinet, Bassoon, Horn, Violin, Viola, Cello, Piano)
                </td>
            </tr>

            <tr> 
              <td>Schubert Franz:</td>
                <td>
                  Octet, D.803  (2 violins, viola, cello, double bass, clarinet, horn, and bassoon) </br>
                  Octet, D.72  (2 Oboes, 2 Clarinets, 2 Horns, 2 Bassoons)
                </td>
            </tr>

            <tr>
              <td><b>9 or more</font></td>
            </tr>

            <tr> 
              <td>Dvorak Anton:</td>
                <td>
                  Serenade for Wind Instruments, Op.44 
                </td>
            </tr>
            
            <tr> 
              <td>Enescu George:</td>
                <td>
                  Decet for Winds, Op.14  (2 flutes, oboe, english horn, 2 clarinets, 2 bassoons, 2 horns)
                </td>
            </tr>
            
            <tr> 
              <td>Sphor Louis:</td>
                <td>
                  Nonet, Op.31 
                </td>
            </tr>

            <tr> 
              <td>Strauss Richard:</td>
                <td>
                  Serenade for Winds, Op.7 
                </td>
            </tr>

            <tr> 
              <td>Weber Carl Maria Von:</td>
                <td>
                  Der Freischütz, Op.77 (Transcription for Wind Nonet)
                </td>
            </tr>

          </table>

        
   </div>
    <!--end body here-->

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<!--Carl seal start-->
<div align="center"> <br>
  <img alt="" src="http://sheetmusicinternational.com/images/Carl-Seal-Low-Res.jpg" height="205" width="200">
</div>
    </td>
    <!--Advertise here section (right hand side bar)-->
    <td>
      <table height="214" width="237" style="margin-right: 15px">
              <tbody>
                <tr>
                  <td valign="top" width="100%" style="text-align: center;"> <br />
                    Advertise here<br>
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top" style="border:1px solid black; "><br>
                            <br>
                            <br>
                            Full size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <table height="187" width="228" cellpadding="2"
                      cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            Half size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    .<br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
    </td>
  </tr>
<!--end body-->
<!--begin footer-->
  <tr>
    <td>&nbsp;</td>
    <td valign="top" align="center">
      Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
    </td>
  </tr>
  <!--end footer-->
  </table>   
<br />
<br />
<br />
    <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<style type="text/css">
  body {
      background: transparent url(http://sheetmusicinternational.com/images/background%20music%20sheets.jpg) ;

  background-repeat: repeat;
}</style>

</body>
</html>
