<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sheet Music International</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body id="page-top">

<!--Well-->
<% include ../partials/nav %>

  <br />
<table style="margin-left: 5px">
  <tr>
    <td width="15%" style="margin-left: 15px; padding-top: 12px" valign="top">
      <div >
        <br />
        <!--right side bar-->
        <% include ../partials/SideBar %>
        <!-- end right side bar-->
    </td>
    <td width="80%" valign="top">



    <!--body begin here-->
   <div align="center">

      <div class="col-md-8 col-md-offset-2">
                <font size="+2" style="text-align: center;"><b>Repertoire Lists for Oboe</b></font><br />
<br />

          <font size="+2" style="text-align: left;"><b>Oboe Unaccompanied</b></font><br />
          <br />

          <table class="table table-striped" >

          <tr> 
              <td>Bach, Carl Philipp Emanuel:</td>
                <td>
                  Sonata for Solo Flute, Wq.132 (H.562) (Bach, Carl Philipp Emanuel) (Arrangement for Oboe)
                </td>
            </tr>

            <tr> 
              <td>Brod, Henri:</td>
                <td>
                  20 Etudes for Oboe
                </td>
            </tr>

            <tr> 
              <td>Ferling, Franz Wilhelm:</td>
                <td>
                  18 Studies for Oboe, Op. 12 </br>
                  48 Studies for Oboe, Op. 31 </br>
                  144 Preludes and Etudes for Oboe
                </td>
            </tr>

            <tr> 
              <td>Grayson, Martin:</td>
                <td>
                  Sonata for Oboe Alone
                </td>
            </tr>

            <tr> 
              <td>Karg-Elert, Sigfrid:</td>
                <td>
                  Etüden-Schule für Oboe, Op.41
                </td>
            </tr>

            <tr> 
              <td>Loyon, Ernest:</td>
                <td>
                  32 études pour hautbois ou saxophone
                </td>
            </tr>

            <tr> 
              <td>Lund, Emilius:</td>
                <td>
                  Tägliche Studien für die Oboe
                </td>
            </tr>

            <tr> 
              <td>Mille, Karl:</td>
                <td>
                  25 Studien und Capricen für Oboe
                </td>
            </tr>

            <tr> 
              <td>St. George Tucker, Tui:</td>
                <td>
                  Lift Up Your Heads(for Oboe)
                </td>
            </tr>

            <tr> 
              <td>Verroust, Stanislaus:</td>
                <td>
                  24 Études melodiques, Op.65
                </td>
            </tr>

            <tr> 
              <td>Various:</td>
                <td>
                  204 Favourite Country Dances
                </td>
            </tr>

            <tr> 
              <td>Wiedemann, Ludwig:</td>
                <td>
                  45 Etüden für Oboe
                </td>
            </tr>

          </table>

          <font size="+2" style="text-align: left;"><b>Oboe and Piano</b></font><br />
          <br />

          <table class="table table-striped" >

          <tr> 
              <td>Bach, Carl Philipp Emanuel:</td>
                <td>
                  Oboe Sonata, Wq.135
                </td>
            </tr>

            <tr> 
              <td>Barth, Chritian Fredeik:</td>
                <td>
                  Potpourri Concertant, Op.9
                </td>
            </tr>

            <tr> 
              <td>Boisdeffre, René de:</td>
                <td>
                  Scènes villageoises, Op.86
                </td>
            </tr>

            <tr> 
              <td>Braun,Carl Anton Philipp:</td>
                <td>
                  Oboe Sonata </br>
                  Potpourri for Oboe and Piano, Op.5
                </td>
            </tr>

            <tr> 
              <td>Brod, Henri:</td>
                <td>
                  Nocturne sur Le Siège de Corinthe, Op.16
                  Souvenirs du Mont d’or, Op.27
                </td>
            </tr>

            <tr> 
              <td>Coste, Napoléon:</td>
                <td>
                  Concertino for Oboe (with Piano or Guitar)
                </td>
            </tr>

            <tr> 
              <td>Dièmer, Louis:</td>
                <td>
                  2 Pieces for Oboe and Piano, Op.35
                </td>
            </tr>

            <tr> 
              <td>Donizetti, Gaetano:</td>
                <td>
                  Oboe Sonata
                </td>
            </tr>

            <tr> 
              <td>Foote, Arthur:</td>
                <td>
                  3 Pieces for Oboe and Piano, Op.31
                </td>
            </tr>

            <tr> 
              <td>Franck, César:</td>
                <td>
                  Pièce V for Oboe and Piano
                </td>
            </tr>

            <tr> 
              <td>Fuchs-Schönbach, Ernst:</td>
                <td>
                  Oboe Sonata, Op.29
                </td>
            </tr>

            <tr> 
              <td>Gaubert, Philippe:</td>
                <td>
                  2 Pièces pour Hautbois et Piano
                </td>
            </tr>

            <tr> 
              <td>Godard, Benjamin Louis Paul:</td>
                <td>
                  Scènes écossaises, Op. 138
                </td>
            </tr>

            <tr> 
              <td>Goepfart, Karl Eduard:</td>
                <td>
                  2 Charakterstücke for Oboe and Piano, Op.27 (Goepfart, Karl Eduard)
                </td>
            </tr>

            <tr> 
              <td>Haas, Pavel:</td>
                <td>
                  Suite for Oboe and Piano
                </td>
            </tr>

            <tr> 
              <td>Hansen-Robert, Emil:</td>
                <td>
                  3 Fantasy Pieces, Op.3
                </td>
            </tr>

            <tr> 
              <td>Henriques, Robert Martin:</td>
                <td>
                  Suite for Oboe and Piano, Op.16
                </td>
            </tr>

            <tr> 
              <td>Indy, Vincent d':</td>
                <td>
                  Fantaisie sur des thèmes populaires français, Op.31
                </td>
            </tr>

            <tr> 
              <td>Lefébure, Alain:</td>
                <td>
                  Oboe Sonata

                </td>
            </tr>

            <tr> 
              <td>Marie, Gabriel Prosper:</td>
                <td>
                  Chant Pastoral
                </td>
            </tr>

            <tr> 
              <td>Mouquet, Jules:</td>
                <td>
                  Bucolique, Op.31
                </td>
            </tr>

            <tr> 
              <td>Nielsen, Carl:</td>
                <td>
                  Fantasy Pieces for Oboe and Piano, Op.2
                </td>
            </tr>

            <tr> 
              <td>Paladilhe, Emile:</td>
                <td>
                  Solo pour Hautbois
                </td>
            </tr>

            <tr> 
              <td>Pierné, Paul:</td>
                <td>
                  Fantaisie Pastorale </br>
                  Pièce for Oboe and Piano </br>
                  Sérénade
                </td>
            </tr>

            <tr> 
              <td>Ponchielli, Amilcare:</td>
                <td>
                  Capriccio for Oboe and Piano
                </td>
            </tr>

            <tr> 
              <td>Rietz, Julius:</td>
                <td>
                  Konzertstück, Op.33 oboe and orchestra
                </td>
            </tr>

            <tr> 
              <td>Robert-Hansen, Emil:</td>
                <td>
                  3 Fantasy Pieces
                </td>
            </tr>

            <tr> 
              <td>Saint-Saëns, Camille:</td>
                <td>
                  Sonata for Oboe and Piano, Op.166
                </td>
            </tr>

            <tr> 
              <td>Schmitt, Florent:</td>
                <td>
                  Andantino, Op.30/1
                </td>
            </tr>

            <tr> 
              <td>Schreck, Gustav:</td>
                <td>
                  Oboe Sonata, op.13
                </td>
            </tr>

            <tr> 
              <td>Schumann, Robert:</td>
                <td>
                  3 Romances, Op. 94
                </td>
            </tr>

            <tr> 
              <td>Verroust, Stanislas:</td>
                <td>
                  1ème Solo de Concert, Op.73 </br>
                  2ème Solo de Concert, Op.74 </br>
                  3ème Solo de Concert, Op.76 </br>
                  4ème Solo de Concert, Op.77 </br>
                  5ème Solo de Concert, Op.78 </br>
                  6ème Solo de Concert, Op.79 </br>
                  7ème Solo de Concert, Op.81 </br>
                  8ème Solo de Concert, Op.82 </br>
                  9ème Solo de Concert, Op.83 </br>
                  10ème Solo de Concert, Op.84 </br>
                  11ème Solo de Concert, Op.85 </br>
                  12ème Solo de Concert, Op.85 </br>
                  Caprice pour Hautbois et Piano op.15 </br>
                  Fantaisie et Variations sur 'Il Corsaro', Op.54 </br>
                  Fantaisie sur 'Le Planteur de Monpou', Op.12 </br>
                  Grande Valse pour Hautbois et Piano, Op.66 </br>
                  Variations on a theme by Hummel, Op.26
                </td>
            </tr>

            <tr> 
              <td>Widor, Charles-Marie:</td>
                <td>
                  3 pièces
                </td>
            </tr>

          </table>

          <font size="+2" style="text-align: left;"><b>Oboe and Continuo</b></font><br />
          <br />

          <table class="table table-striped" >

            <tr> 
              <td>Albinoni, Tomaso:</td>
                <td>
                  Oboe Sonata in C major  
                </td>
            </tr>

            <tr> 
              <td>Babell, William:</td>
                <td>
                  12 Sonatas, Book 1
                </td>
            </tr>

            <tr> 
              <td>Bach, Carl Philipp Emanuel:</td>
                <td>
                  Oboe Sonata in G minor, Wq.135 (H.549)  
                </td>
            </tr>

            <tr> 
              <td>Bach, Johann Sebastian:</td>
                <td>
                  Oboe Sonata in G minor, BWV 1030b  
                </td>
            </tr>

            <tr> 
              <td>Benda, Franz:</td>
                <td>
                  Oboe Sonata in B-flat major, L3.156,  
                </td>
            </tr>

            <tr> 
              <td>Besozzi; Allesandro:</td>
                <td>
                  Oboe Sonata in C major </br>
                  Oboe Sonata in D major 
                </td>
            </tr>

            <tr> 
              <td>Caix d'Hervelois, Louis de:</td>
                <td>
                  La gracieuse (Transcription for Oboe and Continuo) </br>
                  Les vendangeuses (Transcription for Oboe and Continuo)
                </td>
            </tr>

            <tr> 
              <td>Chédeville, Nicolas:</td>
                <td>
                  6 Sonatas "Il pastor fido"  
                  48 Suiten
                </td>
            </tr>

            <tr> 
              <td>Devienne, François:</td>
                <td>
                  3 Oboe Sonatas, Op.70 </br>
                  3 Oboe Sonatas, Op.71  
                </td>
            </tr>

            <tr> 
              <td>Dornel, Antoine:</td>
                <td>
                  Oboe Sonata in G major  
                </td>
            </tr>

            <tr> 
              <td>Eichner, Erns:</td>
                <td>
                  6 Flute or Oboe Sonatas
                </td>
            </tr>

            <tr> 
              <td>Förster, Christoph:</td>
                <td>
                  Oboe Sonata in C minor
                </td>
            </tr>

            <tr> 
              <td>Freytag, Johann Heinrich:</td>
                <td>
                  Oboe Sonata in E-flat major
                </td>
            </tr>

            <tr> 
              <td>Geminiani, Francesco:</td>
                <td>
                  Oboe Sonata in E minor  
                </td>
            </tr>

            <tr> 
              <td>Handel, George Frideric:</td>
                <td>
                  Oboe Sonata in C minor, HWV 366  </br>
                  Oboe Sonata in F major, HWV 363a   </br>
                  Oboe Sonata in B-flat major, HWV 357 
                </td>
            </tr>

            <tr> 
              <td>Heinichen, Johann David:</td>
                <td>
                  Oboe Sonata in G minor, S.265,  
                </td>
            </tr>

            <tr> 
              <td>Kirnberger, Johann Philipp:</td>
                <td>
                  Oboe Sonata in B-flat major,
                </td>
            </tr>

            <tr> 
              <td>Marcello, Benedetto:</td>
                <td>
                  Sonata op.2/11 
                </td>
            </tr>

            <tr> 
              <td>Matthes, Carl Ludwig:</td>
                <td>
                  Oboe Sonata in C major  oboe-continuo </br>
                  Oboe Sonata in E-flat major  
                </td>
            </tr>

            <tr> 
              <td>Oswald, James:</td>
                <td>
                  Oboe Sonata in G minor  
                </td>
            </tr>

            <tr> 
              <td>Pla, Joan Baptista:</td>
                <td>
                  Oboe Sonata in B-flat major </br> 
                  Oboe Sonata in C minor  
                </td>
            </tr>

            <tr> 
              <td>Platti, Giovanni Benedetto:</td>
                <td>
                  Oboe Sonata in C minor </br>
                  Oboe Sonata in E-flat major,  
                </td>
            </tr>

            <tr> 
              <td>Reitz Julius:</td>
                <td>
                  Konzertstuck op33 oboe orchestra
                </td>
            </tr>

            <tr> 
              <td>Roman, Johan Helmic:</td>
                <td>
                  Sonata for Oboe G minor, BeRI 224,  
                </td>
            </tr>

            <tr> 
              <td>Scherer, Johann:</td>
                <td>
                  Oboe Sonata in C minor,  
                </td>
            </tr>

            <tr> 
              <td>Telemann, Georg Philipp:</td>
                <td>
                  Kleine Kammermusik (6 Partitas),   </br>
                  Oboe Sonata, TWV 41:a3   </br>
                  Oboe Sonata, TWV 41:g6   </br>
                  Oboe Sonata in G minor TWV 41:g10 </br>
                  Sonaten und Spielstücke TWV 41: a3, g5, d1, C1, E2, B4,   </br>
                  Suite for Oboe and Continuo, TWV 41:g4,  
                </td>
            </tr>

            <tr> 
              <td>Vincent, Thoma:</td>
                <td>
                  6 Oboe Sonatas, Op.1
                </td>
            </tr>

            <tr> 
              <td>Vivaldi, Antonio:</td>
                <td>
                  Oboe Sonata in C minor, RV 53
                </td>
            </tr>

            <tr> 
              <td>Weiss, Johann Sigismund:</td>
                <td>
                  Oboe Sonata in B-flat major
                </td>
            </tr>    

          </table>

          <font size="+2" style="text-align: left;"><b>Oboe Solo with Orchestra</b></font><br />
          <br />

          <table class="table table-striped" >

          <tr> 
              <td>Albinoni, Tomas:</td>
                <td>
                  2 concerti for 2 Oboes op.7 </br>
                  Oboe Concerto in G minor, Op.9 No.8,  </br>
                  Oboe Concerto in B-flat major, Op.9 No.11, 
                </td>
            </tr>

            <tr> 
              <td>Anonymous:</td>
                <td>
                  Oboe Concerto in C minor  </br>
                  Oboe Concerto in D major </br>
                  Oboe Concerto in F major, Schrank II/33/97,  </br>
                  Oboe Concerto in E-flat major, Schrank II/33/98,
                </td>
            </tr>

            <tr> 
              <td>Bach, Carl Philipp Emanuel:</td>
                <td>
                  Oboe Concerto in B-flat major, H.466,  </br>
                  Oboe Concerto in E-flat major, H.468
                </td>
            </tr>

            <tr> 
              <td>Bach, Johann Sebastian:</td>
                <td>
                  Oboe Concerto in F major, BWV 1053R,  </br>
                  Oboe Concerto in G minor, BWV 1056R, </br>
                  Oboe Concerto in D minor, BWV 1059R, 
                </td>
            </tr>

            <tr> 
              <td>Barth, Christian Frederik:</td>
                <td>
                  Oboe Concerto, Op.12,  
                </td>
            </tr>

            <tr> 
              <td>Bellini, Vincenzo:</td>
                <td>
                  Oboe Concerto, 
                </td>
            </tr>

            <tr> 
              <td>Berwald, Johann Gottfried:</td>
                <td>
                  Oboe Concerto in E-flat major
                </td>
            </tr>

            <tr> 
              <td>Besozzi, Alessandro:</td>
                <td>
                  Oboe Concerto in G major, 
                </td>
            </tr>

            <tr> 
              <td>Castro, Francisco José de:</td>
                <td>
                  4 Oboe concertos, 2 for Oboe or trumpet, 1 for oboe and trumpet, 1 for oboe and cello
                </td>
            </tr>

            <tr> 
              <td>Dall'Abaco, Evaristo Felice:</td>
                <td>
                  Oboe Concerto, 
                </td>
            </tr>

            <tr> 
              <td>Dieupart, Charles:</td>
                <td>
                  Concerto in A minor, 
                </td>
            </tr>

            <tr> 
              <td>Dominico, Gianpaolo di:</td>
                <td>
                  Oboe Concerto in G major
                </td>
            </tr>

            <tr> 
              <td>Elmi, Domenico:</td>
                <td>
                  Oboe Concerto in A minor, 
                </td>
            </tr>

            <tr> 
              <td>Fasch, Johann Friedrich:</td>
                <td>
                  Oboe Concerto, FaWV L:a1 </br>
                  Oboe Concerto, FaWV L:C1 </br>
                  Oboe Concerto, FaWV L:d3 </br>
                  Oboe Concerto, FaWV L:g1,  </br>
                  Oboe Concerto, FaWV L:G2 </br>
                  Oboe Concerto, FaWV L:G3 </br>
                  Oboe Concerto in G major </br>
                  Concerto for Flute and Oboe, FaWV L:D11,  </br>
                  Concerto for Flute and Oboe, FaWV L:e1 </br>
                  Concerto for Flute and Oboe, FaWV L:G8 </br>
                  Concerto for Oboe and Violin, FaWV L:d4 </br>
                  Concerto for 2 Oboes and Bassoon, FaW L:G10
                </td>
            </tr>

            <tr> 
              <td>Fischer, Johann Christian:</td>
                <td>
                  Oboe Concerto No.1 in C major </br>
                  Oboe Concerto No.2 in E-flat major </br>
                  Oboe Concerto No.3 in C major </br>
                  Oboe Concerto No.7 in F major
                </td>
            </tr>

            <tr> 
              <td>Friese, Friedrich Christian:</td>
                <td>
                  Oboe Concerto in B-flat major, 
                </td>
            </tr>

            <tr> 
              <td>Förster, Christoph:</td>
                <td>
                  Oboe Concerto in C minor, 
                </td>
            </tr>

            <tr> 
              <td>Goossens, Eugene:</td>
                <td>
                  Oboe Concerto, 
                </td>
            </tr>

            <tr> 
              <td>Grandval, Marie:</td>
                <td>
                  Oboe Concerto, Op.7 ,Oboe and Piano
                </td>
            </tr>

            <tr> 
              <td>Graun, Johann Gottlieb:</td>
                <td>
                  Oboe Concerto in G minor, GraunWV Cv:XIII:144, 
                </td>
            </tr>

            <tr> 
              <td>Graun, Karl Heinrich:</td>
                <td>
                  Oboe Concerto in F major, GraunWV Cv:XIII:128, 
                </td>
            </tr>

            <tr> 
              <td>Graupner, Christoph:</td>
                <td>
                  Oboe Concerto in F major, GWV 324,  </br>
                  Concerto for 2 Oboes in B-flat major, GWV 342, 
                </td>
            </tr>

            <tr> 
              <td>Handel, George Frederic:</td>
                <td>
                  Oboe Concerto in G minor, HWV 287,  </br>
                  Oboe Concerto in B-flat major, HWV 301,   Oboe and Piano
                </td>
            </tr>

            <tr> 
              <td>Hasse, Johann Adolph:</td>
                <td>
                  Oboe Concerto in F major,  
                </td>
            </tr>

            <tr> 
              <td>Haydn, Joseph:</td>
                <td>
                  Oboe Concerto Hob.VII:C1, C major,   </br>
                  Sinfonie Concertante, Op.84,
                </td>
            </tr>

            <tr> 
              <td>Heinichen, Johann David:</td>
                <td>
                  Concerto for Oboe and Violin C minor SeiH 240 (Heinichen, Johann David)
                </td>
            </tr>

            <tr> 
              <td>Hummel, Johann Nepomuk:</td>
                <td>
                  Introduction, Theme and Variations, Op.102,  
                </td>
            </tr>

            <tr> 
              <td>Kalliwoda, Johann Wenzel:</td>
                <td>
                  Concertino for Oboe, Op.110
                </td>
            </tr>

            <tr> 
              <td>Klughardt, August Friedrich Martin:</td>
                <td>
                  Concertstück for Oboe and Orchestra, Op.18,  
                </td>
            </tr>

            <tr> 
              <td>Kospoth, Otto Carl Erdmann:</td>
                <td>
                  Oboe Concerto in C major
                </td>
            </tr>

            <tr> 
              <td>Krommer, Franz:</td>
                <td>
                  Oboe Concerto, Op.52,   for Oboe and Piano
                </td>
            </tr>

            <tr> 
              <td>Marcello, Alessandro:</td>
                <td>
                  Oboe Concerto in D minor,   for oboe and piano
                </td>
            </tr>

            <tr> 
              <td>Molique, Bernhard:</td>
                <td>
                  Concertino for Oboe and Orchestra,   for oboe and piano
                </td>
            </tr>

            <tr> 
              <td>Molter, Johann Melchior:</td>
                <td>
                  Oboe Concerto in A minor, MWV 6.19,   </br>
                  Oboe Concerto in C minor, MWV 6.20,   </br>
                  Oboe Concerto in E-flat major, MWV 6.21,   </br>
                  Oboe Concerto in G minor, MWV 6.22,  
                </td>
            </tr>

            <tr> 
              <td>Mozart, Wolfgang Amadeus:</td>
                <td>
                  Oboe Concerto, K.314,   </br>
                  Oboe Concerto in B-flat major, K.deest
                </td>
            </tr>

            <tr> 
              <td>Pisendel, Johann Georg:</td>
                <td>
                  Concerto for 2 Oboes and Bassoon in E-flat major, JunP II.1
                </td>
            </tr>

            <tr> 
              <td>Platti, Giovanni Benedetto:</td>
                <td>
                  Oboe Concerto in G minor,  
                </td>
            </tr>

            <tr> 
              <td>Postel, Christian Gottlieb:</td>
                <td>
                  Oboe Concerto in B-flat major,  
                </td>
            </tr>

            <tr> 
              <td>Prestini, Giuseppe:</td>
                <td>
                  Oboe Concerto
                </td>
            </tr>

            <tr> 
              <td>Rebel, Jean-Féry:</td>
                <td>
                  Les Caractères de la Danse (Flute,Oboe,strings)
                </td>
            </tr>

            <tr> 
              <td>Reichenauer, Antonín:</td>
                <td>
                  Oboe Concerto in G major ,   </br>
                  Oboe Concerto in B flat major ,   </br>
                  Oboe and Bassoon Concerto in B flat major,   </br>
                  Oboe and Bassoon Concerto in F major,  
                </td>
            </tr>

            <tr> 
              <td>Rietz, Julius:</td>
                <td>
                  Konzertstück for Oboe and Orchestra, Op.33,  
                </td>
            </tr>

            <tr> 
              <td>Rimsky-Korsakov, Nikolay:</td>
                <td>
                  Variations on a Theme by Glinka (Oboe and Wind Band),   
                </td>
            </tr>

            <tr> 
              <td>Ristori, Giovanni Alberto:</td>
                <td>
                  Oboe Concerto in E-flat major
                </td>
            </tr>

            <tr> 
              <td>Roman, Johan Helmich:</td>
                <td>
                  Oboe Concerto in B-flat major
                </td>
            </tr>

            <tr> 
              <td>Sammartini, Guiseppe:</td>
                <td>
                  Oboe Concerto No.2 in D major,   </br>
                  Oboe Concerto No.5 in E-flat major,  
                </td>
            </tr>

            <tr> 
              <td>Seyfert, Martin:</td>
                <td>
                  Oboe Concerto in C minor,   </br>
                  Concerto for Oboe and Bassoon in B-flat major,  
                </td>
            </tr>

            <tr> 
              <td>Stölzel, Gottfried Heinrich:</td>
                <td>
                  Oboe Concerto in D major,   </br>
                  Concerto for Violin and Oboe in F major,   </br>
                  Concerto for Flute and Oboe in E minor,  
                </td>
            </tr>

            <tr> 
              <td>Stulick, Matthäus Nikolaus:</td>
                <td>
                  Oboe Concerto in G major
                </td>
            </tr>

            <tr> 
              <td>Telemann, Georg Philipp:</td>
                <td>
                  Oboe Concerto, TWV 51:c1 </br>
                  Oboe Concerto, TWV 51:D5 </br>
                  Oboe Concerto, TWV 51:d1 </br>
                  Oboe Concerto, TWV 51:e1 </br>
                  Oboe Concerto, TWV 51:Es1   </br>
                  Oboe Concerto in F minor, TWV 51:f1 </br>  
                  Oboe Concerto in F minor, TWV 51:f2   </br>
                  Concerto for Oboe and Violin in F major, TWV 52:F2 </br>
                  Concerto for 2 Oboes and Bassoon, TWV 53:d1  </br>
                  Concerto for 2 Oboes and Trumpet, TWV 53:D2  </br>
                  Concerto for Violin and 2 Oboes, TWV 53:e2 </br>
                  Concerto for 2 Recorders and 2 Oboes, TWV 54:B2
                </td>
            </tr>

            <tr> 
              <td>Valentini, Guiseppe:</td>
                <td>
                  2 Concerti for Oboe C-Dur
                </td>
            </tr>

            <tr> 
              <td>Vanhal, Johann Baptist:</td>
                <td>
                  Concerto No.1 in A-Dur
                </td>
            </tr>

            <tr> 
              <td>Vivaldi, Antonio:</td>
                <td>
                  Oboe Concerto in C major, RV 447,   </br>
                  Oboe Concerto in C major, RV 448,  oboe-piano </br>
                  Oboe Concerto in C major, RV 450,   </br>
                  Oboe Concerto in A minor, RV 461,   for Oboe and Piano </br>
                  Oboe Concerto in A minor, RV 462,   </br>
                  Concerto for 2 Oboes in D minor, RV 535,   </br>
                  Concerto for 2 Oboes in A minor, RV 536,   </br>
                  Concerto for Oboe and Violin in B-flat major, RV Anh.18,   </br>
                  Concerto for 2 Violins, 2 Oboes and Bassoon in D major,   
                </td>
            </tr>

            <tr> 
              <td>Weiss, Johann Sigismund:</td>
                <td>
                  Oboe Concerto in D minor
                </td>
            </tr>

            <tr> 
              <td>Woodcock, Robert:</td>
                <td>
                  3 Concertos with oboe
                </td>
            </tr>

            <tr> 
              <td>Zellbell Jr., Ferdinand:</td>
                <td>
                  Lamento for Oboe, Bassoon and strings,  
                </td>
            </tr>

          </table>
   </div>
    <!--end body here-->

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<!--Carl seal start-->
<div align="center"> <br>
  <img alt="" src="http://sheetmusicinternational.com/images/Carl-Seal-Low-Res.jpg" height="205" width="200">
</div>
    </td>
    <!--Advertise here section (right hand side bar)-->
    <td>
      <table height="214" width="237" style="margin-right: 15px">
              <tbody>
                <tr>
                  <td valign="top" width="100%" style="text-align: center;"> <br />
                    Advertise here<br>
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top" style="border:1px solid black; "><br>
                            <br>
                            <br>
                            Full size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <table height="187" width="228" cellpadding="2"
                      cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            Half size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    .<br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
    </td>
  </tr>
<!--end body-->
<!--begin footer-->
  <tr>
    <td>&nbsp;</td>
    <td valign="top" align="center">
      Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
    </td>
  </tr>
  <!--end footer-->
  </table>   
<br />
<br />
<br />
    <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<style type="text/css">
  body {
      background: transparent url(/images/background_music_sheets.jpg) ;
  background-repeat: repeat;
}

</body>
</html>
