<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sheet Music International</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body id="page-top">

<!--Well-->
<% include ../partials/nav %>

  <br />
<table style="margin-left: 5px">
  <tr>
    <td width="15%" style="margin-left: 15px; padding-top: 12px" valign="top">
      <div >
        <br />
        <!--right side bar-->
        <% include ../partials/SideBar %>
        <!-- end right side bar-->
    </td>
    <td width="80%" valign="top">



    <!--body begin here-->
   <div align="center">
        <font size="+2" style="text-align: center;"><b>Repertoire Lists for Trombone</b></font><br />
            
      <div class="col-md-8 col-md-offset-2">

        <table class="table table-striped">
          <tr>
            <td >
              <b>Schlossberg Max:</b>
            </td>
            <td style="padding-right: 5px; padding-left: 5px">
              <a href="#"> Daily Drills and Technical Studies</a> 
            </td>
          </tr>
        </table>
        <br />
        <br />
                <font size="+2" style="text-align: center;"><b>Repertoire Lists for Trombone</b></font><br />
<br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Bachlund Gary:
              </td>
              <td>
                Alice's Humoresque
              </td>
            </tr>

            <tr>
              <td>
                Barat Joseph:
              </td>
              <td>
                Andante et Allegro 
              </td>
            </tr>
            <tr>
              <td>
                Blazhevich Vladislav:
              </td>
              <td>
                Sequences             
              </td>
            </tr>
            <tr>
              <td>Bologna-Antonio</td>
              <td>Canopus trombone solo</td>
            </tr>
             <tr>
              <td>Bouillet Jean Marc:</td>
              <td>Déploration </td>
            </tr>
             <tr>
              <td>Chopin:</td>
              <td>Nocturnes, Op.9 </td>
            </tr>
             <tr>
              <td>Demersseman Jules:</td>
              <td>Cavatine, Op.47 </td>
            </tr>
             <tr>
              <td>Deransart Edouard:</td>
              <td>Fantaisie variée </td>
            </tr>
             <tr>
              <td>Fallen Jeff:</td>
              <td>Duo for Trombone and Piano </td>
            </tr>
             <tr>
              <td>Fine Vivian:</td>
              <td>Discourse of Goatherds </td>
            </tr>
             <tr>
              <td>Fleischmann Otto:</td>
              <td>Concertino for Trombone and piano, Op.35 </td>
            </tr>
             <tr>
              <td>Fries Albin:</td>
              <td>Bass Trombone Sonata, Op.41</td>
            </tr>
             <tr>
              <td>Gatti Dominico: </td>
              <td>La Scuola de Perfezionamento trumpet or trombone-piano</td>
            </tr>
             <tr>
              <td>Ingham John:</td>
              <td>Evening Fireworks </td>
            </tr>
             <tr>
              <td>La Nux Paul:</td>
              <td>Concert Piece </td>
            </tr>
             <tr>
              <td>Leclercq Edgard:</td>
              <td>Concertino No.1 </td>
            </tr>
             <tr>
              <td>Malancioiu Gabriel:</td>
              <td>Bucolicum </td>
            </tr>
             <tr>
              <td>Mazin Michael:</td>
              <td>Capriccio for Trombone-solo </td>
            </tr>
             <tr>
              <td>Nichifor Serban:</td>
              <td>Romanian Signals solo</td>
            </tr>
             <tr>
              <td>Ocio Giovanni:</td>
              <td>Canzonetta campestre </td>
            </tr>
             <tr>
              <td>Popp Wilhelm:</td>
              <td>Gesangs Scene, Op.278 </td>
            </tr>
             <tr>
              <td>Pryor Arthur:</td>
              <td>Blue Bells of Scotland </td>
            </tr>
             <tr>
              <td>Rzewski Frederic:</td>
              <td>Last Judgement </td>
            </tr>
             <tr>
              <td>Sabathil Ferdinand:</td>
              <td>Divertissement, Op.54 </td>
            </tr>
             <tr>
              <td>Sachse Ernst:</td>
              <td>Concertino   trombone and orchestra</td>
            </tr>
             <tr>
              <td>Saint Saens:</td>
              <td>Cavatine, Op.144 </td>
            </tr>
             <tr>
              <td>Santos Luigi:</td>
              <td>Pastoral Romance, Op.138</td>
            </tr>
             <tr>
              <td>Seidler Markus:</td>
              <td>Bass Trombone Sonata, Op.22 </td>
            </tr>
             <tr>
              <td>Sousa Wellington:</td>
              <td>Dueto No.1 </td>
            </tr>
             <tr>
              <td>Verbalis Anthony:</td>
              <td>Concert March for Trombone and Piano </td>
            </tr>
             <tr>
              <td>Warnecke Max:</td>
              <td>Concertpiece for Trombone, Op.28</td>
            </tr>
             <tr>
              <td>Wickenhausser Richard:</td>
              <td>Andante</td>
            </tr>
          </table>
      </div>
   </div>
    <!--end body here-->

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<!--Carl seal start-->
<div align="center"> <br>
  <img alt="" src="/images/Carl-Seal-Low-Res.jpg" height="205" width="200">
</div>
    </td>
    <!--Advertise here section (right hand side bar)-->
    <td>
      <table height="214" width="237" style="margin-right: 15px">
              <tbody>
                <tr>
                  <td valign="top" width="100%" style="text-align: center;"> <br />
                    Advertise here<br>
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top" style="border:1px solid black; "><br>
                            <br>
                            <br>
                            Full size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <table height="187" width="228" cellpadding="2"
                      cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            Half size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    .<br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
    </td>
  </tr>
<!--end body-->
<!--begin footer-->
  <tr>
    <td>&nbsp;</td>
    <td valign="top" align="center">
      Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
    </td>
  </tr>
  <!--end footer-->
  </table>   
<br />
<br />
<br />
    <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<style type="text/css">
  body {
      background: transparent url(/images/background_music_sheets.jpg) ;

  background-repeat: repeat;
}
</style>
</body>
</html>
