<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sheet Music International</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body id="page-top">

<!--Well-->
<% include ../partials/nav %>

  <br />
<table style="margin-left: 5px">
  <tr>
    <td width="15%" style="margin-left: 15px; padding-top: 12px" valign="top">
      <div >
        <br />
        <!--right side bar-->
        <% include ../partials/SideBar %>
        <!-- end right side bar-->
    </td>
    <td width="80%" valign="top">



    <!--body begin here-->
   <div align="center">
       <font size="+2" style="text-align: center;"><b>Repertoire Lists for Trumpet</b></font><br />
       <div class="col-md-10 col-md-offset-1">
         <table class="table table-striped" >
           <tr>
             <td>Bach Johann Sebastian:</td>
             <td>Brandenburg Concerto No.2, BWV 1047 </td>
           </tr>
           <tr>
             <td>
               Haydn Joseph:
             </td>
             <td>
               Trumpet Concerto, Hob.VIIe:1 
             </td>
           </tr>
           <tr>
             <td>
               Hummel Johann:
             </td>
             <td>
               Trumpet Concerto in E major, S.49 
             </td>
           </tr>
         </table>
         <br />
              <font size="+2" style="text-align: center;"><b>Trumpet or Cornet and Band or Wind Ensemble</b></font><br />

              <table>
                <tr>
                  <td>Clarke Herbert:</td>
                  <td>The Bride of the Waves </td>
                </tr>
              </table>
<br />
              <font size="+2" style="text-align: center;"><b>Trumpet or Cornet and Piano</b></font><br />

         <table class="table table-striped" >
                <tr>
                <td>
                Balay Guilaume:

                </td>
                <td>
                  Andante et allegro <br />
                  Prélude et ballade <br />
                </td>
                
                </tr>
                <tr>
                <td>
                Clarke Herbert:

                </td>
                <td>
                The Maid of the Mist
                </td>
                </tr>
                <tr>
                <td>
                Enescu George:
                </td>
                <td>
                  Légende 
                </td>
                </tr>
                <tr>
                <td>
                Hansen Thorvald:
                </td>
                <td>
                Concert Waltz <br />
                Romance and Scherzo for Cornet and Piano <br />
                Sonata for Cornet and Piano, Op.18 <br />

                </td>
                
                </tr>
                <tr>
                <td>
                Manookian Jeff:
                </td>
                <td>
                  Trumpet Sonata 
                </td>
                </tr>
                <tr>
                <td>
                Schmitt Florent:
                </td>
                <td>
                  Suite for Trumpet and Piano, Op.133 
                </td>
                </tr>
                <tr>
                <td>
                Saboohi Ehsan:

                </td>
                <td>
                  Mahkoola Dance
                </td>
                </tr>
              </table>
              <br />
                            <font size="+2" style="text-align: center;"><b>Trumpet Ensembles</b></font><br />

              <br />
          <table class="table table-striped" >
                <tr>
                  <td>De Falla Manuel:</td>
                  <td>Fanfare pour une fete </td>
                </tr>
                <tr>
                  <td>Fogg Eric:</td>
                  <td>Fanfare (Fogg, Eric)</td>
                </tr>
                <tr>
                  <td>Harty Herbert:</td>
                  <td>Fanfare </td>
                </tr>
                <tr>
                  <td>Roussel Albert:</td>
                  <td>Fanfare pour un sacre païen </td>
                </tr>
                <tr>
                  <td>Saite Erik:</td>
                  <td>Sonnerie pour reveiller le bon gros Roi des Singes </td>
                </tr>
              </table>
              <br />
                <font size="+2" style="text-align: center;"><b>Brass Ensembles</b></font><br />

              <br />
              <table class="table table-striped" >
                <tr>
                  <td>Hoheme Oskar:</td>
                  <td>Trompeten-Sextett, Op.30 </td>

                </tr>
                <tr>
                  <td>Glazunov Alexander:</td>
                  <td>In modo religioso, Op.38 </td>
                </tr>
                <tr>
                  <td>Ramsoe Wilhelm:</td>
                  <td>Brass Quartet No.2, Op.29. <br />
                  Brass Quartet No.4, Op.37 <br />
                  Brass Quartet No.5, Op.38 <br />
                   </td>
                </tr>
              </table>
              <br />
                <font size="+2" style="text-align: center;"><b>Chamber Ensemble with Trumpet or Cornet</b></font><br />

              <br />
                <table class="table table-striped" >   
                             <tr>
                  <td>Honegger Arthur:</td>
                  <td>Le Dit des Jeux du Monde</td>

                </tr>
                <tr>
                  <td>Indy Vincent:</td>
                  <td>Suite dans le style ancien, Op. 24 </td>
                </tr>
                <tr>
                  <td>Ives Charles:</td>
                  <td>The Unanswered Question </td>
                </tr>
                <tr>
                  <td>Kohler Ernesto:</td>
                  <td>Echo, Op.40 </td>
                </tr>
                <tr>
                  <td>Pierne Gabriel:</td>
                  <td>Pastorale variée, Op.30 </td>
                </tr>
                <tr>
                  <td>Saint Saens Camille:</td>
                  <td>Septuor, Op.65</td>
                </tr>
              </table>
<br />
                <font size="+2" style="text-align: center;"><b>Orchestral Works with Prominent Trumpet or Cornet Parts and Solos</b></font><br />
                <table class="table table-striped" >
                  <tr>
                    <td>Beethoven:</td>
                    <td>
                      Leonora Overture No.2<br />
                      Leonora Overture No.3 <br />
                    </td>
                  </tr>
                  <tr>
                    <td>Debussy Claude:</td>
                    <td>Nocturnes </td>
                  </tr>
                  <tr>
                    <td>Holst:</td>
                    <td>The Planets, Op.32 </td>
                  </tr>
                  <tr>
                    <td>Mahler:</td>
                    <td>Symphony No.5 </td>
                  </tr>
                  <tr>
                    <td>Moussorgsky:</td>
                    <td>Pictures at an Exhibition (arr. Maurice Ravel)</td>
                  </tr>
                  <tr>
                    <td>Ravel:</td>
                    <td>Piano Concerto in G major </td>
                  </tr>
                  <tr>
                    <td>Respighi:</td>
                    <td>Pines of Rome </td>
                  </tr>
                  <tr>
                    <td>Scriabin Aleksandr:</td>
                    <td>Symphony No.4, Op.54 </td>
                  </tr>
                  <tr>
                    <td>Sibelius Jean:</td>
                    <td>Symphony No.2, Op.43 </td>
                  </tr>
                  <tr>
                    <td>Strauss Richard:</td>
                    <td>
                      <ul>
                        <li>Don Juan, Op.20 </li>
                        <li>Also sprach Zarathustra, Op.30 </li>
                        <li>Don Quixote, Op.35 </li>
                        <li>Ein Heldenleben, Op.40 </li>
                        <li>Eine Alpensinfonie, Op.64 </li>
                        <li>Till Eulenspiegels lustige Streiche, Op.28 </li>
                        <li>Tod und Verklärung, Op.24 </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Tchaikovsky:</td>
                    <td>The Nutcracker (ballet), Op.71</td>
                  </tr>
                </table>

                     </div>

   </div>
    <!--end body here-->

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<!--Carl seal start-->
<div align="center"> <br>
  <img alt="" src="/images/Carl-Seal-Low-Res.jpg" height="205" width="200">
</div>
    </td>
    <!--Advertise here section (right hand side bar)-->
    <td>
      <table height="214" width="237" style="margin-right: 15px">
              <tbody>
                <tr>
                  <td valign="top" width="100%" style="text-align: center;"> <br />
                    Advertise here<br>
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top" style="border:1px solid black; "><br>
                            <br>
                            <br>
                            Full size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <table height="187" width="228" cellpadding="2"
                      cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            Half size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    .<br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
    </td>
  </tr>
<!--end body-->
<!--begin footer-->
  <tr>
    <td>&nbsp;</td>
    <td valign="top" align="center">
      Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
    </td>
  </tr>
  <!--end footer-->
  </table>   
<br />
<br />
<br />
    <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<style type="text/css">
  body {
      background: transparent url(/images/background_music_sheets.jpg) ;

  background-repeat: repeat;
}
</style>
</body>
</html>
