<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sheet Music International</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body id="page-top">

<!--Well-->
<% include ../partials/nav %>

  <br />
<table style="margin-left: 5px">
  <tr>
    <td width="15%" style="margin-left: 15px; padding-top: 12px" valign="top">
      <div >
        <br />
        <!--right side bar-->
        <% include ../partials/SideBar %>
        <!-- end right side bar-->
    </td>
    <td width="80%" valign="top">

    <!--body begin here-->
   <div align="center">
       
   <font size="+2" style="text-align: center;"><b>Repertoire Lists for Violin</b></font><br />
            
      <div class="col-md-8 col-md-offset-2">

        <br />
        <br />
                <font size="+2" style="text-align: center;"><b>For Solo Violin</b></font><br />
<br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Bach, Johann Sebastia:
              </td>
              <td>
                <a href="#">Sonatas and Partitas for Solo Violin, BWV 1001-1006</a>
              </td>
            </tr>

            <tr>
              <td>
                Baltzar, Thomas:
              </td>
              <td>
                <a href="#">A Prelude for Solo Violin</a>
              </td>
            </tr>

            <tr>
              <td>
                Banister, John:
              </td>
              <td>
                <a href="#">A Division Upon A Ground Solo</a>
              </td>
            </tr>

            <tr>
              <td>
                Bull, Ole:
              </td>
              <td>
                <a href="#">The Mothers Prayer</a>
              </td>
            </tr>

            <tr>
              <td>
                Corbellini, Vincenzo:
              </td>
              <td>
                <a href="#">Verdi's Rigoletto in 12 studies freely transcribed for Violin solo</a>
              </td>
            </tr>

            <tr>
              <td>
                Dont, Jakob:
              </td>
              <td>
                <a href="#">24 Etudes or Caprices Op.35 for Violin</a>
              </td>
            </tr>

            <tr>
              <td>
                Dworzak von Walden, Eusebio:
              </td>
              <td>
                <a href="#">6 Caprices pour violon, Op.1</a>
              </td>
            </tr>

            <tr>
              <td>
                Ernst, Heinrich Wilhelm:
              </td>
              <td>
                <a href="#">The Last Rose of Summer (Étude No.6)</a> </br>
                <a href="#">Études pour le violon à plusieurs parties</a> </br>
                <a href="#">Grand caprice pour violon seul sur 'Le Roi des Aulnes' de F. Schubert</a>
              </td>
            </tr>

            <tr>
              <td>
                Fiorillo, Federigo:
              </td>
              <td>
                <a href="#">36 Caprices for Violin</a> </br>
                <a href="#">36 Caprices-for 2-violin arrangements</a>
              </td>
            </tr>

            <tr>
              <td>
                Hindmith Paul:
              </td>
              <td>
                <a href="#">Violin Sonata op31 1 acapella violin</a> </br>
                <a href="#">Violin Sonata op31 2 acapella</a>
              </td>
            </tr>

            <tr>
              <td>
                Kreutzer, Rodolphe:
              </td>
              <td>
                <a href="#">Caprices or Etudes</a>
              </td>
            </tr>
            
            <tr>
              <td>
                Nickell, Robbie:
              </td>
              <td>
                <a href="#">Romance for Solo Violin in B-Flat Major</a>
              </td>
            </tr>

            <tr>
              <td>
                Ševcík, Otakar:
              </td>
              <td>
                <a href="#">Violin Studies, Op.7: Studies Preparatory to the Shake and Development in Double-Stopping  part-1</a> 
              </td>
            </tr>

            <tr>
              <td>
                Paganini, Niccolò:
              </td>
              <td>
                <a href="#">24 Caprices for Solo Violin, Op.1</a>
              </td>
            </tr>

            <tr>
              <td>
                Reger, Max:
              </td>
              <td>
                <a href="#">Präludien und Fugen für Violine solo, Op.117 book-1</a> </br>
                <a href="#">Präludien und Fugen für Violine solo, Op.117 book-2</a>
              </td>
            </tr>

            <tr>
              <td>
                Rode, Pierre:
              </td>
              <td>
                <a href="#">24 Caprices for Violin etudes</a> </br>
                <a href="#">12 Etudes for Violin</a>
              </td>
            </tr>

            <tr>
              <td>
                Sauret, Émile:
              </td>
              <td>
                <a href="#">Suite for Violin Solo, Op.68</a>
              </td>
            </tr>

            <tr>
              <td>
                Soldan, Otto:
              </td>
              <td>
                <a href="#">Adagio Religioso Quartet for Violin Alone Op.2</a>
              </td>
            </tr>

            <tr>
              <td>
                St. George Tucker, Tui:
              </td>
              <td>
                <a href="#">Amoroso</a>
              </td>
            </tr>

            <tr>
              <td>
                Tartini, Giuseppe:
              </td>
              <td>
                <a href="#">L'Arte dell' Arco</a>
              </td>
            </tr>

            <tr>
              <td>
                Vecsey, Franz von:
              </td>
              <td>
                <a href="#">Prelude and Fugue for Solo Violin</a>
              </td>
            </tr>

            <tr>
              <td>
                Vieuxtemps, Henri:
              </td>
              <td>
                <a href="#">6 Concert Etudes, Op.16</a> </br>
                <a href="#">36 Etudes for Violin, Op.48</a>
              </td>
            </tr>

            <tr>
              <td>
                Wieniawski, Henryk:
              </td>
              <td>
                <a href="#">8 Etudes for 2 Violins, Op.18</a>
              </td>
            </tr>

            <tr>
              <td>
                Wohlfahrt, Franz:
              </td>
              <td>
                <a href="#">Sixty Studies for the Violin, Op. 45, Part I</a>
              </td>
            </tr>

            <tr>
              <td>
                Yost, Gaylord:
              </td>
              <td>
                <a href="#">The Yost System for Violin Exercises for Change of Position</a>
              </td>
            </tr>

            <tr>
              <td>
                Ysaye, Eugene:
              </td>
              <td>
                <a href="#">Solo Violin Sonata No.1</a> </br>
                <a href="#">Solo Violin Sonata No.2</a> </br>
                <a href="#">Solo Violin Sonata No.3</a> </br>
                <a href="#">Solo Violin Sonata No.4</a> </br>
                <a href="#">Solo Violin Sonata No.5</a> </br>
                <a href="#">Solo Violin Sonata No.6</a>
              </td>
            </tr>

          </table>

          <font size="+2" style="text-align: center;"><b>Violin and Piano</b></font><br />
<br />

          <table class="table table-striped" >
            <tr>
              <td>
                Agrell, Johan:
              </td>
              <td>
                <a href="#">Sonata a Violino Solo (with basso continuo)</a>
              </td>
            </tr>

            <tr>
              <td>
                Albinoni, Tomaso:
              </td>
              <td>
                <a href="#">6 Sonate da Chiesa, Op.4</a>
              </td>
            </tr>

            <tr>
              <td>
                Auer, Leopold:
              </td>
              <td>
                <a href="#">Reverie, Op.3</a> </br>
                <a href="#">Rhapsodie Hongroise, Op.5</a>
              </td>
            </tr>

            <tr>
              <td>
                Bach Carl  Philli  Emanuel:
              </td>
              <td>
                <a href="#">Sonata for Violin and Harpsichord in G minor, H.524.5 (Bach, Carl Philipp Emanuel)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Bach, Johann Sebastian:
              </td>
              <td>
                <a href="#">Suite for Violin and Harpsichord, BWV 1025</a> </br>
                <a href="#">Chaconne violin and piano accompaniment by Mendelssohn</a> </br>
                <a href="#">Sonatas for Violin and Clavier, BWV 1014-1019</a>
              </td>
            </tr>

            <tr>
              <td>
                argiel Wolderman:
              </td>
              <td>
                <a href="#">Violin Sonata Op.10</a>
              </td>
            </tr>

            <tr>
              <td>
                Beethoven, Ludwig van:
              </td>
              <td>
                <a href="#">Rondo for Violin and Piano WoO 41</a> </br>
                <a href="#">Violin Sonata s 1 through 10</a> </br>
                <a href="#">Cello Sonata op5 2 arranged violin piano</a>
              </td>
            </tr>

            <tr>
              <td>
                Brahms:
              </td>
              <td>
                <a href="#">Violin Sonata No.1, Op.78</a> </br>
                <a href="#">Violin Sonata No.2, Op.100</a> </br>
                <a href="#">Violin Sonata No.3, Op.108</a> 
              </td>
            </tr>

            <tr>
              <td>
                Bruch, Max:
              </td>
              <td>
                <a href="#">Swedish Dances, Op.63</a> </br>
                <a href="#">Serenade for Violin and Orchestra, Op.75</a>
              </td>
            </tr>

            <tr>
              <td>
                Brull Ignaz:
              </td>
              <td>
                <a href="#">Violin Sonata No.2, Op.60 (Brüll, Ignaz)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Catoire, Georgy:
              </td>
              <td>
                <a href="#">Elegie for Piano and Violin, Op.26</a>
              </td>
            </tr>

            <tr>
              <td>
                Chabrier, Emmanuel:
              </td>
              <td>
                <a href="#">España</a>
              </td>
            </tr>

            <tr>
              <td>
                Chopin, Frederic
              </td>
              <td>
                <a href="#">Nocturnes Op.9</a> </br>
                <a href="#">Waltz Op.18 Arr. for violin and piano</a> </br>
                <a href="#">Waltz op 18 Brilliante</a> </br>
                <a href="#">Polonaises, Op.26</a> </br>
                <a href="#">Nocturnes Op.27</a>  </br>
                <a href="#">Nocturnes, Op.32</a> </br>
                <a href="#">Waltzes No.1, op 34</a> </br>
                <a href="#">Waltz No. 2 op  34</a> </br>
                <a href="#">Waltz No. 3 op 34</a> </br>
                <a href="#">Waltz, Op.42 Arr.</a> </br>
                <a href="#">Waltzes, Op.64 No.1 and 2</a>
              </td>
            </tr>

            <tr>
              <td>
                Coleridge Taylor Samuel:
              </td>
              <td>
                <a href="#">Violin Sonata, Op.28</a>
              </td>
            </tr>

            <tr>
              <td>
                Davidson, Robert:
              </td>
              <td>
                <a href="#">Davidson Robert: Message Ground (violin version)</a>
              </td>
            </tr>

            <tr>
              <td>
                Debussy, Claude:
              </td>
              <td>
                <a href="#">The Girl with the Flaxen Hair - from Préludes (Hartmann)</a> </br>
                <a href="#">Violin Sonata</a>
              </td>
            </tr>

            <tr>
              <td>
                Elgar, Edward:
              </td>
              <td>
                <a href="#">Salut d'Amour Op.12</a> </br>
                <a href="#">Violin Sonata, Op.82</a>
              </td>
            </tr>

            <tr>
              <td>
                Enescu, George:
              </td>
              <td>
                <a href="#">Impressions of Childhood for Violin and Piano, Op.28</a>
              </td>
            </tr>

            <tr>
              <td>
                Ernst, Heinrich Wilhelm:
              </td>
              <td>
                <a href="#">Le Carnaval de Venise, Op.18</a> </br>
                <a href="#">Fantasie Brillante sur la Marche et la Romance d’Otello de Rossini, Op.11</a> </br>
                <a href="#">Violin Sonata No.1, Op.2</a> </br>
                <a href="#">Violin Sonata No.2, Op.6</a> </br>
                <a href="#">Violin Sonata No.3, Op.25</a> 
              </td>
            </tr>

            <tr>
              <td>
                Faure Gabriel: 
              </td>
              <td>
                <a href="#">Violin Sonata No.1, Op.13</a> </br>
                <a href="#">Violin Sonata No.2, Op.108</a> 
              </td>
            </tr>

            <tr>
              <td>
                Frank Cesar: 
              </td>
              <td>
                <a href="#">Violin Sonata</a>
              </td>
            </tr>

            <tr>
              <td>
                Godard Benjamin Louis Paul: 
              </td>
              <td>
                <a href="#">Violin Sonata No.3, Op.9</a> </br>
                <a href="#">Violin Sonata No.4, Op.12</a> 
              </td>
            </tr>

            <tr>
              <td>
                Goldmark, Karl:
              </td>
              <td>
                <a href="#">Suite No.2 for Violin and Piano, Op.43</a> </br>
                <a href="#">Violin Sonata, Op.25</a>
              </td>
            </tr>

            <tr>
              <td>
                Grieg, Edvard:
              </td>
              <td>
                <a href="#">Peer Gynt Suite No.1, Op.46 (Sitt)</a> </br>
                <a href="#">Violin Sonata No.1, Op.8</a> </br>
                <a href="#">Violin Sonata No.2, Op.13</a> </br>
                <a href="#">Violin Sonata No.3, Op.45</a> 
              </td>
            </tr>

            <tr>
              <td>
                Handel, George Frideric:
              </td>
              <td>
                <a href="#">Violin Sonata, HWV 372</a>
              </td>
            </tr>

            <tr>
              <td>
                Hallman, Joseph:
              </td>
              <td>
                <a href="#">Essay for violin and piano</a>
              </td>
            </tr>

            <tr>
              <td>
                Hoffmeister Franz:
              </td>
              <td>
                <a href="#">Sonata in C op13 violin or flute piano</a>
              </td>
            </tr>

            <tr>
              <td>
                Hindimith Paul:
              </td>
              <td>
                <a href="#">Violin Sonata-C</a> OC </br>
                <a href="#">Violin Sonata-E violin-piano</a> OC </br>
                <a href="#">Violin Sonata op11</a> OC </br>
                <a href="#">Violin Sonata op11-2</a> OC </br>
                <a href="#">Trauermusik violin or viola or cello piano</a>
              </td>
            </tr>

            <tr>
              <td>
                Indy Vincent:
              </td>
              <td>
                <a href="#">Sonata for Violin and Piano, Op. 59</a>
              </td>
            </tr>

            <tr>
              <td>
                Janacek Leos: 
              </td>
              <td>
                <a href="#">Violin Sonata</a> 
              </td>
            </tr>

            <tr>
              <td>
                Kalkbrenner Friedrich: 
              </td>
              <td>
                <a href="#">Sonata for Piano and Flute or Violin, Op.22</a> 
              </td>
            </tr>

            <tr>
              <td>
                Korngold Erich Wolfgang: 
              </td>
              <td>
                <a href="#">Violin Sonata, Op.6</a> 
              </td>
            </tr>

            <tr>
              <td>
                Kreisler Fritz:
              </td>
              <td>
                <a href="#">Praeludium and Allegro</a> OC </br>
                <a href="#">Shon Rosmarian</a> </br>
                <a href="#">Variations on a theme by Corelli</a>
              </td>
            </tr>

            <tr>
              <td>
                Locatelli Beneditto:
              </td>
              <td>
                <a href="#">Sonata E minor</a> OC </br>
                <a href="#">Sonata-2</a> OC </br>
                <a href="#">Sonata-4</a> OC </br>
                <a href="#">Sonata-6</a> OC
              </td>
            </tr>

            <tr>
              <td>
                MacDowell, Edward:
              </td>
              <td>
                <a href="#">To a Humming Bird from 6 Fancies, Op.7 No.2</a>
              </td>
            </tr>

            <tr>
              <td>
                Massenet, Jules:
              </td>
              <td>
                <a href="#">Thais Meditation for Violin and Piano</a>
              </td>
            </tr>

            <tr>
              <td>
                Medtner Nikolav:
              </td>
              <td>
                <a href="#">Violin Sonata No. 1, Op. 21</a> </br>
                <a href="#">Violin Sonata No.2, Op.44</a> </br>
                <a href="#">Violin Sonata No.3, Op.57</a>
              </td>
            </tr>

            <tr>
              <td>
                Monti, Vittorio:
              </td>
              <td>
                <a href="#">Csárdás</a>
              </td>
            </tr>

            <tr>
              <td>
                Mozart, Wolfgang Amadeus:
              </td>
              <td>
                <a href="#">Ave verum corpus, K.618 Arr.</a> </br>
                <a href="#">Violin Sonatas 1-18 (Mozart)</a>
              </td>
            </tr>

            <tr>
              <td>
                Napravnik Eduard Frantsovitch:
              </td>
              <td>
                <a href="#">Violin Sonata, Op.52</a> 
              </td>
            </tr>

            <tr>
              <td>
                Nielsen Carl:
              </td>
              <td>
                <a href="#">Violin Sonata No.1, Op.9</a> </br>
                <a href="#">Violin Sonata No.2, Op.35</a> 
              </td>
            </tr>

            <tr>
              <td>
                Paganini, Niccolò
              </td>
              <td>
                <a href="#">La Streghe, Op.8</a>
              </td>
            </tr>

            <tr>
              <td>
                Raff, Joseph Joachim
              </td>
              <td>
                <a href="#">Improvistation Liebesfee</a> </br>
                <a href="#">Violin Sonata No.1, Op.73</a> </br>
                <a href="#">Violin Sonata No.2, Op.78</a> </br>
                <a href="#">Violin Sonata No.3, Op.128</a> </br>
                <a href="#">Violin Sonata No.4, Op.129</a> </br>
                <a href="#">Violin Sonata No.5, Op.145</a> 
              </td>
            </tr>

            <tr>
              <td>
                Ravel Maurice: 
              </td>
              <td>
                <a href="#">Sonata No.2 for Violin and Piano</a> </br>
                <a href="#">Sonata for Violin and Cello</a> 
              </td>
            </tr>

            <tr>
              <td>
                Rubenstein Anton:
              </td>
              <td>
                <a href="#">Violin Sonata No.1, Op.13</a> </br>
                <a href="#">Violin Sonata No.2, Op.19</a> 
              </td>
            </tr>

            <tr>
              <td>
                Schubert, Franz:
              </td>
              <td>
                <a href="#">Fantasy for Violin and Piano</a> </br>
                <a href="#">Schwanengesang, D.957 Tr.script.</a>
              </td>
            </tr>

            <tr>
              <td>
                Saintt George Tucker Tui: 
              </td>
              <td>
                <a href="#">Sonata for Violin and Piano</a> 
              </td>
            </tr>

            <tr>
              <td>
                Saint Saens Camille:
              </td>
              <td>
                <a href="#">Violin Sonata No.1, Op.75</a> </br>
                <a href="#">Violin Sonata No.2, Op.102</a> 
              </td>
            </tr>

            <tr>
              <td>
                Sarasate, Pablo de:
              </td>
              <td>
                <a href="#">Spanish Dances Nos. 3 and 4, Op.22</a>
              </td>
            </tr>

            <tr>
              <td>
                Schulhoff Erwin: 
              </td>
              <td>
                <a href="#">Violin Sonata</a>
              </td>
            </tr>

            <tr>
              <td>
                Schumann Robert:
              </td>
              <td>
                <a href="#">Violin Sonata No. 1, Op. 105</a> </br>
                <a href="#">Violin Sonata No.2, Op.121</a>
              </td>
            </tr>

            <tr>
              <td>
                Sibelius, Jean:
              </td>
              <td>
                <a href="#">Sonatina for Violin and Piano, Op.80
              </td>
            </tr>

            <tr>
              <td>
                Sinding, Christian:
              </td>
              <td>
                <a href="#">Suite in F Major for Violin and Piano</a> </br>
                <a href="#">4 Stücke for Violin and Piano, Op.81</a> </br>
                <a href="#">Violin Sonata, Op.12</a> </br>
                <a href="#">Violin Sonata No.3, Op.73</a>
              </td>
            </tr>

            <tr>
              <td>
                Stenhammar Wilhelm:
              </td>
              <td>
                <a href="#">Violin Sonata, Op.19</a>
              </td>
            </tr>

            <tr>
              <td>
                Stojowski Sigismond: 
              </td>
              <td>
                <a href="#">Violin Sonata No.1, Op.13</a> </br>
                <a href="#">Violin Sonata No.2, Op.37</a> 
              </td>
            </tr>

            <tr>
              <td>
                Rachmaninoff, Sergei:
              </td>
              <td>
                <a href="#">2 Pieces for violin and piano, Op.6
              </td>
            </tr>

            <tr>
              <td>
                Tchaikovsky, Pyotr:
              </td>
              <td>
                <a href="#">Sérénade mélancolique, Op.26</a>
              </td>
            </tr>

            <tr>
              <td>
                Thuille Ludwig:
              </td>
              <td>
                <a href="#">Violin Sonata, Op.30</a> 
              </td>
            </tr>

            <tr>
              <td>
                Vierne Louis:
              </td>
              <td>
                <a href="#">Violin Sonata, Op.23</a>
              </td>
            </tr>

            <tr>
              <td>
                Wieniawski, Henryk 
              </td>
              <td>
                <a href="#">Polonaise Brillante No.2, Op.21</a>
              </td>
            </tr>

            <tr>
              <td>
                Wolf Ferrari Ermanno:
              </td>
              <td>
                <a href="#">Violin Sonata No.1, Op.1</a> </br>
                <a href="#">Sonata for Violin and Piano No.2 in A minor, Op.10</a>
              </td>
            </tr>

          </table>


          <font size="+2" style="text-align: center;"><b>Violin Concertos</b></font><br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Accolay Jean Baptiste:
              </td>
              <td>
                <a href="#">Violin Concerto in A Minor</a> </br>
                <a href="#">Violin Concerto in D Minor</a>
              </td>
            </tr>

            <tr>
              <td>
                Arensky:
              </td>
              <td>
                <a href="#">Violin Concerto, Op.54</a>
              </td>
            </tr>

            <tr>
              <td>
                Anzoletti-Marco
              </td>
              <td>
                <a href="#">Violin Concerto</a>
              </td>
            </tr>

            <tr>
              <td>
                Bach Johan Sebastian  (1685-1750):
              </td>
              <td>
                <a href="#">Concerto a minor BWV 1041</a> </br>
                <a href="#">Concerto E-Major BWV 1042</a> </br>
                <a href="#">Double Violin Concerto D Minor BWV 1043</a> </br>
                <a href="#">Triple Concerto 3 violins BWV 1064</a>
              </td>
            </tr>

            <tr>
              <td>
                Bartok Bela  (1881-1945):
              </td>
              <td>
                <a href="#">Concerto 1</a> </br>
                <a href="#">Concerto 2</a> </br>
              </td>
            </tr>

            <tr>
              <td>
                Beethoven Ludwig-Van  (1770-1827):
              </td>
              <td>
                <a href="#">Violin Concerto</a>
              </td>
            </tr>

            <tr>
              <td>
                Beroit:  (1802-1870):
              </td>
              <td>
                <a href="#">Violin Concertos 1-10</a>
              </td>
            </tr>

            <tr>
              <td>
                Berg Alban:   (1885-1935)
              </td>
              <td>
                <a href="#">Violin Concerto 'To the Memory of an Angel'</a>
              </td>
            </tr>

            <tr>
              <td>
                Brahms Johannes:  (1833-1987):
              </td>
              <td>
                <a href="#">Violin Concerto, Op.77</a>
              </td>
            </tr>

            <tr>
              <td>
                Bruch Max:  (1838-1920):
              </td>
              <td>
                <a href="#">Violin Concerto No.1, Op.26</a> </br>
                <a href="#">Violin Concerto No.2, Op.44</a>
              </td>
            </tr>

            <tr>
              <td>
                Dvorak Anton  (1841-1904):
              </td>
              <td>
                <a href="#">Violin Concerto, Op.53</a>
              </td>
            </tr>

            <tr>
              <td>
                Elgar Edward  (1857-1934):
              </td>
              <td>
                <a href="#">Violin Concerto, Op.61</a>
              </td>
            </tr>

            <tr>
              <td>
                Glazunov Alexander:
              </td>
              <td>
                <a href="#">Violin Concerto in a, Op.82</a>
              </td>
            </tr>

            <tr>
              <td>
                Goldmark Carl  (1830-1915):
              </td>
              <td>
                <a href="#">Violin Concerto, Op.28</a>
              </td>
            </tr>

            <tr>
              <td>
                Hindimith Paul: (1895-1963):
              </td>
              <td>
                <a href="#">Violin-Concerto</a>
              </td>
            </tr>

            <tr>
              <td>
                Joachim Joseph:
              </td>
              <td>
                <a href="#">Violin Concerto No. 2, Op.11</a>
              </td>
            </tr>

            <tr>
              <td>
                Korngold Erich Wolfgang (1987-1957):
              </td>
              <td>
                <a href="#">Violin Concerto</a> 
              </td>
            </tr>

            <tr>
              <td>
                Kruetzer Rodolphe  (1766-1831):
              </td>
              <td>
                <a href="#">Violin Concerto No.17</a> </br>
                <a href="#">Violin Concerto No. 12 A Major</a> </br>
                <a href="#">Violin Concerto No. 13 D Major</a> </br>
                <a href="#">Violin Concerto No. 18</a> </br>
                <a href="#">Violin Concerto No. 19</a>
              </td>
            </tr>

            <tr>
              <td>
                Mendelssohn Felix  (1809-1847):
              </td>
              <td>
                <a href="#">Violin Concerto, Op.64</a>
              </td>
            </tr>

            <tr>
              <td>
                Moszkowski Moritz:
              </td>
              <td>
                <a href="#">Violin Concerto, Op.30</a>
              </td>
            </tr>

            <tr>
              <td>
                Mozart Wolfgang Amadeus  (1756-1791):
              </td>
              <td>
                <a href="#">Violin Concerto No.1, K.207</a> </br>
                <a href="#">Violin Concerto No.2, K.211</a> </br>
                <a href="#">Violin Concerto No.3, K.216</a> </br>
                <a href="#">Violin Concerto No.4, K.218</a> </br>
                <a href="#">Violin Concerto No.5, K.219</a>
              </td>
            </tr>

            <tr>
              <td>
                Nielsen Carl  (1865-1931):
              </td>
              <td>
                <a href="#">Violin Concerto, Op.33 (Nielsen, Carl)</a>
              </td>
            </tr>

            <tr>
              <td>
                Paganini Niccolo  (1782-1840):
              </td>
              <td>
                <a href="#">Violin Concerto No.1, Op.6</a> </br>
                <a href="#">Violin Concerto No.2, Op.7</a> </br>
                <a href="#">Violin Concerto No.3</a> </br>
                <a href="#">Violin Concerto No.4</a> </br>
                <a href="#">Violin Concerto No.5</a> 
              </td>
            </tr>

            <tr>
              <td>
                Petersen Berger Wilheml (1867-1942):
              </td>
              <td>
                <a href="#">Violin Concerto</a> 
              </td>
            </tr>

            <tr>
              <td>
                Prokofiev Sergey  (1891-1953):
              </td>
              <td>
                <a href="#">Violin Concerto No. 1 op19</a> </br>
                <a href="#">Violin Concerto No.2, Op.63</a> 
              </td>
            </tr>

            <tr>
              <td>
                Saint Saens Camille  1835-1921:
              </td>
              <td>
                <a href="#">Violin Concerto No. 1</a> </br>
                <a href="#">Violin Concerto No. 2</a> </br>
                <a href="#">Violin Concerto No.3, Op.61</a>
              </td>
            </tr>

            <tr>
              <td>
                Schumann Robert:
              </td>
              <td>
                <a href="#">Violin Concerto in D minor (1853)</a>
              </td>
            </tr>

            <tr>
              <td>
                Seitz:
              </td>
              <td>
                <a href="#">Violin concertos  1-8</a>
              </td>
            </tr>

            <tr>
              <td>
                Sibelius Jean  (1865-1957):
              </td>
              <td>
                <a href="#">Violin Concerto, Op.47</a>
              </td>
            </tr>

            <tr>
              <td>
                Sphor Louis  (1784-1859):
              </td>
              <td>
                <a href="#">Violin Concerto No.1</a> </br>
                <a href="#">Violin Concerto No.2</a> </br>
                <a href="#">Violin Concerto No.3</a> </br>
                <a href="#">Violin Concerto No.4</a> </br>
                <a href="#">Violin Concerto No.5</a> </br>
                <a href="#">Violin Concerto No.6</a> </br>
                <a href="#">Violin Concerto No.7</a> </br>
                <a href="#">Violin Concerto No.8 Op.47</a> </br>
                <a href="#">Violin Concerto No.9</a> </br>
                <a href="#">Violin Concerto No.10</a>
              </td>
            </tr>

            <tr>
              <td>
                Strauss Richard  (1864-1949):
              </td>
              <td>
                <a href="#">Violin-Concerto</a>
              </td>
            </tr>

            <tr>
              <td>
                Svendsen Johan:
              </td>
              <td>
                <a href="#">Violin Concerto, Op.6</a>
              </td>
            </tr>

            <tr>
              <td>
                Tcahikovsky Pyotr   (1840-1893):
              </td>
              <td>
                <a href="#">Violin Concerto, Op.35</a> 
              </td>
            </tr>

            <tr>
              <td>
                Vieuxtemps Henri  (1821-1880):
              </td>
              <td>
                <a href="#">Violin Concerto No.1</a> </br>
                <a href="#">Violin Concerto No.2, Op.19</a> </br>
                <a href="#">Violin Concerto No.3, Op.25</a> </br>
                <a href="#">Violin Concerto No.4, Op.31</a> </br>
                <a href="#">Violin Concerto No.5, Op.37</a> </br>
                <a href="#">Violin Concerto No.7, Op.49</a> </br>
                <a href="#">Violin Concerto No.8</a> 
              </td>
            </tr>

            <tr>
              <td>
                Viotti Giovanni Battista   (1755-1824):
              </td>
              <td>
                <a href="#">Violin Concerto No.2</a> </br>
                <a href="#">Violin Concerto No.4</a> </br>
                <a href="#">Violin Concerto No.13</a> </br>
                <a href="#">Violin Concerto No.15</a> </br>
                <a href="#">Violin Concerto No.18</a> </br>
                <a href="#">Violin Concerto No.19</a> </br>
                <a href="#">Violin Concerto No.20</a> </br>
                <a href="#">Violin Concerto No.22</a> </br>
                <a href="#">Violin Concerto No.23</a> </br>
                <a href="#">Violin Concerto No.24</a> </br>
                <a href="#">Violin Concerto No.28</a> </br>
                <a href="#">Violin Concerto No.29</a> 
              </td>
            </tr>

            <tr>
              <td>
                Vivaldi Antonio   (1678-1741):
              </td>
              <td>
                <a href="#">Violin Concerto a minor RV356 (most popular)</a> </br>
                <a href="#">Vivaldi Concerto a minor RV522</a> </br>
                <a href="#">Violin Concerto E Major RV269</a> </br>
                <a href="#">Violin Concerto F Major RV293</a> </br>
                <a href="#">Double Violin Concerto a minor RV522</a> </br>
                <a href="#">Double Violin Concerto D minor RV565</a> </br>
                Four Seasons: </br>
                <a href="#">Spring</a> </br>
                <a href="#">Summer</a> </br>
                <a href="#">Autumn</a> </br>
                <a href="#">Winter</a> 
              </td>
            </tr>

            <tr>
              <td>
                Wieniawski Henry:
              </td>
              <td>
                <a href="#">Violin Concerto No.1, Op.14</a> </br>
                <a href="#">Violin Concerto No.2, Op.22</a> 
              </td>
            </tr>

            </table>

            <font size="+2" style="text-align: center;"><b>For Violin and Orchestra</b></font><br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Beethoven:
              </td>
              <td>
                <a href="#">Romance for Violin and Orchestra Op.50</a>  </br>
                <a href="#">Romance for Violin and Orchestra Op.40</a>  
              </td>
            </tr>

            <tr>
              <td>
                Bruch Max:
              </td>
              <td>
                <a href="#">Adagio appassionato for Violin and Orchestra, Op. 57</a>  </br>
                <a href="#">Concertstück for Violin and Orchestra, Op.84</a> 
              </td>
            </tr>

            <tr>
              <td>
                Chausson Ernest:
              </td>
              <td>
                <a href="#">Poème, Op.25</a> 
              </td>
            </tr>

            <tr>
              <td>
                Sarsate Pablo: 
              </td>
              <td>
                <a href="#">Zigeunerweisen, Op.20</a>  </br>
                <a href="#">Introduction et Caprice Jota Op.41</a> 
              </td>
            </tr>

            </table>

            <font size="+2" style="text-align: center;"><b>Violin Duets (violin and a second instrument)</b></font><br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Collection: Reiter (violin-any string Instrument):
              </td>
              <td>
                <a href="#">Music of the Masters Volume 1</a>  </br>
                <a href="#">Music of the Masters Volume 2</a>  </br>
                <a href="#">Music of the Masters Volume 3</a>  </br>
              </td>
            </tr>

            <tr>
              <td>
                Bach Johan Sebastian:
              </td>
              <td>
                <a href="#">Violin-Duet-BWV-802-805-4-duets</a>  </br>
                <a href="#">Violin-Viola-Duet-BWV-802-805-4-duets</a>  </br>
                <a href="#">Violin-Viola-Duet-2-part-inventions-1-14-BWV-772-786</a> 
              </td>
            </tr>

            <tr>
              <td>
                Bach C.P.E.
              </td>
              <td>
                <a href="#">Flute-Violin-Duet-H598</a> 
              </td>
            </tr>

            <tr>
              <td>
                Beroit Charles De Beriot:
              </td>
              <td>
                <a href="#">Violin-Duet-op87-12-easy-duets</a> 
              </td>
            </tr>

            <tr>
              <td>
                Boccherini:
              </td>
              <td>
                <a href="#">Violin-Duets-5</a> 
              </td>
            </tr>

            <tr>
              <td>
                Campagnoli, Bartolomeo:
              </td>
              <td>
                <a href="#">7 Divertimenti, Op.18</a> 
              </td>
            </tr>

            <tr>
              <td>
                Cervetto, James:
              </td>
              <td>
                <a href="#">6 Duets, Op.5</a> 
              </td>
            </tr>

            <tr>
              <td>
                Dancla, Charles:
              </td>
              <td>
                <a href="#">Violin-Violin-or-Vl-Cello-Duet-6-duets-op52</a>  </br>
                <a href="#">Violin-Duet-3-duet-op25</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op15</a>  </br>
                <a href="#">Violin-Duet-2-Duets-op19-op20</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op23</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op24</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op32</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op33</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op34</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op35</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op60</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op61</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op62</a>  
              </td>
            </tr>

            <tr>
              <td>
                Dont Jacob:
              </td>
              <td>
                <a href="#">30-Progressive-exercises-op38-for-2-Violins</a> 
              </td>
            </tr>

            <tr>
              <td>
                Gaviniès, Pierre:
              </td>
              <td>
                <a href="#">24 Matinées</a> 
              </td>
            </tr>

            <tr>
              <td>
                Gliere Reinhold:
              </td>
              <td>
                <a href="#">Violin-Duets-12-Duets</a> 
              </td>
            </tr>

            <tr>
              <td>
                Grayson, Martin:
              </td>
              <td>
                <a href="#">Ludi Musici - Six Pieces for 2 Violins</a> 
              </td>
            </tr>

            <tr>
              <td>
                Harrington, Jeffrey Michael
              </td>
              <td>
                <a href="#">Grand Duo for Two Violins (Harrington, Jeffrey Michael)</a>  </br>
                <a href="#">Nocturne for Violin Duo (Harrington, Jeffrey Michael)</a> 
              </td>
            </tr>

            <tr>
              <td>
                Haydn Franz Joseph:
              </td>
              <td>
                <a href="#">6-Sonatas-violin-violin</a>  </br>
                <a href="#">Violin-Duet-3-duets op99</a>  </br>
                <a href="#">Violin-Viola-Duet-B-flat</a>  
              </td>
            </tr>

            <tr>
              <td>
                Hoffmeister:
              </td>
              <td>
                <a href="#">Violin-Viola-Duet-op7-3-duets</a>  </br>
                <a href="#">Violin-Cello-Duet-op6-3-duets</a>  
              </td>
            </tr>

            <tr>
              <td>
                Jansa, Leopold:
              </td>
              <td>
                <a href="#">6 Duos for 2 Violins, Op.74</a> 
              </td>
            </tr>

            <tr>
              <td>
                Kreutzer, Rudolphe:
              </td>
              <td>
                <a href="#">3 Violin Duos, Op.11</a> 
              </td>
            </tr>

            <tr>
              <td>
                Krommer, Franz:
              </td>
              <td>
                <a href="#">3 Duos, Op.22</a>  </br>
                <a href="#">3 Duos, Op.51</a>  </br>
                <a href="#">3 Duos, Op.54</a>  </br>
                <a href="#">3 Violin Duos, Livre I</a> 
              </td>
            </tr>

            <tr>
              <td>
                Leclair:
              </td>
              <td>
                <a href="#">Violin-Duet</a>  </br>
                <a href="#">Duo-Sonatas-2-Violins-6-sonatas</a> 
              </td>
            </tr>

            <tr>
              <td>
                Mazas:
              </td>
              <td>
                <a href="#">Violin Duet op38-18-duets-2</a>  </br>
                <a href="#">Violin-Duets-op86-Book-1-2</a>  </br>
                <a href="#">Violin-Duet-Fifteen-Duets-Abecedaires-op86</a>  </br>
                <a href="#">Violin-Duet-Six-Duets-op39-complete</a>  </br>
                <a href="#">Violin-DuetSix-Duets-op-40</a>  </br>
                <a href="#">Violin-Duet-Six-Duets-op41</a>  </br>
                <a href="#">Twelve-Progressive=Duets-op70</a>  
              </td>
            </tr>

            <tr>
              <td>
                Mozart Wolfgang:
              </td>
              <td>
                <a href="#">Clarinet-Duets-12-horn-duets-K487</a>  
              </td>
            </tr>

            <tr>
              <td>
                Mussini, Niccolo:
              </td>
              <td>
                <a href="#">3 Duos, Op.1</a> 
              </td>
            </tr>

            <tr>
              <td>
                Paulinyi, Zoltan:
              </td>
              <td>
                <a href="#">Biduo d'ouro</a> 
              </td>
            </tr>

            <tr>
              <td>
                Pleyel Ignaz:
              </td>
              <td>
                <a href="#">Flute-Violin 3 Duos, B.5408</a>  </br>
                <a href="#">Violin-Cello-Duo in C major, B.525 (Pleyel, Ignaz)</a>  </br>
                <a href="#">Violin-Cello-6 Duos, B.574-579 op48</a>  </br>
                <a href="#">Violin-Duet-6 Duos, B.501-506</a>  </br>
                <a href="#">Violin-Duet-6 Duos, B.507-512 </br>
                <a href="#">Violin-Duet-6 Duos, B.513-518 op23</a>  </br>
                <a href="#">Violin-Duet 3 Duos, B.526-528 op69</a>  </br>
                <a href="#">Violin-Duet 3 Duos, B.529-531</a>  </br>
                <a href="#">Violin-Duet 6 Duos, B.538-543 op8</a>  </br>
                <a href="#">Violin-Duet 6 Duos, B.544-54</a> 
              </td>
            </tr>

            <tr>
              <td>
                Rode Pierre:
              </td>
              <td>
                <a href="#">Violin-Duet-op1-2-6-duets</a> 
              </td>
            </tr>

            <tr>
              <td>
                Rolla Alessandro:
              </td>
              <td>
                <a href="#">Violin-Duet-BI-151-178-207-3-duets</a>  </br>
                <a href="#">Violin-Duet-BI-233-192-113-173-145-128-6-duets</a>  </br> 
                <a href="#">Violin-Duet-BI-277-299-166-3-duets</a>  </br>
                <a href="#">Violin-Duet-op03-BI-159-195-188</a>  </br>
                <a href="#">Violin-Duet-op03-BI-159-195-188-3-duets</a>  </br>
                <a href="#">Violin-Duet-op04-BI-184-160-137-3-duets</a>  </br>
                <a href="#">Violin-Duet-op05-BI-231-135-158</a>  </br>
                <a href="#">Violin-Duet-op06-BI-183-121-153</a>  </br>
                <a href="#">Violin-Duet-op18-3-duets</a>  </br>
                <a href="#">Violin-Duet-op20-3-duets</a>  </br>
                <a href="#">Violin-Duet-op22-3-duets</a>  </br>
                <a href="#">Violin-Duet-op25-3-duets</a>  </br>
                <a href="#">Violin-Duet-op04-BI-161-122-185</a>  </br>
                <a href="#">Violin-Duet-VI-159-195-188-3-duets</a>  </br>
                <a href="#">Violin-Viola-Duet-3-serenades-op14</a>  </br>
                <a href="#">Violin-Viola-Duet-op02-3-duets</a>  </br>
                <a href="#">Violin-Viola-Duet-op04-3-duets</a>  </br>
                <a href="#">Violin-Viola-Duet-op08-3-duets</a>  </br>
                <a href="#">Violin-Viola-Duet-op10-3-duets</a>  </br>
                <a href="#">Violin-Viola-Duet-op18-3-duets</a>  </br>
                <a href="#">Violin-Viola-Duet-op153</a>  </br>
                <a href="#">Violin-Viola-Duet-Three-Grand-Duets</a>  
              </td>
            </tr>

            <tr>
              <td>
                Sirmen, Maddalena:
              </td>
              <td>
                <a href="#">Duo in C for 2 Violins</a> 
              </td>
            </tr>

            <tr>
              <td>
                Spohr, Louis:
              </td>
              <td>
                <a href="#">Violin-Duet-1-op148</a>  </br>
                <a href="#">Violin-Duet-2-duets-op9</a>  </br>
                <a href="#">Violin-Duet-2-op150</a>  </br>
                <a href="#">Violin-Duet-3-duets-op</a>  </br>
                <a href="#">Violin-Duet-3-Duets-op67</a>  </br>
                <a href="#">Violin-Duet-3-op153</a>  </br>
                <a href="#">Violin-Duet-Three-Duets-op3</a> 
              </td>
            </tr>

            <tr>
              <td>
                Telemann George-Phillip:
              </td>
              <td>
                <a href="#">Violin-Duet-In G (or Fl-Vln)</a>  </br>
                <a href="#">Violin-Duet-Intrada-Suite</a>  </br>
                <a href="#">Violin-Duet-6-Canonic-Sonatas</a>  </br>
                <a href="#">6-sonatas-2-flutes-or-2-violins-op2-TWV40-101-106</a>  </br>
                <a href="#">Flute-6-Duets-Telemann-TWV40-124-129</a>  
              </td>
            </tr>

            <tr>
              <td>
                Viotti:
              </td>
              <td>
                <a href="#">Violin-Duet-3-duets-W4-25-27</a>  </br>
                <a href="#">Violin-Duet-6-duets-W4-7-12</a>  </br>
                <a href="#">Violin-Duet-6-duets-W4-19-24</a>  </br>
                <a href="#">Violin-Duet-6-violin-duets-W4-4-9</a>  </br>
                <a href="#">Violin-Duet 3-Serenades-Wr34-36</a>  </br>
                <a href="#">Violin-Duet-3 Serenades-W4.31-33</a>  </br>
                <a href="#">Violin-Duet-3-duets-W4-10-12</a>  </br>
                <a href="#">Violin-Duet-3-duets-W4-19-21op</a>  </br>
                <a href="#">Violin-Duet-3-duets-W4-28-30</a>  </br>
                <a href="#">Violin-Duet-3-duets-W-22-24</a>  </br>
                <a href="#">Violin-Duet-6-Sonatas-1-3-W5-1-4</a>  </br>
                <a href="#">Violin-Duet-6-Sonatas-4-6-W5-4-6</a>  </br>
                <a href="#">Violin-Duets-3-duets-W4-13-15</a>  </br>
                <a href="#">Violin-Duets-3-duets-W4-16-18</a>  
              </td>
            </tr>

            <tr>
              <td>
                Wienaiwski Henri
              </td>
              <td>
                <a href="#">Caprices-Etudes-2-violins</a> 
              </td>
            </tr>

            </table>

            <font size="+2" style="text-align: center;"><b>Studios, Etudes, Carpices, Exercises, and Scales:</b></font><br />

          <table class="table table-striped" >
           
            <tr>
              <td>
                Studies:
              </td>
              <td>
                <a href="#">Bruni</a>  </br>
                <a href="#">Dancla Charles</a>  </br>
                <a href="#">Dont Jacob</a> </br>
                <a href="#">Ernst Heinrich</a> </br>
                <a href="#">Fiorillo Federigo</a> </br>
                <a href="#">Kayser Heinrich</a> </br>
                <a href="#">Kruetzer</a> </br>
                <a href="#">Mazas Jacques</a> </br>
                <a href="#">Paganini Niccolo</a> </br>
                <a href="#">Rode Pierre</a> </br>
                <a href="#">Schradieck</a> </br>
                <a href="#">Sevcik Otakar</a> </br>
                <a href="#">Sitt Hans</a> </br>
                <a href="#">Vieutemps Henri 6 concert etudes</a> </br>
                <a href="#">Vieutemps Henri 36 etudes</a> </br>
                <a href="#">Wienaiwski Henri (Caprices for 2 violins)</a> </br>
                <a href="#">Wohlfahrt-Franz</a> 
              </td>
            </tr>

            <tr>
              <td>
                Scale Studies:
              </td>
              <td>
                <a href="#">Flesch Carl: Scale System</a> </br>
                <a href="#">Hirmalay Scale Studies</a> </br>
                <a href="#">Reiter Scales Studies for Strings: Violin-Viola-Cello-Bass</a>
                    includes scale songs in each key for string classes. </br>
                <a href="#">Schradieck Henry</a> </br>
                <a href="#">Wessely Scale-Studies</a>
              </td>
            </tr>

            </table>

      </div>      

   </div>
    <!--end body here-->

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<!--Carl seal start-->
<div align="center"> <br>
  <img alt="" src="/images/Carl-Seal-Low-Res.jpg" height="205" width="200">
</div>
    </td>
    <!--Advertise here section (right hand side bar)-->
    <td>
      <table height="214" width="237" style="margin-right: 15px">
              <tbody>
                <tr>
                  <td valign="top" width="100%" style="text-align: center;"> <br />
                    Advertise here<br>
                    <br>
                    <table width="100%" cellpadding="2" cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top" style="border:1px solid black; "><br>
                            <br>
                            <br>
                            Full size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <table height="187" width="228" cellpadding="2"
                      cellspacing="2" border="1">
                      <tbody>
                        <tr>
                          <td valign="top"><br>
                            <br>
                            Half size add<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    .<br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
    </td>
  </tr>
<!--end body-->
<!--begin footer-->
  <tr>
    <td>&nbsp;</td>
    <td valign="top" align="center">
      Sheet Music International<br />
      Copyright 2016 all rights reserved<br />
      Website Managed by Carl Reiter<br />
    </td>
  </tr>
  <!--end footer-->
  </table>   
<br />
<br />
<br />
    <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <style type="text/css">
  body {
      background: transparent url(/images/background_music_sheets.jpg) ;
  background-repeat: repeat;
}
  </style>

</body>
</html>
